{{#extend "header"}}
	<title>投诉处理</title>
	<link rel="stylesheet" href="/css/sue.css" />
{{/extend}}

<div class="main">
	<header class="main_head">
		<nav class="nav"><a href="javascript:;" class="back _goback" ></a>投诉处理</nav>
	</header>
</div>
<div class="container" id="container">
	<!--<div class="sue_list">-->
		<!--<ul>-->
			<!--<li>投诉订单编号：<span>201603041123</span></li>-->
			<!--<li>商品名称：<span>法国波尔多干红葡萄酒</span></li>-->
			<!--<li>订单时间：<span>2016-01-31 11:21:12</span></li>-->
			<!--<li>状态：<span>未解决</span><span class="check_detail">查看投诉</span></li>-->
		<!--</ul>-->
	<!--</div>-->
	<!--<div class="sue_list">-->
		<!--<ul>-->
			<!--<li>投诉订单编号：<span>201603041123</span></li>-->
			<!--<li>商品名称：<span>法国波尔多干红葡萄酒</span></li>-->
			<!--<li>订单时间：<span>2016-01-31 11:21:12</span></li>-->
			<!--<li>状态：<span>未解决</span><span class="check_detail">查看投诉</span></li>-->
		<!--</ul>-->
	<!--</div>-->
	<div class="sue_none">“没有更多投诉了”</div>
</div>
<script src="/js/lib/require.js" defer async="true" data-main="/js/tousu.js"></script>