{{#extend "header"}}
    <title>投诉处理</title>
    <link rel="stylesheet" href="/css/sue.css" />
{{/extend}}

    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:;" class="back _goback" ></a>投诉处理</nav>
        </header>
   </div>
   <div class="container">
       <div class="sue_refuse">
           <div class="sue_text">
              <p>回复：</p>
               <textarea id="reply" rows="10" placeholder="请输入"></textarea>
          </div>
          <div class="button">提交</div>
       </div> 
   </div>
    <script src="/js/lib/require.js" defer async="true" data-main="/js/tousucl.js"></script>