{{#extend "header"}}
    <title>退货管理</title>
    <meta name="keywords" content="">
    <meta name="description" content="" >
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/management.css" />
{{/extend}}
    <header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>退货管理</nav>
    </header>
    <div class="ui-nothing-find" style="display:none;">
        <div>
            <dl>
                <dd style="background-position: -70px 0; width:80px;"></dd>
                <dt style="line-height: 45px;">您还没有新的消息</dt>
            </dl>
        </div>
    </div>
    <div class="mana_y">
        <!--<div class="mana_gl">
            <div class="mana_gl_1 mana_gl_6 clearfix">
                <div class="mana_gl_l">
                    <a href="javascript:;"><img src="images/return_mana2.jpg" /></a>
                </div>
                <div class="mana_gl_r">
                    <h2><a href="javasctipt:;"><nobr>宾利凤凰赤霞珠红葡萄酒宾利凤凰赤红葡萄酒宾利凤凰赤霞珠红葡萄酒</nobr></a></h2>
                    <h3><a href="javasctipt:;"><nobr>Penley Estate Phoenix</nobr></a></h3>
                    <p class="dred"><a href="javasctipt:;">￥306</a></p>
                </div>
            </div>
            <div class="mana_gl_2 mana_gl_6">退款金额：￥183</div>
            <div class="mana_gl_3 mana_gl_6">
                <span class="mana_gl_l">退款原因:</span>
                <p class="mana_gl_r">口感太涩，单宁驳杂，沉淀物甚是繁多，最主要的我明明醒了很久，开盖醒了快1个月了才喝的。太涩了。</p>
            </div>
            <div class="mana_gl_4 mana_gl_6">
                <span class="mana_gl_i">商品图片:</span>
                <div class="mana_gl_img">
                    <p><img src="images/return_mana.jpg" /></p>
                    <p><img src="images/return_mana1.jpg" /></p>
                </div>
            </div>
            <div class="mana_gl_5 mana_gl_6">
                <a href="javascript:;" class="mana_gl_t">同意退货</a>
                <a href="javascript:;" class="button">拒绝退货</a>
            </div>
        </div>
        <div class="mana_gl mana_gl2">
            <div class="mana_gl_1 mana_gl_6 clearfix">
                <div class="mana_gl_l">
                    <a href="javascript:;"><img src="images/return_mana2.jpg" /></a>
                </div>
                <div class="mana_gl_r">
                    <h2><a href="javasctipt:;"><nobr>宾利凤凰赤霞珠红葡萄酒宾利凤凰赤红葡萄酒宾利凤凰赤霞珠红葡萄酒</nobr></a></h2>
                    <h3><a href="javasctipt:;"><nobr>Penley Estate Phoenix</nobr></a></h3>
                    <p class="dred"><a href="javasctipt:;">￥306</a></p>
                </div>
            </div>
            <div class="mana_gl_2 mana_gl_6">退款金额：￥183</div>
            <div class="mana_gl_3 mana_gl_6">
                <span class="mana_gl_l">退款原因:</span>
                <p class="mana_gl_r">口感太涩，单宁驳杂，沉淀物甚是繁多，最主要的我明明醒了很久，开盖醒了快1个月了才喝的。太涩了。</p>
            </div>
            <div class="mana_gl_4 mana_gl_6">
                <span class="mana_gl_i">商品图片:</span>
                <div class="mana_gl_img">
                    <p><img src="images/return_mana.jpg" /></p>
                    <p><img src="images/return_mana1.jpg" /></p>
                </div>
            </div>
            <div class="mana_gl_7 button">
                <a href="javascript:;">查看退货进度</a>
            </div>
        </div>
        <div class="mana_gl mana_gl2">
            <div class="mana_gl_1 mana_gl_6 clearfix">
                <div class="mana_gl_l">
                    <a href="javascript:;"><img src="images/return_mana2.jpg" /></a>
                </div>
                <div class="mana_gl_r">
                    <h2><a href="javasctipt:;"><nobr>宾利凤凰赤霞珠红葡萄酒宾利凤凰赤红葡萄酒宾利凤凰赤霞珠红葡萄酒</nobr></a></h2>
                    <h3><a href="javasctipt:;"><nobr>Penley Estate Phoenix</nobr></a></h3>
                    <p class="dred"><a href="javasctipt:;">￥306</a></p>
                </div>
            </div>
            <div class="mana_gl_2 mana_gl_6">退款金额：￥183</div>
            <div class="mana_gl_3 mana_gl_6">
                <span class="mana_gl_l">退款原因:</span>
                <p class="mana_gl_r">口感太涩，单宁驳杂，沉淀物甚是繁多，最主要的我明明醒了很久，开盖醒了快1个月了才喝的。太涩了。</p>
            </div>
            <div class="mana_gl_4 mana_gl_6">
                <span class="mana_gl_i">商品图片:</span>
                <div class="mana_gl_img">
                    <p><img src="images/return_mana.jpg" /></p>
                    <p><img src="images/return_mana1.jpg" /></p>
                </div>
            </div>
            <div class="mana_gl_6 button mana_gl_8">
                <a href="javascript:;">已完成退货</a>
            </div>
        </div>
        <div class="mana_gl3"></div>-->
    </div>
    <script data-main="/js/tuihuogl" src="/js/lib/require.js"></script>
