{{#extend "header"}}
	<title>运费管理</title>
	<link type="text/css" rel="stylesheet" href="/css/yunfei.css" />
{{/extend}}

	<div class="main">
		<header class="main_head">
			<nav class="nav"><a href="javascript:;" class="back _goback"></a>运费管理</nav>
		</header>
	</div>
	<div class="yfei" id="yfei-list">
		<!--<div class="yfei_1">-->
			<!--<div class="yfei_2">-->
				<!--<span>运费模板1</span>-->
				<!--<a href="javascript:;">删除</a>-->
			<!--</div>-->
			<!--<div class="yfei_3">-->
				<!--<a href="javascript:;">修改</a>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="yfei_1">-->
			<!--<div class="yfei_2">-->
				<!--<span>运费模板2</span>-->
				<!--<a href="javascript:;">删除</a>-->
			<!--</div>-->
			<!--<div class="yfei_3">-->
				<!--<a href="javascript:;">修改</a>-->
			<!--</div>-->
		<!--</div>-->

	</div>
	<div class="add_goods">
		<div class="add_goods_img">
			<span>继续添加</span>
		</div>
	</div>

	<script src="/js/lib/require.js" data-main="/js/yunfei.js"></script>
