{{#extend "header"}}
<title id="title"></title>
<link rel="stylesheet" type="text/css" href="/css/swiper.min.css"/>
<link rel="stylesheet" href="/css/buy/creditcard.css">
{{/extend}}

<header class="main_head" id="container">
    <nav class="nav" id="nav-title"><a href="javascript:;" class="back _goback"></a></nav>
</header>
<div id="credit-body" pageT="1">
    <div class="swiper-container">
        <div class="swiper-wrapper">

        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container" id="list">

    </div>
    <div class="rule"><img src="/images/buy/creditcard_rule.png"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/creditcard.js"></script>

