{{#extend "header"}}    
    <title>确认订单</title>
    <link rel="stylesheet" href="/css/buy/addr.css" />
    <link rel="stylesheet" href="/css/buy/confirm_receipt.css" />
{{/extend}}  
    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:;" class="back _goback"></a>确认订单</nav>
        </header>
    </div>
    <div class="ui-body main" style="padding-bottom: 40px;">

    </div>
    
    <footer class="ui-confirm-order">
        <div class="ui-confirm-pay">确认支付</div>
        <div>应付款:<span class="ui-pay-total" style="display: inline-block;">￥0</span></div>
    </footer>
    <script data-main="/js/buy/dingdanqr" src="/js/lib/require.js"></script>
