{{#extend "header"}}
<title id="title">物流信息</title>
<link type="text/css" rel="stylesheet" href="/css/buy/refund.css">
<script src="/js/lib/require.js" defer async="true" data-main="/js/buy/tuikuan.js"></script>
{{/extend}}

<body class="main_bg m50">
<header class="main_head" headId="delivery">
	<nav class="nav"><a href="javascript:;" class="back _goback"></a>物流信息</nav>
</header>
<div class="view_log clearfix">
	<div class="view_img"><img src="" id="goodsPic" /></div>
	<div class="view_r">
		<ul>
			<li>快递公司: <span id="deliverCom"></span></li>
			<li>运单编号: <span id="dNumber"></span></li>
			<li>官方电话: <span>440-880-4199</span></li>
		</ul>
	</div>
</div>
<div class="refund_schedule" id="refund_schedule">
	<ul>
		<!--<li class="new">-->
			<!--<i></i>-->
			<!--<div>-->
				<!--<p>欧阳夏星已签收。</p>-->
				<!--<p>2016年1月30日 下午3 : 10 : 55</p>-->
			<!--</div>-->
		<!--</li>-->
		<!--<li>-->
			<!--<p>离开 [河北 - 秦皇岛分拨站] 发往 [河北秦皇岛分拨站 - 南区加盟商]</p>-->
			<!--<p>2016年1月30日 下午1 : 10 : 55</p>-->
		<!--</li>-->
		<!--<li>-->
			<!--<p>离开 [北京运转中心] 发往 [河北 - 秦皇岛分拨站]</p>-->
			<!--<p>2016年1月28日 下午1 : 10 : 55</p>-->
		<!--</li>-->
		<!--<li>-->
			<!--<p>已取件，到达 [北京运转中心]</p>-->
			<!--<p>2016年1月28日 下午1 : 10 : 55</p>-->
		<!--</li>-->
	</ul>
</div>
</body>
</html>