{{#extend "header"}}
    <title>审核未通过</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/shangou.css">
{{/extend}}
    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:;" class="back _goback" ></a>审核未通过</nav>
        </header>
        <div class="orderunit not_pass">
            <p>尊敬的用户，审核未通过，请重新修改后提交。</p>
        </div>

        <div class="orderunit">
            
            <!--<div class="goodslist">
                <dl>
                    <dt><a href="#"><img src="../buyer/images/index_l7.jpg"></a></dt>
                    <dd>
                        <ul>
                            <li><a href="#">维图干红葡萄酒</a></li>
                            <li><a href="#">LES VENTURONS</a></li>
                            <li class="ui-goods-p">大咖价<input type="text" value="4309" class="txt" /> <span>库存：</span><span class="ys">20件</span></li>
                        </ul>
                    </dd>
                </dl>
            </div>-->
            
        </div>
        <div class="wd_btn">提交</div>
    </div>
    <script data-main="/js/dakashangpinmtg" src="/js/lib/require.js"></script>