{{#extend "header"}}
    <title>活动管理</title>
    <link rel="stylesheet" href="/css/ziying.css" />
{{/extend}}
    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:history.go(-1);" class="back _goback" id="ui-go-back"></a>活动管理</nav>
        </header>
    </div>
    <div class="ziying huodonggl">
        <ul>
            <li><a href="shangou.html">闪购活动</a></li>
            <li><a href="maizeng.html">买赠活动</a></li>
            <li><a href="dakaguan.html">大咖馆</a></li>
            <li><a href="manjian.html">满减活动</a></li>
            <li><a href="kunbang.html">捆绑活动</a></li>
        </ul>
    </div>
