{{#extend "header"}}
    <title>捆绑活动</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/shangou.css">
{{/extend}}
    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:;" class="back _goback" ></a>捆绑活动</nav>
        </header>

    <div class="container">
        <div class="titword" id="titword">
            <span id="titword_text">全部商品</span>
            <div class="triangle" id="triangle">
                <span class="triangle_s1"></span>
                <span class="triangle_s2"></span>
            </div>
            <div class="trianglered" id="trianglered">
                <span class="triangle_s1"></span>
                <span class="triangle_s2"></span>
            </div> 
        </div>

        <div class="ui-nothing-find">
          <div style="margin-top: 10%;">
              <dl>
                  <dd style="background-position:-134px 0px; width:66px;"></dd>
                  <dt>您还没有任何商品参加买赠活动</dt>
              </dl>
          </div>
        </div>


        <div class="select_box" id="select_box">
            <div class="itemcon" id="itemcon">
                <ul>
                    <li class="cur">全部商品<span class="radioimg"></span></li>
                    <li>审核中</li>
                    <li>审核通过</li>
                    <li>审核未通过</li>
                </ul>
            </div>
        </div>
        <div class="orderunit">
        </div>
        <a href="kunbangtj.html" class="wd_btn" style="position: fixed;display: block;bottom: 0;width: 100%;">添加商品</a>
    </div>
    <script data-main="/js/kunbang" src="/js/lib/require.js" ></script>
     