{{#extend "header"}}
    <title>满减活动</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/shangou.css" />
{{/extend}}
    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:;" class="back _goback" ></a>满减活动</nav>
        </header>
    
        <div class="pt_list">
            <a href="javascript:;" class="on">平台满减活动</a>
            <a href="javascript:;">我的满减活动</a>
        </div>
    
        <div class="sg_list2">
    
            <div class="ui-nothing-find">
                <div style="margin-top: 10%">
                    <dl>
                        <dd style="background-position:-80px -72px; width:65px;"></dd>
                        <dt>您还没有参加平台满减活动</dt>
                        <!-- 140.满减活动丶我的满减丶无商品
                        <dt>您还没有创建任何任何满减活动</dt> -->
                    </dl>
                </div>
            </div>
    
    
            <div class="sg_list3">
                
            </div>
        </div>
    </div>
    
    <script data-main="/js/manjian" src="/js/lib/require.js"></script>