{{#extend "header"}}
    <title>闪购活动列表</title>
    <link type="text/css" rel="stylesheet" href="/css/shangou.css" />
{{/extend}}

<div class="main">
    <header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback" ></a>闪购活动列表</nav>
    </header>
    <div class="sg_list2" id="sg-list">
        <!--<div class="sg_list1">-->
            <!--<div><img src="images/sg_01.jpg" /></div>-->
            <!--<p>已参加</p>-->
        <!--</div>-->
        <!--<div class="sg_list1">-->
            <!--<div><img src="images/sg_01.jpg" /></div>-->
            <!--<p class="bmimg">我要报名</p>-->
        <!--</div>-->
        <!--<div class="sg_list1">-->
            <!--<div><img src="images/sg_01.jpg" /></div>-->
            <!--<p class="jzhi">已截止报名</p>-->
        <!--</div>-->
    </div>
</div>
<script src="/js/lib/require.js" data-main="/js/shangou.js"></script>
