{{#extend "header"}}
    <title>添加商品</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/shangou.css">
{{/extend}}
    <div class="main" style="padding-bottom: 30px;">
        <header class="main_head">
            <nav class="nav"><a href="javascript:history.go(-1);" class="back" ></a>添加商品</nav>
        </header>
        <div class="add_sg">
            <div class="orderunit search">
                <div class="ui-message" style="display: none;">未查询到该款商品！</div>
                <div class="add_sg_search">
                    <div class="add_sg_search1">
                        <i class="search1_s"></i>
                        <a href="javascript:;" class="search1_btn">查询</a>
                        <div class="search1_txt">
                            <input type="text" value="" placeholder="请输入商品名称" class="txt" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="orderunit">
                
            </div>
        </div>
        <div class="wd_btn" style="position: fixed;width: 100%;bottom: 0;">确认</div>
   </div>
    <script data-main="/js/xuanzhe" src="/js/lib/require.js"></script>