{{#extend "header"}}
    <title>短信分享红包</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link rel='stylesheet' href='/css/fxduanxin.css'/>
    <link type="text/css" rel="stylesheet" href="/css/hongbao.css" />
<style>
    .template{overflow:hidden;}
    .hint{float:right;
          padding-right:4%;
          margin:10px 0}
</style>
{{/extend}}

<div class="main">
    <header class="main_head" headId="dxhongbao">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>短信分享红包</nav>
    </header>
</div>

<div id="messageList">
    <!--<div class="template templatexq">-->
        <!--<p class="sms_txt">  兹定于2016年06月01日18:00于学院镭射影厅举办2016少儿迎新文艺晚会暨第四届学生团体文化艺术节闭幕式。特邀您届时拨冗莅临为盼！望您携带亲友准时前来！</p>-->
        <!--<a href="#">www.maim9.com</a>-->
    <!--</div>-->
    <!--<div id="hint" class="hint">长按短信内容复制</div>-->
</div>

<script src="/js/lib/require.js" data-main="/js/hongbao.js"></script>
