{{#extend "header"}}
    <title>红包二维码</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/hongbao.css" />
    <style>
        body{background:#ff3c3c}
    </style>
{{/extend}}

<div class="main">
    <header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>红包二维码</nav>
    </header>
</div>

<div class="qr_code">
    <div><img src="" alt=""></div>
</div>

<div class="button">分享二维码</div>
