{{#extend "header"}}
    <title>买买后台</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/shouquan.css" />
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>买买后台</nav>
</header>
<div class="shouquan">
    <div class="sq_logo"><img src="/images/sq_logo.png" /></div>
    <img src="/images/sq_01.jpg" />
    <div class="sq_1">
        <img src="/images/sq_02.jpg" />
        <span class="txt1" id="authorityNo"> </span>
    </div>
    <img src="/images/sq_03.jpg" />
    <div class="sq_1">
        <img src="/images/sq_04.jpg" />
        <span class="txt1 txt2" id="memberName"> </span>
    </div>
    <img src="/images/sq_05.jpg" />
    <div class="sq_1">
        <img src="/images/sq_06.jpg" />
        <span class="txt1 txt3" id="authorityName"> </span>
    </div>
    <img src="/images/sq_07.jpg" />
    <div class="sq_1">
    	<img src="/images/sq_08.jpg" />
    	<span class="txt1 txt8" id="authorityRange"></span>
	</div>
    <img src="/images/sq_09.jpg" />
    <div class="sq_1">
        <img src="/images/sq_10.jpg" />
        <span class="txt1 txt4" id="authorityYear"></span>
        <span class="txt1 txt5" id="authorityMonth"></span>
        <span class="txt1 txt6" id="authorityDay"></span>
    </div>
    <img src="/images/sq_11.jpg" />
</div>
<div class="button" id="back">返回</div>
<script src="/js/lib/require.js" data-main="/js/grant"></script>
