.wrap-box{
    height: 100px;
    width: 100%;
    padding-left: 15%;
    margin-top: 80px;
}
.wrap-phoneNo{
    height: 32px;
    padding: 2px;
    width: 50%;
    overflow: hidden;
}
.wrap-phoneNo input{
    height: 32px;
    line-height: 32px;
    border: 1px solid #ddd;
    width: 100%;
}
.submit-button{
    height: 40px;
    width: 20%;
    background: -webkit-linear-gradient(top, #ff5959,#ff3d3d);
    border-radius: 6px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 10px;
}

