/* 搜索框 */
.m50 {
	margin-bottom: 50px;
}
.ind_search {
	position: fixed;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	z-index: 999;
}
.ind_search_1 {
	position: relative;
	z-index: 9999;
	padding: 10px 0;
	width: 100%;
  /*background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)),color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%); 
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%); 
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#22FFFFFF', EndColorStr='#33000000'); 
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%); */
  background: url(/images/buy/div_search_bc.png) no-repeat;
  background-size: auto 100%;
  background-position-y: -5px;
  background-repeat-x: initial;
}
.ind_search_1.active{
  background-image: url(/images/buy/search_bc1_2.png);
  background-position-y: 0;
}
.ind_search_left {
	border-radius: 5px;
	overflow: hidden;
	height: 30px;	
	background: url(/images/buy/search_bc1.png);
	margin: 0 2%;
	background-size: 100% 100%;
}
.active .ind_search_left {
  background-image: url(/images/buy/search_bc1_1.png);
}
.ind_search_cen {
	overflow: hidden;
	padding-left: 10px;
	position: relative;
}
.ind_search_bg {
	background: -webkit-linear-gradient(top, #000,transparent);
    background: -moz-linear-gradient(top, #000,#fff);
    background: linear-gradient(top, #000,#fff);
	opacity: 0.3;
	width: 100%;
	height: 40px;
}
.ind_search_cen .txt {
	color: #767575;
	height: 20px;
	margin: 5px 0;
	line-height: 20px;
	width: 100%;
	background: transparent;
}
.active .ind_search_cen .txt {
  color: #767575;
}
.ind_search .ind_search_s{
	float: left;
	display: block;
	padding-left: 5%;
	height: 31px;
}
.ind_search .ind_search_s:before {
	background: url(/images/buy/cart_icon.png) no-repeat -94px -115px;
	background-size: 150px auto;
	width: 16px;
	height: 16px;
	content: "";
	display: inline-block;
	margin-top: 8px;
	
}
.ind_search input::-webkit-input-placeholder { 
	color: #999;
} 
.ind_search input:-moz-placeholder { 
	color: #999;
} 
.ind_search input::-moz-placeholder { 
	color: #999;
} 
.ind_search input:-ms-input-placeholder  { 
	color: #999;
}
.ind_search .active input::-webkit-input-placeholder { 
  color: #666666; 
} 
.ind_search .active input:-moz-placeholder { 
  color: #666666; 
} 
.ind_search .active input::-moz-placeholder { 
  color: #666666; 
} 
.ind_search .active input:-ms-input-placeholder  { 
  color: #666666; 
}  
.ind_search input::-ms-clear, .ind_search input::-ms-reveal{display: none;}
.ind_search_r {
	color: white;
	display: inline-block;
	font-size: 12px;
	float: right;
	height: 30px;
	line-height: 30px;
	padding: 0 3%;
	background-color: #ff4f4f;
}
.ind_search_list {
	float: right;
	margin: 0 3%;
	width: 20px;
	padding-top: 2px;
}

.ind_search_list a {
	color: #fff;
	display: block;
	width: 20px;
	height: 30px;
	background: url(/images/buy/index_icon6.png) no-repeat;
	background-size: 100% auto;
}
.active .ind_search_list a {
  background-image: url(/images/buy/index_icon6_1.png);
}
.ind_search_list.ui-sys a{
  width: 28px;
  background-image: url(/images/buy/index_icon7.png);
  background-size: 28px auto;
}
.active .ind_search_list.ui-sys a{
  background-image: url(/images/buy/index_icon7_1.png);
}

/* 列表页搜索框 */
.lieb_search {
	padding: 10px;
	background: #666;
}
.lieb_search .lieb_search_s{
	float: left;
	margin-right: 5px;
	display: block;
	padding: 0 3%;
	margin-top: 5px;
}
.lieb_search_left {
	border: 1px solid #fff;
	border-radius: 5px;
	overflow: hidden;
	height: 30px;
}
.lieb_search_r {
	color: #fff;
	display: inline-block;
	font-size: 14px;
	float: right;
	background: #b3b3b3;
	height: 30px;
	line-height: 30px;
	padding: 0 3%;
}
.lieb_search_cen {
	overflow: hidden;
}
.lieb_search_cen .txt {
	background: #666;	
	color: #fff;
	height: 20px;
	line-height: 20px;
	width: 100%;
	margin-top: 5px;
}
.lieb_search .lieb_search_s:before {
	background: url(/images/op_icon.png) no-repeat -109px -87px;
	background-size: 150px auto;
	width: 16px;
	height: 16px;
	content: "";
	display: inline-block;
	
}
/*轮播图*/
.slider{
	/* height:180px; */
	overflow: hidden;
	position: relative;
	background:#fff;
	z-index: 7;
}
.slider ul li{
	text-align: center;
	float:left; 
	position:relative;
}
.serial_number{
	overflow: hidden;
	text-align: center;
	position: absolute;
	bottom: 7px;
	left: 0;
	z-index: 9;
	 width:100%;
	}
.serial_number .point{
	border-radius: 20px;
	-webkit-border-radius: 20px;
	height: 8px;
	width: 8px;
	margin-right: 7px;
	 display: inline-block;
	border:solid #fff1c7 1px;
}

.serial_number .selected{
	background: #fff1c7;
}

/* 导航 */
.ind_nav {
	width: 100%;
	background: #fff;
	-webkit-box-shadow: 0px 3px 2px #eaeaea;
	box-shadow: 0px 3px 2px #eaeaea;
	overflow: hidden;
}
.ind_nav li {
	float: left;
	width: 25%;
	text-align: center;
}
.ind_nav li a img {
	margin: 0 auto;
}
.ind_nav li a {
	display:block;
	color: #666666;

}
/* 主题馆 */
.ind_list {
	background: #fff;
	margin-top: 2%;
	overflow: hidden;
}
.ind_list h2{
	font-size: 14px;
	border-left: 5px solid #ff3c3c;
	padding: 2.5% 0 2.5% 3%;
}
.ind_list ul {
	overflow: hidden;
}
.ind_list li {
	float: left;
	width: 50%;
}
.ind_list_p {
	width: 100%;
}
/* 每日上新 */
.ind_sx {
	width: 100%;
}
.ind_sx h2{
	font-size: 14px;
	border-left: 5px solid #02aefe;
	padding: 2.5% 0 2.5% 3%;
	border-bottom: 1px solid #cdcdcd;
	background: #fff;
}
.ind_sx_list {
	padding: 3%;
	width: 94%;
	position: relative;
	border-bottom: 1px solid #cdcdcd;
	background: #fff;
}
.ind_sx_list .ind_sx_img {
	float: left;
	width: 120px;
	position: relative;
    padding-right: 10px;
    box-sizing: border-box;
}
.ind_sx_list .ind_sx_cart i {
	background: url(/images/op_icon.png) no-repeat 0px -117px;
	background-size: 200px auto;
	width: 30px;
	height: 30px;
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	right: 6%;
}
.ind_sx_r {
	overflow: hidden;
  	height: 100%;
  	width: 56%;
}
.ind_sx_r a h3, .ind_sx_r a h4 {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	overflow:hidden;
	text-overflow:ellipsis; 
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	display: -webkit-box;
	
}
.ind_sx_r a h3, .ind_sx_r a h4 {
	color: #333;
}
.ind_sx_r a h4 {
	color: #999;
	font-size: 12px;
}
.ind_sx_r a p.dred {
	font-size: 18px;
	position: absolute;
	bottom: 10px;
}
.ind_sx_r a p.dred {
	color: #ff3c3c;	
}
.ind_sx_r a p.dred span {
	font-size: 12px;
	margin-left: 10px;
}
.ind_sx_h {
	overflow: hidden;
	width: 100%;
}
.ind_sx_h:last-child{
    /*padding-bottom: 30px;*/
}
.ind_sx_h .ind_sx_h_l:nth-child(odd) {
	float: left;
    width: 49.5%;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #bababa;
    background: #fff;
    padding: 3% 0;
    margin-bottom: 1%;
    position: relative;
    box-shadow: 0 0 3px #ccc;
}
.ind_sx_h .ind_sx_h_l:nth-child(even) {
	width: 49.5%;
	border-left:1px solid #dfdfdf; 
	border-bottom: 1px solid #bababa;
	background: #fff;
	float: right;
	padding: 3% 0;
	margin-bottom: 1%;
	position: relative;
	box-shadow: 0 0 3px #ccc;
}
.ind_sx_h .ind_sx_h_l .ind_sx_l_img {
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.ind_sx_h .ind_sx_h_l h3{
	margin-top:7%; 
}
.ind_sx_h a h3, .ind_sx_h a h4 {
	font-size: 14px;
	letter-spacing: 1px;
	height: 40px;
	line-height: 20px;
	padding: 0 3%;
	display: -webkit-box;
	overflow : hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space:normal;
  	word-break: break-all;
}
.ind_sx_h a h3 , .ind_sx_h a h4 {
	color: #333;
}
.ind_sx_h a .ind_sx_h_l a h4 {
	color: #999;
	font-size: 12px;
}
.ind_sx_h_l p.dred {
	font-size: 18px;
	margin-top: 2%;
	padding: 0 3%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.ind_sx_h_l a p.dred {
	color: #ff3c3c;	
}
.ind_sx_h_l a p.dred span {
	font-size: 12px;
	margin-left: 10px;
}


/* 列表页 */
.mall_tab {
	background: #fff;
}
.mall_tab a {
	display: block;
	float: left;
	width: 25%;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	padding: 12px 0;
	text-align: center;
	color: #666;
	font-size: 14px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; 
}
.mall_tab a.b0 {
	border-right: 0;
}
.mall_tab a.active {
	border-bottom: 1px solid #ff3c3c;
	color: #ff3c3c;
	position: relative;
}
.mall_tab a.active:after{
    content: " ";
    position: absolute;
    width: 8px;
    height: 20px;
    background: url(/images/buy/icon_02.png) no-repeat center center;
    background-size: 6px auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 18%;
    top: 11px;
    
}
.mall_tab a.active.up:after{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 10px;
}
.mall_list {
	width: 100%;
}
.ind_sx_lo {
	position: absolute;
	top: 10px;
	left: 70%;
	width: 25%;
	z-index: 999;
}
/* 右侧悬浮窗 */
.fixed_r {
	background: #fff;
	z-index: 9999;
}
.fixed_r h1 {
	font-size: 16px;
	padding:40px 0;
	text-align: center;
	border-bottom: 1px solid #999;
}
.fixed_r ul>li {
	font-size: 14px;
	border-bottom: 1px solid #999;
	line-height: 50px;
	display: table;
	width: 100%;
}
.ui-transd-999:after {
	right: 20px;
}
.ui-transd-999:before {
	right: 20px;
}
.fixed_r ul li.active:before{
	border-color:transparent transparent #ff3c3c transparent; 
	top: 16px;
}
.fixed_r ul li.active:after{
	border-color:transparent transparent #fff transparent; 
}
.fixed_r ul li.active a {
	color: #ff3c3c;
}
.fixed_r ul>li>a {
	color: #666;
	padding-left: 5%;
}
.fixed_r ul li .fixed_chlid {
	font-size: 14px;
	width: 100%;
	background: #fff;
	display: none;
}
.fixed_r ul li .fixed_chlid a {
	display: block;
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #999;
	padding-left: 15%;
	color: #ff3c3c;

}
.fixed_r ul li .on {
	display: block;
}

@-webkit-keyframes fadeOutR{
	0%{right: 0;opacity: 1;}
    99%{right: -49.5%;opacity: 1;}
	100%{right: -50%;opacity: 0;}
}
@keyframes fadeOutR{
    0%{right: 0;opacity: 1;}
    99%{right: -49.5%;opacity: 1;}
	100%{right: -50%;opacity: 0;}
}
.fadeOutR{
    -webkit-animation: fadeOutR 0.2s ease-in-out;
    animation: fadeOutR 0.2s ease-in-out;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode: forwards; 
}
@-webkit-keyframes fadeInR{
    0%{right: -50%;opacity: 0;}
    1%{right: -49.5%;opacity: 1;}
    100%{right: 0;opacity: 1;}
}
@keyframes fadeInR{
    0%{right: -50%;opacity: 0;}
    1%{right: -49.5%;opacity: 1;}
    100%{right: 0;opacity: 1;}
}
.fadeInR{
    -webkit-animation: fadeInR 0.2s ease-in-out;
    animation: fadeInR 0.2s ease-in-out;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode: forwards;  
}

.school {
	width: 100%;
	margin-bottom: 10px;
}
.school_d {
	padding: 3%;
	width: 94%;
}
.school_d h2 {
	font-size: 12px;
	line-height: 24px;
}
.school_d p {
	margin-top: 10px;
	text-indent: 2em;
	line-height: 24px;
}

.buy_none {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 99;
	width: 40%;
	display: none;
}
.daka_fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	height: 100%;
}
.daka_fixed .daka_fixed_x {
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	opacity: 0.6;
}
.daka_fixed .daka_fixed_bott {
	position: fixed;
	width: 100%;
	z-index: 99999999;
	bottom: 0;
}
.daka_fixed .daka_fixed_bott .daka_fixed_abs {
	margin: 0 auto;
	max-width: 640px;
	width: 100%;
}
.daka_fixed .daka_fixed_bott .daka_fixed_abs div.button {
	position: absolute;
	top: 75%;
	width: 92%;
	max-width: 560px;
}

/*首页改版*/
.ui-per-floor a{
    float: left;
    outline: 1px solid #f1f1f1;
}
.ui-per-floor a img{
    width: auto;
}
.ui-clear-input{
    width: 11px;
    height: 11px;
    position: absolute;
    top: 50%;
    margin-top: -5.5px;
    right: 8px;
    background: url(/images/op_icon.png) no-repeat;
    background-position: -91px -44px;
    background-size: 150px auto;
    display: none;
}
