.youhui, .lipin {
	margin-bottom: 15px;
  box-shadow: 0 0 6px #ddd;
  background: white;
  display: none;
}
.yh_add, .yh_money {
	line-height: 20px;
  padding: 2% 4%;
  border-bottom: 1px solid #ddd;}
.yh_add_l {
	color: #333;
	font-size: 16px;
}
.yh_add_r {
	float: right;
	color: #ff3c3c;
	font-size: 14px;
}
.yh_add_r i {
	background: url(/images/op_icon.png) no-repeat -21px -129px;
  	background-size: 150px auto;
  	width: 19px;
  	height: 19px;
  	content: "";
  	display: inline-block;
  	vertical-align:middle;
}
.yh_add_r i.error {
  background-position: -41px -129px;
}
.yh_money {
	font-size: 14px;
}
.yh_money .yh_money_l {
	float: left;
	width: 15%;
  color: #999;
}
.yh_money .yh_money_c {
	overflow: hidden;
}
.yh_money .yh_money_r {
	float: right;
	background: url(/images/op_icon.png) no-repeat -60px -110px;
  background-size: 150px auto;
  width: 19px;
  height: 19px;
  content: "";
  display: inline-block;
  vertical-align:middle;
}
.yh_money .on {
	background-position: -62px -19px;
}
.lp_add {
  border-bottom: 1px solid #ddd;
  height: 100px;
  padding: 10px 0;
  position: relative;
}
.lp_add ul li {
  height: 25px;
  line-height: 25px;
  padding:0 4%;
  font-size: 14px;
}
.lp_add ul li span {
  display: inline-block;
}
.lp_add ul li span.lp_li_l {
  width: 25%;
  color: #999;
}
.lp_add_r {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 20px;
  width: 20px;
  height: 20px;
}
.lp_add_r i {
  float: right;
  background: url(/images/op_icon.png) no-repeat -60px -110px;
  background-size: 150px auto;
  width: 19px;
  height: 19px;
  content: "";
  display: inline-block;
}
.lp_add_r i.on {
  background: url(/images/op_icon.png) no-repeat -62px -19px;
  background-size: 150px auto;
}
.fs_btn {
    margin: 4%;
}

.yh_tan {
  padding: 40px 0 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.yh_tan_add {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
  margin: 0 4%;
}
.yh_tan_add_l {
  width: 60px;
  border-right: 1px solid #ddd;
  height: 35px;
  float: left;
}
.yh_tan_add_l:before{
  background: url(/images/op_icon.png) no-repeat -63px -131px;
  background-size: 150px auto;
  width: 24px;
  height: 18px;
  content: "";
  display: inline-block;
  margin-left: 18px;
  margin-top: 8px;
}
.yh_tan_add_r {
  overflow: hidden;
  position: relative;
  height: 35px;
}
.yh_tan_add_r .txt {
  width: 80%;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
}
.yh_tan_add_r i.login_make {
  content: "";
  background: url(/images/op_icon.png) no-repeat -32px -42px;
  background-size: 150px auto;
  width: 16px;
  height: 20px;
  margin: 8px auto 0;
  display: block;
  position: absolute;
  right: 5%;
  top: 5%;
}
.yh_btn {
  margin-top:20px;
}
.login_error, .login_succ {
  position: absolute;
  top: 0;
}

.login_form {
  background: #fff;
  border:1px solid #ddd;
  margin: 0 4%;
  border-radius: 5px;
}
.login_hd {
  height: 32px;
  padding: 2px 0;
  position: relative;
}

.login_hd .login_hd_label {
  float: left;
  width: 19%;
  border-right: 1px solid #ddd;
  display: block;
  height: 32px;
}
.login_hd .login_hd_label:before, .login_hd .login_make {
  content: "";
  background: url(/images/op_icon.png) no-repeat -91px -131px;
  background-size: 150px auto;
  width: 16px;
  height: 20px;
  margin:8px auto 0;
  display: block;
}
.login_hd .login_hd_label:before {
  width: 24px;
  height: 18px;
}

.login_hd .login_pass:before {
  background-position: -17px -42px;
  width: 16px;
  height: 20px;
}
.login_hd .login_tel {
  height: 32px;
  line-height: 32px;
  width: 48%;
  border: 0;
  padding-left: 2%;
}
.login_hd .login_make{
  position: absolute;
  right: 5%;
  top: 5%;
  background-position: -32px -42px;
}
.login_hd .login_make_c {
  position: absolute;
  right: 5%;
  top: 5%;
  background-position: -72px -42px;
}
.line {
  height: 1px;
  background:#ddd;
  margin: 0 5px;
}