{{#extend "header"}}
<title>猜你喜欢</title>
<!--<link rel="stylesheet" href="/css/buy/cainixihuan.css" />-->
<script src="/js/lib/require.js" defer async="true" data-main="/js/buy/cainixihuan.js"></script>
{{/extend}}
<div class="main">
    <header class="main_head" style="position: relative;">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>猜你喜欢</nav>
        <div class="ui-collect-op browse" style="position: absolute;width: 30px;height: 100%;color: white;font-size: 14px;top:0;right: 20px;">编辑</div>
    </header>
</div>
<!--<div class="ui_nothing_find" id="noneList" style="display:block">-->
    <!--<div>-->
        <!--<dl>-->
            <!--<dd></dd>-->
            <!--<dt id="noneList_dsc"></dt>-->
        <!--</dl>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="guess_like">-->
    <!--<div class="guess_like_wrapper clearfix">-->
        <!--<div class="side_bar"></div>-->
        <!--<p class="guess_like_title" >猜你喜欢</p>-->
    <!--</div>-->
    <!--<div class="swiper-container">-->
        <!--<div class="swiper-wrapper clearfix">-->
            <!---->
            <!--<div class="swiper-slide">-->
                <!--<div class="img_wrapper">-->
                    <!--<a href="" class="img_wrapper_link">-->
                        <!--<img src="">-->
                    <!--</a>-->
                <!--</div>-->
                <!--<h3>宾利凤凰</h3>-->
                <!--<h4>Pneyty</h4>-->
                <!--<p class="price">-->
                    <!--<span class="now_price">￥306</span>-->
                    <!--<span class="marketing_price">市场价：788</span>-->
                <!--</p>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->
