{{#extend "header"}}
	<title>我的地址</title>
	<link rel="stylesheet" href="/css/buy/addr.css" />
{{/extend}}

	<div class="main">
		<header class="main_head">
			<nav class="nav"><a href="javascript:;" class="back _goback"></a>我的地址</nav>
		</header>
	</div>
	<div class="ui-body main" id="ui-address-list">
		<!--<div class="ui-address-item">-->
			<!--<div class="ui-show-address">-->
				<!--<div><span>收货电话:&nbsp;</span><span>17701241654</span></div>-->
				<!--<div><span>收货人:&nbsp;</span><span>欧阳星星</span></div>-->
				<!--<div><span>收货地址:&nbsp;</span><span>北京市  朝阳区  四环和五环之间   将台              芳园西路2号  买买酒电子商务有限公司  </span></div>-->
			<!--</div>-->
			<!--<div class="ui-show-address-op">-->
				<!--<div class="ui-addr-choose">默认地址</div>-->
				<!--<div class="delAddr"></div>-->
				<!--<div class="editAddr"></div>-->
			<!--</div>-->
		<!--</div>-->

		<div class="button ui-add-address" id="ui-add-address">+新增收货地址</div>
	</div>

	<script src="/js/lib/require.js" data-main="/js/buy/dizhi.js"></script>

