{{#extend "header"}}    
    <title>我的卡劵</title>
    <link rel="stylesheet" href="/css/buy/mycards.css" />
{{/extend}}
<div class="main">
    <header class="main_head" headId="mycards_show">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>我的卡劵</nav>
    </header>
    <div class="cards-detail" id="cards-detail">
            <!--<div><img src="" alt=""></div>-->
            <!--<div>买买商城</div>-->
            <!--<div>买买商城买买商城</div>-->
            <!--<div>买买商城买买商城</div>-->
            <!--<a href="" class="useImmediately" id="useImmediately">立即使用</a>-->
            <!--<div class="date">有效期:2017 .03.12 - 2017.05.26</div>-->
            <!--<a href="" class="to-detail"><span></span>卡券详情</a>-->
    </div>
</div>
<script  data-main="/js/buy/mycards.js" src="/js/lib/require.js" ></script>
