{{#extend "header"}}    
    <title>卡劵详情</title>
    <link rel="stylesheet" href="/css/buy/mycards.css" />
{{/extend}}
<div class="main">
    <header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>卡劵详情</nav>
    </header>
    <div class="cards-info">
        <div class="tit">优惠说明</div>
        <div class="txt" id="mark"></div>
        <div class="tit">有效日期</div>
        <div class="txt" id="valid"></div>
        <div class="tit">可用时段</div>
        <div class="txt" id="useDays"></div>
        <div class="tit">使用须知</div>
        <div class="txt" id="rules"></div>
    </div>
<script  data-main="/js/buy/mycards.js" src="/js/lib/require.js" ></script>