{{#extend "header"}}
  <title>售后服务</title>
  <link rel="stylesheet" href="/css/buy/collect.css" />
  <style>
    .ui-service{
      max-width: 640px;
      min-width: 320px;
      margin: 0 auto;
    }
  </style>
{{/extend}}
<div class="main" id="collect">
    <header class="main_head" style="position: relative;">
        <nav class="nav"><a href="javascript:history.back();" class="back _goback"></a>售后服务</nav>
    </header>
</div>
<div class="ui-service">
  <img  src="/images/buy/service/service_01.jpg" style="width: 100%;"/>
  <img  src="/images/buy/service/service_02.jpg" style="width: 100%;"/>
  <img  src="/images/buy/service/service_03.jpg" style="width: 100%;"/>
  <img  src="/images/buy/service/service_04.jpg" style="width: 100%;"/>
  <img  src="/images/buy/service/service_05.jpg" style="width: 100%;"/>
  <img  src="/images/buy/service/service_06.jpg" style="width: 100%;"/>
  <img  src="/images/buy/service/service_07.jpg" style="width: 100%;"/>
  <img  src="/images/buy/service/service_08.jpg" style="width: 100%;"/>
  <img  src="/images/buy/service/service_09.jpg" style="width: 100%;"/>
</div>
