{{#extend "header"}}
    <title>提货成功</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/buy/dingdanzhifucg.css">
{{/extend}}


    <div class="main" style="z-index: 11;position: relative;">
        <header class="main_head" >
            <nav class="nav"><a href="javascript:;" class="back _goback" ></a>提货成功</nav>
        </header>
   </div>
   <div class="bott40" style="display: block;z-index: 11;position: relative;">
        <div class="status_s">
            <div class="status_s5" style="padding-left: 0;">
                <p id="pay_suc" style="display:block;">提货成功<i style="position: absolute;width: 40px;height: 40px;top:10px;left: -50px;background: url(/images/b_d_r.png)no-repeat;background-size: 100% auto;"></i></p>
            </div>
            <div id="splitList" class="status_s6" style="padding-left: 0;">
                <p id="orderNo_p">订单编号:&nbsp;&nbsp;<strong></strong></p>
            </div>
            <div class="status_s4" style="border: none;padding-bottom: 10px;padding-top: 20px;">
                <a href="/buyer/order/dingdan.html" id="viewOder" style="margin-left:7%;width:40%;line-height: 40px;height:40px;background-color: #e62828;border-radius: 20px;box-sizing: border-box;color: white;">查看订单</a>
                <a href="/" id="conShop" style="margin-left:7%;width:40%;background-color: #e62828;line-height: 40px;height:40px;border-radius: 20px;box-sizing: border-box;color: white;">回首页</a>
            </div>
        </div>
    </div>
    <script data-main="/js/buy/tihuocg" src="/js/lib/require.js" ></script>
