{{#extend "header"}}    
    <title>余额明细</title>
    <link rel="stylesheet" href="/css/buy/yue.css" />
{{/extend}}
<div class="main">
    <header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>余额明细</nav>
    </header>
    <div class="detailed">
    	<div class="detailed_n">
    		<span><img src="/images/buy/yue_1.png" /></span>
    		<p>主人，您的账户还没有任何记录哦。</p>
    	</div>
    	
    </div>
</div>
<script  data-main="/js/buy/yuemingxi" src="/js/lib/require.js" ></script>
