{{#extend "header"}}
<title id="title">品牌专场</title>
<style type="text/css">
    .brand-ad{
        width: 100%;
        margin-bottom: 10px;
    }
    .brandBox > a{
        float: left;
        width: 33.33%;
        outline: 1px solid #f1f1f1;
    }

</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>品牌专场</nav>
</header>
<div class="brand">
    <!--<div class="brand-ad">-->
        <!--<a href=""><img src="/images/buy/brand_ad.jpg"></a>-->
    <!--</div>-->
    <!--<div class="brandBox clearfix">-->
        <!--<a href=""><img src="/images/buy/brand01.jpg"></a>-->
        <!--<a href=""><img src="/images/buy/brand01.jpg"></a>-->
        <!--<a href=""><img src="/images/buy/brand01.jpg"></a>-->
        <!--<a href=""><img src="/images/buy/brand01.jpg"></a>-->
    <!--</div>-->
</div>
<script src="/js/lib/require.js" data-main="/js/buy/brand"></script>