{{#extend "header"}}
    <title>专题活动</title>
    <meta name="keywords" content="{{title}}">
    <meta name="description" content="{{title}}" >
    <link rel="stylesheet" type="text/css" href="/css/buy/index.css" />
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>专题活动</nav>
</header>

<div class="cxiao"></div><!-- banner图 -->
<div class="ind_sx_h clearfix" id="ui-new-goods"></div><!-- 列表 -->
<div class="fixed_index">
    <a href="/buyer/shouye.html"><img src="/images/buy/fixed_top.png" /></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/cuxiaoxq"></script>