{{#extend "header"}}
    <title id="title">促销</title>
    <style type="text/css">
		.cuxiao {
			width: 100%;
			overflow: hidden;
		}
		.cx_ban {
			box-shadow: 0px 2px 2px #ccc;
			margin-bottom: 5px;
			border-bottom: 1px solid #b5b5b5;
		}
    </style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>促销</nav>
</header>
<div class="cxiao">
	
</div>
<div class="fixed_index">
    <a href="/buyer/shouye.html"><img src="/images/buy/fixed_top.png" /></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/cuxiao"></script>