{{#extend "header"}}
    <title>大咖专享</title>
    <meta name="keywords" content="{{title}}">
    <meta name="description" content="{{title}}" >
    <link rel="stylesheet" type="text/css" href="/css/buy/index.css" />
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>大咖专享</nav>
</header>
<div class="slider" id="slider">
    <div id="slider_Img">
        <ul class="swiper-wrapper">
            <!-- <li class="swiper-slide"><img src="/images/buy/index_banner.jpg" /></li>
            <li class="swiper-slide"><img src="/images/buy/index_banner.jpg" /></li>
            <li class="swiper-slide"><img src="/images/buy/index_banner.jpg" /></li>
            <li class="swiper-slide"><img src="/images/buy/index_banner.jpg" /></li>
            <li class="swiper-slide"><img src="/images/buy/index_banner.jpg" /></li>
            <li class="swiper-slide"><img src="/images/buy/index_banner.jpg" /></li> -->
        </ul> 
    </div>
    <div class="serial_number" id="serial_number">
        <!-- <span class="point selected"></span>
        <span class="point"></span>
        <span class="point"></span>
        <span class="point"></span>
        <span class="point"></span>
        <span class="point"></span> -->
    </div>
</div> 
<div class="ind_sx_h clearfix" id="ui-new-goods"></div>
<div class="daka_fixed">
    <div class="daka_fixed_x"></div>
    <div class="daka_fixed_bott">
        <div class="daka_fixed_abs">
            <img src="/images/buy/daka_1.jpg" />
            <div class="button">关闭</div>
        </div>
        
    </div>
</div>
<div class="fixed_index">
    <a href="/buyer/shouye.html"><img src="/images/buy/fixed_top.png" /></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/dakaguan"></script>