{{#extend "header"}}
    <title>零元购专区</title>
    <meta name="keywords" content="{{title}}">
    <meta name="description" content="{{title}}" >
    <link rel="stylesheet" type="text/css" href="/css/buy/index.css" />
    <style>
        .ui-per-goods {
            margin-bottom: 5px;
        }
    </style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>零元购专区</nav>
</header>

<div class="ind_sx">
	
</div>
<div class="fixed_index">
    <a href="/buyer/shouye.html"><img src="/images/buy/fixed_top.png" /></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/lingyuangouzq"></script>