{{#extend "header"}}
    <title id="title">零元购</title>
    <link rel="stylesheet" type="text/css" href="/css/buy/index.css" />
    <style type="text/css">
		.fixed_top {
			width: 30%;
			height: 10%;
			position: absolute;
			top: 0;
			right: 0;
		}		
    </style>
{{/extend}}
<div class="ind_sx_h clearfix" id="ui-new-goods">
    <a href="lingyuangouzq.html?activeId=4" class="fixed_top"></a>
</div>
<div class="fixed_index">
    <a href="/buyer/shouye.html"><img src="/images/buy/fixed_top.png" /></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/lingyuangou"></script>
