{{#extend "header"}}
    <title id="title">买买电商</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/hongbao.css" />
{{/extend}}

<div class="main">
    <header class="main_head" headId="lqhonbaocg">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>买买电商</nav>
    </header>
</div>
<div id="container" style="display:none">
    <div class="success_box">
        <p>恭喜您成功领取红包</p>
        <p>红包已自动下发到您的账户</p>
        <p id="member_name">134****3921</p>
    </div>

    <div class="packet_list" id="packet_list">
        <!--<div class="packet_unit">-->
            <!--<div class="first_d"><span>2000<em>元</em></span> <span>全品类商品</span></div>-->
            <!--<div class="second_d"><span>满3000元可用</span> <span>2016.01.22—2016.01.33</span></div>-->
        <!--</div>-->
        <!--<div class="packet_unit">-->
            <!--<div class="first_d"><span>2000<em>元</em></span> <span>全品类商品</span></div>-->
            <!--<div class="second_d"><span>满3000元可用</span> <span>2016.01.22—2016.01.33</span></div>-->
        <!--</div>-->
        <!--<div class="packet_unit">-->
            <!--<div class="first_d"><span>2000<em>元</em></span> <span>全品类商品</span></div>-->
            <!--<div class="second_d"><span>满3000元可用</span> <span>2016.01.22—2016.01.33</span></div>-->
        <!--</div>-->
    </div>
    <a href="/buyer/shouye.html" class="button" style="display:block">立即使用</a>
</div>
<div class="fixed_index">
      <a href="/buyer/shouye.html"><img src="/images/buy/fixed_top.png" /></a>
  </div>
<script src="/js/lib/require.js" data-main="/js/hongbao.js"></script>
