{{#extend "header"}}
<title>买好货</title>
<link rel="stylesheet" type="text/css" href="/css/buy/maihaohuo.css">
{{/extend}}
<div class="head_nav">
    <ul class="clearfix">
        <li class="nav_li cur">
            <a href="javascript:;">
                <div class="nav_box">
                    <div class="nav_img1"></div>
                    <span class="nav_dsc">精选</span>
                </div>
            </a>
        </li>
        <li class="nav_li">
            <a href="javascript:;">
                <div class="nav_box">
                    <div class="nav_img2"></div>
                    <span class="nav_dsc">进口</span>
                </div>
            </a>
        </li>
        <li class="nav_li">
            <a href="javascript:;">
                <div class="nav_box">
                    <div class="nav_img3"></div>
                    <span class="nav_dsc">必买</span>
                </div>
            </a>
        </li>
        <li class="nav_li">
            <a href="javascript:;">
                <div class="nav_box">
                    <div class="nav_img4"></div>
                    <span class="nav_dsc">都说好</span>
                </div>
            </a>
        </li>
    </ul>
</div>
<div id="content">
    <!--<div class="pro_box clearfix">-->
        <!--<div class="swiper-slide swiper-slide-left">-->
        <!--<div class="img_wrapper">-->
        <!--<a href="" class="img_wrapper_link">-->
        <!--<img src="/images/ziliao.jpg">-->
        <!--</a>-->
        <!--</div>-->
        <!--<h3><a href="">宾利凤凰宾利凤凰宾利凤凰宾利凤凰宾利凤凰</a></h3>-->
        <!--<p class="price">-->
        <!--<span class="now_price"><a href="">￥306</a></span>-->
        <!--<span class="marketing_price"><a href="">市场价：788</a></span>-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="swiper-slide swiper-slide-right">-->
        <!--<div class="img_wrapper">-->
        <!--<a href="" class="img_wrapper_link">-->
        <!--<img src="/images/ziliao.jpg">-->
        <!--</a>-->
        <!--</div>-->
        <!--<h3><a href="">宾利凤凰宾利凤凰宾利凤凰宾利凤凰宾利凤凰</a></h3>-->
        <!--<p class="price">-->
        <!--<span class="now_price"><a href="">￥306</a></span>-->
        <!--<span class="marketing_price"><a href="">市场价：788</a></span>-->
        <!--</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="ad_pos">-->
    <!--<a href="">-->
    <!--<img src="/images/hongbao.png" alt="">-->
    <!--</a>-->
    <!--</div>-->
</div>

<div class="fixed_index">
      <a href="/buyer/shouye.html"><img src="/images/buy/fixed_top.png" /></a>
  </div>
<script src="/js/lib/require.js" data-main="/js/buy/maihaohuo"></script>