{{#extend "header"}}
    <title>本周热卖</title>
    <meta name="keywords" content="{{title}}">
    <meta name="description" content="{{title}}" >
    <link rel="stylesheet" type="text/css" href="/css/buy/index.css" />
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>本周热卖</nav>
</header>

<div class="ind_sx">
	
</div>
<div class="fixed_index">
    <a href="/buyer/shouye.html"><img src="/images/buy/fixed_top.png" /></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/remai"></script>