{{#extend "header"}}
<title>{{title}}</title>
<meta name="keywords" content="买买,买买商城,购物商城,特价商城,酒水,服装鞋帽">
<meta name="description" content="买买商城是一个全品类购物商城，全球一站式购物，提供最专业的客服及售后服务，天天抢红包，天天特价，100%正品保障">
<meta name="keywords" content="{{title}}">
<meta name="description" content="{{title}}" >
<link rel="stylesheet" type="text/css" href="/css/buy/qianrenqianmian.css" />
<link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
<style>
</style>
{{/extend}}
  <div class="ui-app-hide" style="width: 100%;position: relative;top: 0;z-index: 1000000;display: none;max-width: 750px;min-width: 320px;">
    <i class="ui-clsoe-d" style="width: 10%;padding-top: 10%;background-color: rgba(0,0,0,0);display: block;position: absolute;"></i>
    <a href="javascript:;" class="ui-app-download"><img src="/images/buy/download_app.png" style="width: 100%;"/></a>
  </div>
<div class="qm_center">
    <div id="return_top"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/qianmian"></script>