{{#extend "header"}}
<title></title>
<link rel="stylesheet" href="http://m.maimaicn.com/css/buy/wxshake.css" />
<link rel="stylesheet" href="http://m.maimaicn.com/css/animate.min.css" />
{{/extend}}

<div class="main">
    <header class="main_head">
        <nav class="nav"><a href="javascript:void(0);" class="back _goback"></a></nav>
    </header>
    <div class="active-btn">
        <img id="activeBtn" src="http://m.maimaicn.com/images/buy/shake_active_btn.png" />
    </div>
    <div class="active-time">
        <div id="timeBox">
            距离结束&nbsp;<span><i>00</i>&#58;<i>00</i>&#58;<i>00</i></span>
        </div>
        <div id="activePerson">参与人数&#58;0人</div>
    </div>
</div>
<!--活动ID开始-->
<input type="hidden" value="1" id="active_id"/>
<!--活动ID结束-->
<div id="div_subscribe_area" class="div_subscribe_area_class"></div>
<script src="https://wximg.gtimg.com/shake_tv/include/js/jsapi.js"></script>
<script src="http://m.maimaicn.com/js/lib/require.js" data-main="http://m.maimaicn.com/js/buy/wxshake"></script>
<script type="text/javascript">
    var _czc = _czc || [];
</script>