<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>买买APP下载</title>
    <style>
        body{
            background-color: #ffffff;
        }
        .download-img,.download-img img,.download img{
            width: 100%;
        }
        .download{
            width: 44%;
            margin: 30px auto;
        }
    </style>
</head>
<body>
<div class="download-img">
    <img src="/images/buy/download_01.jpg">
</div>
<div class="download download-ios">
    <a href="https://itunes.apple.com/cn/app/mai-mai-shang-cheng/id1121854354?mt=8">
        <img src="/images/buy/download_ios.png">
    </a>
</div>
<div class="download download-andriod">
    <a href="http://zhushou.360.cn/detail/index/soft_id/3300851">
        <img src="/images/buy/download_andriod.png">
    </a>
</div>
</body>
</html>