{{#extend "header"}}
    <title>退货进度</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/management.css" />
{{/extend}}
    <header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>退货进度</nav>
    </header>
    <div class="mana_gl">
        <!--<div class="mana_gl_1 mana_gl_6 clearfix">
            <div class="mana_gl_l">
                <a href="javascript:;"><img src="images/return_mana2.jpg" /></a>
            </div>
            <div class="mana_gl_r">
                <h2><a href="javasctipt:;"><nobr>宾利凤凰赤霞珠红葡萄酒宾利凤凰赤红葡萄酒宾利凤凰赤霞珠红葡萄酒</nobr></a></h2>
                <h3><a href="javasctipt:;"><nobr>Penley Estate Phoenix</nobr></a></h3>
                <p class="dred"><a href="javasctipt:;">￥306</a></p>
            </div>
        </div>
        <div class="mana_gl_2 mana_gl_6">退款金额：￥183</div>
        <div class="mana_gl_3 mana_gl_6">
            <span class="mana_gl_l">退款原因:</span>
            <p class="mana_gl_r">口感太涩，单宁驳杂，沉淀物甚是繁多，最主要的我明明醒了很久，开盖醒了快1个月了才喝的。太涩了。</p>
        </div>
        <div class="mana_gl_6 button mana_gl_8" style="background: -webkit-linear-gradient(top, #ff5959,#ff3d3d);">
            <a href="javascript:;">确认退款</a>
        </div>-->
    </div>
    <div class="refund_schedule">
        <ul>
            <!--<li class="new">
                <i></i>
                <div>
                    <p>欧阳夏星已签收。</p>
                    <p>2016年1月30日 下午3 : 10 : 55</p>
                </div>
            </li>
            <li>
                <p>离开 [河北 - 秦皇岛分拨站] 发往 [河北秦皇岛分拨站 - 南区加盟商]</p>
                <p>2016年1月30日 下午1 : 10 : 55</p>
            </li>
            <li>
                <p>离开 [北京运转中心] 发往 [河北 - 秦皇岛分拨站]</p>
                <p>2016年1月28日 下午1 : 10 : 55</p>
            </li>
            <li>
                <p>已取件，到达 [北京运转中心]</p>
                <p>2016年1月28日 下午1 : 10 : 55</p>
            </li>-->
        </ul>
    </div>
    <script data-main="/js/tuihuo" src="/js/lib/require.js"></script>