{{#extend "header"}}
    <title>自营订单详情</title>
    <link rel="stylesheet" type="text/css" href="/css/fanyongxq.css" />
{{/extend}}
    <header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>自营订单详情</nav>
    </header>
    <div class='ui-body main' style="padding-bottom: 30px;">
        <div class="ui-order-info">
            <div>
                <div class="ui-order-status">未付款</div>
                <div class="ui-order-code">订单号：201235626626526</div>
            </div>
            <div style="display: table;width: 100%;box-sizing: border-box;">
                <div style="float:right"><span class="ui-shou-info">收货电话：</span>17701241654</div><div><span class="ui-shou-info">收货人：</span>xxxxxxx</div>
                <div>
                    <div style="float: left;" class="ui-shou-info">收货地址：</div>
                    <div style="display: table;overflow: hidden;word-break: break-all;line-height: auto !important;">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
            </div>
            <div>下单时间：2016-1-31  11:21:12</div>
            <div class="ui-goods-list">
                <div class="ui-goods-info">
                    <div class="ui-img">
                        <img src="/images/47549894304100_B.jpg">
                    </div>
                    <div class="ui-desc">
                        <p>宾利凤凰赤霞珠红葡萄酒</p>
                        <p>Penley Estate Phoenix</p>
                        <p>X99</p>
                    </div>
                </div>
                <div class="ui-zeng">【买赠】 卢塞凯罗城堡超级波尔多干红葡萄酒            （订单完成后自动发放） X1</div>
            </div>
            <div class="ui-goods-list">
                <div class="ui-goods-info">
                    <div class="ui-img">
                        <img src="/images/47549894304100_B.jpg">
                    </div>
                    <div class="ui-desc">
                        <p>宾利凤凰赤霞珠红葡萄酒</p>
                        <p>Penley Estate Phoenix</p>
                        <p>X99</p>
                    </div>
                </div>
                <div class="ui-zeng">【买赠】 卢塞凯罗城堡超级波尔多干红葡萄酒            （订单完成后自动发放） X1</div>
            </div>
            <div class="ui-order-subtotal">
                <div>共有2件商品</div>
                <div>间接返利: <span>￥100</span></div>
                <div>合计: <span>￥306</span></div>
            </div>
        </div>
        
        <div class="ui-zeng ui-man ui-manjian">
            <div>
                <div>【满减】</div>
                <div>卢塞凯罗城堡超级波尔多干红葡萄酒            （订单完成后自动发放） X1</div>
            </div>
            
            <div>
                <div>【满减】</div>
                <div>卢塞凯罗城堡超级波尔多干红葡萄酒            （订单完成后自动发放） X1</div>
            </div>
        </div>
        <a class="button back _goback" style="display: block;">返回</a>
    </div>
    <script src="/js/lib/require.js" data-main="/js/ziyingxq"></script>
