{{#extend "header"}}
<title>用户协议</title>
<script src="/js/lib/rem.js"></script>
<style>
body{
background: #fff;
}
.cox{
    padding:0.4rem 0.2rem 0;
    font-size: 13px;
    color:#666;
}
p{
    padding: 0.4rem 0;
    line-height: 0.36rem;
    text-indent: 26px;
}
p:nth-of-type(1){
     text-indent: 0;
}
</style>
{{/extend}}
<header class="main_head">
	<nav class="nav"><a href="javascript:;" class="back _goback"></a><span class="nav-title">用户协议</span></nav>
</header>
<div class="cox">
  <p>本协议由买买用户以下简称“您”或“用户”与买买咖平台（简称"平台"，网址：www.maimaicn.com）的所有者买买电子商务股份有限公司 （以下简称为"买买"），就买买平台注册服务等相关事宜共同缔结。请您认真仔细阅读本注册服务协议， 您点击"我已阅读此协议”，并点击"确认"按钮后，即表示您完全理解并同意接受本协议项下的全部条款。</p>
    <p>1.本协议条款确认、接纳及效力</p>
    <p>1.1 本平台各项电子服务的所有权和运作权归买买所有。您确认：本协议条款是处理双方权利义务的依据，始终有效，  法律另有强制性规定或双方另有特别约定的，依其规定或约定。</p>
    <p>1.2 您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用买买平台服务，同时终止买买咖平台代理协议。</p>
    <p>1.3 当您注册成功后，买买便默认为您认可买买咖平台注册服务协议所有条款，无论您事实上是否在使用买买平台服务之前认真阅读了本协议内容，只要您使用买买平台服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得买买对您问询的解答等理由，主张本协议无效，或要求撤销本协议。</p>
<p>1.4 买买保留在中华人民共和国法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</p>
<p>1.5 您点击同意本协议的，即视为您确认自己具有享受本平台服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</p>
<p>1.6 本协议内容包括协议正文及所有买买平台已经发布的或将来可能发布的各类规则、准则、规范、标准、细则、公示、宣言等。所有规则、准则、规范、标准、细则、公示、宣言等均为本协议不可分割的组成部分，与本协议正文具有同等法律效力。除另行明确声明外，买买平台提供的任何服务均受本协议约束。</p>
<p>1.7 您知悉并理解，本协议依据国家相关法律、法规、规章制定，对双方具有法律约束力，具有合同效力。</p>
</div>
<script data-main="/js/buy/activities/003.js" src="/js/lib/require.js" ></script>









