{{#extend "header"}}
    <title>注册协议</title>
    <style type="text/css">
    	.main {
    		background: #fff;
    	}
        .xieyi {
            padding: 0 4%;
        }
        .xieyi h2 {
            text-align: center;
            margin: 20px 0;
        }
        .xieyi p {
            line-height: 25px;
        }
        .button {
            margin: 20px 4%;
        }
        .button a {
        	display: block;
        }
    </style>
{{/extend}}
<div class="main" style="padding-bottom:50px;">
    <header class="main_head">
        <nav class="nav"><a href="javascript:history.go(-1)" class="back _goback"></a>买买协议</nav>
    </header>
    <div class="xieyi">
        <h2>协议标题</h2>
        <p>协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内</p>
        <p>协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内</p>
        <p>协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内协议内容协议内容协议内容协议内容协议内</p>
    </div>
    <div class="button"><a href="javascript:history.go(-1)">同意</a></div>
</div>