{{#extend "header"}}
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
{{/extend}}

    <header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>买买</nav>
    </header>
    
    <div class="login_auto">
        <div class="main login_select">
            
            <h1 class="page_title m5">修改密码</h1>
            <div class="line-x m5"></div>
            <!-- 输入框 默认 -->
            <div class="login_form m5">
                <div class="login_hd">
                    <label class="login_hd_label login_pass"></label>
                    <input type="password" name="oldPassword" class="login_tel" placeholder="请输入原密码" />
                </div>
                <div class="line"></div>
                <div class="login_hd">
                    <label class="login_hd_label login_pass"></label>
                    <input type="password" name="newPassword" class="login_tel" placeholder="请输入新密码" />
                </div>
                <div class="line"></div>
                <div class="login_hd">
                    <label class="login_hd_label login_pass"></label>
                    <input type="password" name="rNewPassword" class="login_tel" placeholder="请再次输入新密码" />
                </div>              
            </div>
            
            <!--输入框 错误提示-->
            
            <!--<div class="login_form m5 login_form_w">
                <div class="login_hd">
                    <label class="login_hd_label login_pass"></label>
                    <input type="password" class="login_tel" placeholder="请输入原密码" />
                    <i class="login_make"></i>
                </div>
                <div class="line"></div>
                <div class="login_hd">
                    <label class="login_hd_label login_pass"></label>
                    <input type="password" class="login_tel" placeholder="请输入新密码" />
                    <i class="login_make"></i>
                </div>
                <div class="line"></div>
                <div class="login_hd">
                    <label class="login_hd_label login_pass"></label>
                    <input type="password" class="login_tel" placeholder="请再次输入新密码" />
                    <i class="login_make"></i>
                </div>                  
            </div>-->

            
            <div class="login_bott">
                <div class="button">
                    <a href="javascript:;">确定</a> 
                    <!--成功之后
                    <a href="4_5login.html">3秒后自动返回登录页面</a>-->
                </div>
                <div class="login_bott_a">
                    <a href="denglu.html" class="login_back">返回登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-message">原始密码错误</div>
    <script src="/js/lib/require.js" data-main="/js/xiugai"></script>
