{{#extend "header"}}
	<title>邀请买咖</title>
	<link type="text/css" rel="stylesheet" href="/css/info.css"/>
    <link type="text/css" rel="stylesheet" href="/css/shangou.css">
{{/extend}}
<div class="main">
    <div class="m_htai">
        <div class="yqing">
            <div class="yqing1 button">
                <a href="#" class="ui-oneKey-buy" style="display:block">一键购买</a>
                <div class="yqing2"><i></i><a href="xieyi.html">我已阅读此协议</a></div>
            </div>
            <img src="/images/yaoqing.jpg" />
        </div>
    </div>
</div>
<script data-main="/js/yaoqing" src="/js/lib/require.js"></script>
