{{#extend "header"}}
    <title>返佣明细</title>
    <link type="text/css" rel="stylesheet" href="/css/client_num.css">
{{/extend}}
    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:;" class="back _goback"></a>返佣明细</nav>
        </header>
    </div>
    <div class="container">
        <div class="phonenum prizebox" style="margin-top:0;">
            <div class="phoneinput">
                <span></span>
                <div class="button">查询</div>
                <div><input name="orderNo" type="tel" placeholder="输入订单号查询"/></div>
            </div>
        </div>
        <div class="itemlist" style="margin-top: 20px;">
             <div class="itemul">
                 <ul>
                    
                 </ul>
             </div>
        </div>
    </div>
    
    <div class="ui-nothing-find">
        <div>
            <dl>
                <dd style="background-position: 0 -156px;width:70px;height:80px"></dd>
                <dt style="margin-top: 15px;">没查到关于任何返利 </dt>
            </dl>
        </div>
     </div>
    </div>
    <script src="/js/lib/require.js" data-main="/js/fanyong"></script>
