{{#extend "header"}}
    <title>提现</title>
    <link rel="stylesheet" href="/css/money.css" />
{{/extend}}
    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:;" class="back _goback"></a>提现</nav>
        </header>
    </div>
    <div class="ui-body main">
        <div class="ui-body-c">
            <div class="ui-account-cash">
                <div style="text-indent: 6px;line-height: 25px;">可提现金额(元)</div>
                <div id="ui-yue" style="color: #ff6262;font-size:24px;line-height: 35px;">￥0</div>
            </div>
        </div>
        
        <div class="ui-acc-info">
            <div class="ui-zhibubao">
                <a href="shezhi.html?id=8888">设置</a>
                <div class="ui-nothing">
                    
                </div>
            </div>
            <div class="ui-bank">
                <a href="shezhi.html?id=9999">设置</a>
                <div class="ui-nothing">
                    
                </div>
            </div>
        </div>
        
        <div class="button ui-undo" style="margin-top: 50px;display: block;">申请提现</div>
    </div>
    <script src="/js/lib/require.js" data-main="/js/money_tixian"></script>
