<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="买买商城">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="applicable-device" content="mobile">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no" />
  <link rel='stylesheet' href='/css/common.css' />
  <script>
    /*该方法用来给app调用  用来隐藏一些不需要的元素*/
    window.isApp = 0;
    window.sessionStorage && (window.sessionStorage.isApp = 0);
    window.appHideEle = function(isApp){
        window.isApp = isApp;
        window.sessionStorage && (window.sessionStorage.isApp = isApp);
    }
  </script>
  {{{block "header"}}}
  <head>
<body class="main_bg">
{{{body}}}
</body>
</html>