{{#extend "header"}}
<title id="title">{{title}}</title>
<style>
    body{
        font-size:0px;
    }
    .pictureSort{
        width: 100%;
        height:5.6rem;
        overflow: hidden;
    }
    .pictureSort>a{
        width:50%;
        height:2.8rem;
        float:left;
        background: #f00;
    }
    .pictureSort>a>img{
        width:100%;
        height:2.8rem;
        float:left;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>{{title}}</nav>
</header>
{{>channel_top banner=topMap}}
    <section class="pictureSort" >
        {{#each adMap.[0].list}}
        <a href="{{this.htmlUrl}}"><img src="http://image.maimaicn.com/{{this.designImgUrl}}">
            </a>
            <!--<a href="javascript:void(0);"><img src="../../images/尚新季1.png" alt=""></a>-->
            {{/each}}
    </section>
{{>channel_roll_img_list_1 rollImgMap=recomMap.[0] id="ui-row_img_list_0"}}

{{>channel_item_list goodsList=itemListMap listType=2 id=modelActiveId}}
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=640){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                    }
                };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>