{{#extend "header"}}
    <title id="title">{{title}}</title>
    <style>
        .ad-holder{
            margin-bottom: 10px;
        }
        .ad-holder div{
        }
        .ad-holder div a{
            display: block;
        }
        .fl{
            width:100%;
            float:left;
        }
    </style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>{{title}}</nav>
</header>
{{>channel_top banner=topMap}}
{{>channel_roll_img_list rollImgMap=rollImgMap.[0] id="img_list_special" size="1.5"}}
<div class="ad-holder clearfix">
    {{#if adMap.[0].list}}
    {{#each adMap.[0].list}}
        <div class="fl">
            <a href="{{this.htmlUrl}}"><img class="ad-img" src="http://image.maimaicn.com/{{this.designImgUrl}}" alt=""></a>
        </div>
    {{/each}}
    {{/if}}
</div>
{{>channel_item_list goodsList=itemListMap listType=2 id=modelActiveId}}


