{{#extend "header"}}
<title id="title">{{title}}</title>
{{/extend}}

<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback" ></a>{{title}}</nav>
</header>
{{>channel_top banner=topMap}}
<div style="background:#fff">
{{> channel_roll_item_list rollItemMap=rollItemMap.[0] id="roll_item_list_0"}}
{{> channel_roll_item_list rollItemMap=rollItemMap.[1] id="roll_item_list_1"}}
{{> channel_roll_item_list rollItemMap=rollItemMap.[2] id="roll_item_list_2"}}
</div>
{{>channel_item_list goodsList=itemListMap listType=2 id=modelActiveId}}




