{{#extend "header"}}
    <title>推荐店铺</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/shangou.css">
{{/extend}}
{{> loading}}
    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:;" class="back _goback" ></a>推荐店铺</nav>
        </header>
    </div>
    <div class="tjian">
      <div class="tjian_l">
        <img src="/images/default.png" />
      </div>
      <div class="tjian_r">
          <h2>张Mrss旗舰店</h2>
          <p>我在买买发现了一家不错的店铺，赶紧过来看看吧。</p>
      </div>
    </div>
    
    <div class="button" style="position: absolute;width: 92%;bottom: 20px;">分享</div>
    <div class="fixed">
      <img src="/images/fenxiang2.png" />
    </div>
    <script data-main="/js/fxdianpu" src="/js/lib/require.js"></script>
