{{#extend "header"}}
<title>短信分享</title>
<link rel='stylesheet' href='/css/common.css'/>
<link rel='stylesheet' href='/css/fxduanxin.css'/>
{{/extend}}
<div class="main">
    <header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>短信分享</nav>
    </header>
</div>
<div id="template" class="template">
    <ul>
        <!--<li class="template_list"><a href=""><p>短信模板1</p><span class="triangle"></span></a></li>-->
    </ul>
</div>
<script data-main="/js/fxduanxin" src="/js/lib/require.js"></script>
