{{#extend "header"}}
	<title>资讯库</title>
	<link type="text/css" rel="stylesheet" href="/css/shangou.css">
    <style type="text/css">
        .ziliao {
            background: #f1f1f1;
        }
    </style>
{{/extend}}
<div class="main">
	<header class="main_head">
	    <nav class="nav"><a href="javascript:;" class="back _goback" ></a>资讯库</nav>
	</header>
</div>
<div class="ziliao" id="ziliao">
    <!--<div class="zl_box">-->
        <!--<div class="ziliao1">-->
            <!--<div class="ziliao1_l"><img src="/images/ziliao.jpg" /></div>-->
            <!--<div class="ziliao1_r">1920酒吧，在北京开展第三届奢华红酒收藏家聚会。</div>-->
        <!--</div>-->
        <!--<div class="button">分享到公众号</div>-->
    <!--</div>-->
    <!--<div class="zl_box">-->
        <!--<div class="ziliao1">-->
            <!--<div class="ziliao1_l"><img src="/images/ziliao.jpg" /></div>-->
            <!--<div class="ziliao1_r">1920酒吧，在北京开展第三届奢华红酒收藏家聚会。</div>-->
        <!--</div>-->
        <!--<div class="button">分享到公众号</div>-->
    <!--</div>-->
    <!--<div class="zl_box">-->
        <!--<div class="ziliao1">-->
            <!--<div class="ziliao1_l"><img src="/images/ziliao.jpg" /></div>-->
            <!--<div class="ziliao1_r">1920酒吧，在北京开展第三届奢华红酒收藏家聚会。</div>-->
        <!--</div>-->
        <!--<div class="button">分享到公众号</div>-->
    <!--</div>-->
    <!--<div class="zl_box">-->
        <!--<div class="ziliao1">-->
            <!--<div class="ziliao1_l"><img src="/images/ziliao.jpg" /></div>-->
            <!--<div class="ziliao1_r">1920酒吧，在北京开展第三届奢华红酒收藏家聚会。</div>-->
        <!--</div>-->
        <!--<div class="button">分享到公众号</div>-->
    <!--</div>-->
</div>
<script src="/js/lib/require.js" data-main="/js/fxzixun.js"></script>