<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <link rel='stylesheet' href='/css/common.css'/>
    <link rel="stylesheet" href="/css/tuiguang.css">
    <title>买买官网 - 大咖网上开店/零元购物新体验</title>
    <meta name="keywords" content="买买,买咖,大咖,网上开店/零元购物新体验网上开店,零元购,零元购物">
    <meta name="description" content="网购首选「买买」，全球大咖集结各类名品特卖，品牌授权，物美价廉，只为您提供快捷的网上购物体验!">
</head>
<body class="main_bg">
<!--搜索框-->
<div class="ind_search">
    <div class="ind_search_1 clearfix">
        <div class="ind_search_left">
            <i class="ind_search_s"></i>
            <a href="javasctipt:;" class="ind_search_r">搜索</a>
            <div class="ind_search_cen">
                <input type="text" class="txt" placeholder="请输入关键字"/>
            </div>
        </div>
    </div>
    <div class="ind_search_bg"></div>
</div>
<!--导航栏-->
<div class="head_nav">
    <ul class="clearfix">
        <li class="nav_li cur">
            <a href="javascript:;">精选推荐</a>
        </li>
    </ul>
</div>

<!--产品列表-->
<div class="shangp_list">
    <!--添加商品复制div class="ind_sx_list"的所有标签，添加在后面,其他板块操作方法一样-->
    <!--精选产品-->
    <div id="jingx" class="jingx shangp_list_cur">
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://img2.maim9.com/wine/20150824/18122088354220164_M"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>雅克公爵干红葡萄酒【零元购】</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>法国原瓶进口</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥0<span>市场价:￥328</span><span>13143已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="" data-goodsId="10009"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=10009">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160419/234024382241137_E"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>佩尔图斯男爵赤霞珠干红葡萄酒【零元购】</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>法国原瓶进口</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥0<span>市场价:￥218</span><span>13300已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="10006"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=10006">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160623/1618959278959030_E"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>德斯勒泡面杯【零元购】</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>韩式不锈钢泡面杯</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥0<span>市场价:￥58</span><span>7263已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="12973"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=12973">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160530/3040264415584180"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>德斯勒飘逸泡茶壶耐高温玲珑杯750ml【零元购】</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>高硼硅玻璃材质</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥0<span>市场价:￥58</span><span>1592已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="10591"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=10591">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160620/1362709760003226"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>德斯勒 陶瓷刀具两件套【零元购】</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>纳米氧化锆原料</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥0<span>市场价:￥49</span><span>1280已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="12892"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=12892">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160607/236811341240365_E"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>玻儿我爱摩登唇膏C51星星橘 3.5g</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>魅惑你的双唇</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥48<span>市场价:￥79</span><span>1299已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="12028"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=12028">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160615/922084425784554"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>雅诗兰黛 微精华面膜1片</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>国内专柜行货正品</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥59<span>市场价:￥100</span><span>1993已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="12640"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=12640">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160531/3130331176185308_E"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>意大利 AMICA CHIPS 阿米卡 盒装薯类膨化片 65g</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>办公室解馋止饿</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥8<span>市场价:￥16</span><span>1190已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="10966"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=10966">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160622/1513558452923339_E"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>意大利 AMICA CHIPS 阿米卡 辣味薯片 100g</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>办公室解馋止饿</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥12<span>市场价:￥25</span><span>890已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="11286"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=11286">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160617/1080790540255691_E"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>维图干红葡萄酒750ml</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>法国原瓶进口</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥29<span>市场价:￥268</span><span>1153已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" sId="12819"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=12819">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160617/1103002067588715_C"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>亨格系列啤酒500ml×6组合装</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>6种口味混搭装</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥49<span>市场价:￥119</span><span>431已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="12822"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=12822">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160621/1432757853405434"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>大宝绿控油洁面乳100g</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>清洁保湿 洗后不紧绷</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥13<span>市场价:￥35</span><span>725已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="12919"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=12919">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160621/1424069622256912_E"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>大宝SOD清爽保湿露100ml</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>轻薄透气 水润清透</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥12<span>市场价:￥48</span><span>218已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="12909"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=1146312909">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160616/991944841135952_E"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>中华多效+护龈清新薄荷味牙膏90g</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>多效口腔护理</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥6<span>市场价:￥13</span><span>319已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="12724"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=12724">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160617/1096825031015617_E"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>奥妙全自动含金纺温和馨香精华洗衣粉560g</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>金纺温和馨香精华</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥8<span>市场价:￥12</span><span>1676已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="12856"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=12856">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160707/2802708492465412"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>芬帝蓝莓干（袋装）80g</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>产自北美 野生蓝莓 果肉细致</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥29<span>市场价:￥58</span><span>1283已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="13372"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=13372">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160707/2801834427990365"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>芬帝芒果干（袋装）100g</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>产自泰国 酸酸甜甜 冲击味蕾</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥19<span>市场价:￥39</span><span>1219已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="13368"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=13368">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160601/3219221606874189_C"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>香黛儿单肩斜跨包2016新款春女包手提包斜跨欧美时尚潮女士包</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>多色可选 专柜正品</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥169<span>市场价:￥268</span><span>244已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="11463"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=11463">
        </div>
        <div class="ind_sx_list clearfix">
            <a href="javascript:;" class="ind_sx_img"><img
                    src="http://image.maimaicn.com/img/20160602/3285361460204833"/></a>
            <div class="ind_sx_r">
                <h3><a href="javasctipt:;">
                    <nobr>香黛儿2016新款女包潮欧美时尚鳄鱼纹链条小方包单肩斜挎小包包美人鱼</nobr>
                </a></h3>
                <h4><a href="javasctipt:;">
                    <nobr>多色可选 专柜正品</nobr>
                </a></h4>
                <p class="dred"><a href="javasctipt:;">￥119<span>市场价:￥198</span><span>178已售</span></a></p>
            </div>
            <a href="javascript:;" class="ind_sx_cart"><i class="ind_sx_cart_i" data-goodsId="11572"></i></a>
            <img class="erweima" src="http://api.qrserver.com/v1/create-qr-code/?data=http://m.maimaicn.com/g?mId=914%26gId=11572">
        </div>
    </div>
</div>
<script data-main="/js/tuiguang" src="/js/lib/require.js"></script>
</body>
</html>