{{#extend "header"}}
    <title>邀请买咖</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/shangou.css">
{{/extend}}
{{> loading}}
    <div class="main">
        <header class="main_head">
            <nav class="nav"><a href="javascript:;" class="back _goback" ></a>邀请买咖</nav>
        </header>
    </div>
    <div class="tjian">
        <div class="tjian_mmk">
            <img src="/images/default.jpg" />
        </div>
        <div class="tjian_mmk2">
            <div class="tjian_mmk2_l"></div>
            <div class="tjian_mmk2_r">诚邀买买大咖</div>
        </div>
        <div class="tjian_mmk">
            <p>让资源动起来才叫资源。让资源变现才叫资源。</p>
        </div>
        <div class="tjian_mmk">
            <p>升级大咖，秒赚10000，不是问题。</p>
        </div>
    </div>
    <div class="tjian_btn" style="position: absolute;width: 92%;bottom: 20px;">邀请</div>
    <div class="fixed">
      <img src="/images/fenxiang3.png" />
    </div>
    <script data-main="/js/yqmaika" src="/js/lib/require.js" ></script>
