{{#extend "header"}}
    <title>选手排行榜</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/miss_world/sl_rank.css" />
{{/extend}}
<div class="rank">
     <div class="select">
         <span class="rk flower hover">鲜花排行</span>
         <span class="rk vote">投票排行</span>
     </div>
    <!--排名显示列表-->
     <ul class="list">
     </ul>
</div>

<script src="/js/lib/require.js" data-main="/js/tv/miss_world/sl_rank.js"></script>
