{{#extend "header"}}
    <title>世旅商城</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/miss_world/sl_shop.css" />
{{/extend}}
<header class="main_head">
        <nav class="nav"><a href="javascript:;" class="back _goback"></a>商城<sapn id="xz">购买须知</sapn></nav>
</header>

<div class="shop">
    <!--提示-->
    <div class="message"></div>
    <!--商品列表-->
    <ul class="list"></ul>
    <!--购买须知-->
    <div class="xz_show">
        <div class="x_btn">X</div>
        <div class="line"></div>
        <div class="show">
            <p class="title">购买须知</p>
        </div>
    </div>
    <!--遮罩-->
    <div class="shade"></div>
</div>

<script src="/js/lib/require.js" data-main="/js/tv/miss_world/sl_shop.js"></script>
