{{#extend "header"}}
<title id="title">买买全品类大促</title>
<style type="text/css">
    .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
    .clearfix{zoom:1;clear:both;}
    .qpl_bg {
        width: 100%;
        min-width: 320px;
        max-width: 640px;
    }
    .qpl_1 {
        width: 100%;
    }
    .qpl_1 p {
        float: left;
    }
    .qpl_1 p.p1 {
        width: 8%;
    }
    .qpl_1 p.p2 {
        width: 42%;
    }
    .qpl_1 p.p3 {
        width: 42.13%;
    }
    .qpl_1 p.p4 {
        width: 7.87%;
    }
    .qpl_2 {
        width: 100%;
    }
    .qpl_2 p {        
        float: left;
    }
    .qpl_2 p.p1 {
        width: 34%;
    }
    .qpl_2 p.p2 {
        width: 32%;
    }
    .qpl_2 p.p3 {
        width: 34%;
    }
    .qpl_3 {
        width: 100%;
    }
    .qpl_3 p {
        float: left;
    }
    .qpl_3 p.p1 {
        width: 8%;
    }
    .qpl_3 p.p2 {
        width: 28%;
    }
    .qpl_3 p.p3 {
        width: 28%;
    }
    .qpl_3 p.p4 {
        width: 28%;
    }
    .qpl_3 p.p5 {
        width: 8%;
    }
    .qpl_4 {
        width: 100%;
    }
    .qpl_4 p {
        float: left;
    }
    .qpl_4 p.p1 {
        width: 8%;
    }
    .qpl_4 p.p2 {
        width: 27.99%;
    }
    .qpl_4 p.p3 {
        width: 27.99%;
    }
    .qpl_4 p.p4 {
        width: 27.99%;
    }
    .qpl_4 p.p5 {
        width: 8%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>买买全品类大促</nav>
</header>
<div class="qpl_bg">
    <p><img src="/images/activities/002/qpl_01.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/002/qpl_02.jpg" /></a></p>
    <p><img src="/images/activities/002/qpl_03.jpg" /></p>
    <div class="qpl_1 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_04.jpg" /></p>
        <p class="p2"><a href="/g?gId=13360"><img src="/images/activities/002/qpl_05.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=10009"><img src="/images/activities/002/qpl_06.jpg" /></a></p>
        <p class="p4"><img src="/images/activities/002/qpl_07.jpg" /></p>
    </div>
    <div class="qpl_1 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_08.jpg" /></p>
        <p class="p2"><a href="/g?gId=13370"><img src="/images/activities/002/qpl_09.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=13752"><img src="/images/activities/002/qpl_10.jpg" /></a></p>
        <p class="p4"><img src="/images/activities/002/qpl_11.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_12.jpg" /></p>
    <div class="qpl_2 clearfix">
        <p class="p1"><a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=SK-II"><img src="/images/activities/002/qpl_13.jpg" /></a></p>
        <p class="p2"><a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E9%9B%85%E8%AF%97%E5%85%B0%E9%BB%9B"><img src="/images/activities/002/qpl_14.jpg" /></a></p>
        <p class="p3"><a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E9%98%BF%E8%BF%AA%E8%BE%BE%E6%96%AF"><img src="/images/activities/002/qpl_15.jpg" /></a></p>
    </div>
    <div class="qpl_2 clearfix">
        <p class="p1"><a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=MY%20FASHION%20DESIGN"><img src="/images/activities/002/qpl_16.jpg" /></a></p>
        <p class="p2"><a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E8%BF%88%E5%85%8B.%E7%A7%91%E5%B0%94%E6%96%AF%EF%BC%88MICHAEL%20KORS%EF%BC%89"><img src="/images/activities/002/qpl_17.jpg" /></a></p>
        <p class="p3"><a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E8%A5%BF%E9%93%81%E5%9F%8E"><img src="/images/activities/002/qpl_18.jpg" /></a></p>
    </div>
    <p><a href="/g?gId=32061"><img src="/images/activities/002/qpl_19.jpg" /></a></p>
    <p><img src="/images/activities/002/qpl_20.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/liebiao.html?id=60&collectNum=0&gk="><img src="/images/activities/002/qpl_21.jpg" /></a></p>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_22.jpg" /></p>
        <p class="p2"><a href="/g?gId=23761"><img src="/images/activities/002/qpl_23.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=13099"><img src="/images/activities/002/qpl_24.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=13111"><img src="/images/activities/002/qpl_25.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_26.jpg" /></p>
    </div>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_27.jpg" /></p>
        <p class="p2"><a href="/g?gId=10021"><img src="/images/activities/002/qpl_28.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=10543"><img src="/images/activities/002/qpl_29.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=21444"><img src="/images/activities/002/qpl_30.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_31.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_32.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/liebiao.html?id=78&collectNum=0&gk="><img src="/images/activities/002/qpl_33.jpg" /></a></p>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_34.jpg" /></p>
        <p class="p2"><a href="/g?gId=10823"><img src="/images/activities/002/qpl_35.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=11096"><img src="/images/activities/002/qpl_36.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=11013"><img src="/images/activities/002/qpl_37.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_38.jpg" /></p>
    </div>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_39.jpg" /></p>
        <p class="p2"><a href="/g?gId=11535"><img src="/images/activities/002/qpl_40.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=11979"><img src="/images/activities/002/qpl_41.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=11988"><img src="/images/activities/002/qpl_42.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_43.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_44.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/liebiao.html?id=110&collectNum=0&gk="><img src="/images/activities/002/qpl_45.jpg" /></a></p>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_46.jpg" /></p>
        <p class="p2"><a href="/g?gId=23519"><img src="/images/activities/002/qpl_47.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=23611"><img src="/images/activities/002/qpl_48.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=24124"><img src="/images/activities/002/qpl_49.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_50.jpg" /></p>
    </div>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_51.jpg" /></p>
        <p class="p2"><a href="/g?gId=23559"><img src="/images/activities/002/qpl_52.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=24252"><img src="/images/activities/002/qpl_53.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=23660"><img src="/images/activities/002/qpl_54.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_55.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_56.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/liebiao.html?id=121&collectNum=0&gk="><img src="/images/activities/002/qpl_57.jpg" /></a></p>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_58.jpg" /></p>
        <p class="p2"><a href="/g?gId=21741"><img src="/images/activities/002/qpl_59.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=12452"><img src="/images/activities/002/qpl_60.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=20628"><img src="/images/activities/002/qpl_61.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_62.jpg" /></p>
    </div>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_63.jpg" /></p>
        <p class="p2"><a href="/g?gId=11463"><img src="/images/activities/002/qpl_64.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=13437"><img src="/images/activities/002/qpl_65.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=20628"><img src="/images/activities/002/qpl_66.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_67.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_68.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/liebiao.html?id=287&collectNum=0&gk="><img src="/images/activities/002/qpl_69.jpg" /></a></p>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_70.jpg" /></p>
        <p class="p2"><a href="/g?gId=20103"><img src="/images/activities/002/qpl_71.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=20355"><img src="/images/activities/002/qpl_72.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=20112"><img src="/images/activities/002/qpl_73.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_74.jpg" /></p>
    </div>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_75.jpg" /></p>
        <p class="p2"><a href="/g?gId=20347"><img src="/images/activities/002/qpl_76.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=12993"><img src="/images/activities/002/qpl_77.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=12981"><img src="/images/activities/002/qpl_78.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_79.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_80.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/liebiao.html?id=464&collectNum=0&gk="><img src="/images/activities/002/qpl_81.jpg" /></a></p>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_82.jpg" /></p>
        <p class="p2"><a href="/g?gId=10530"><img src="/images/activities/002/qpl_83.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=18979"><img src="/images/activities/002/qpl_84.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=23432"><img src="/images/activities/002/qpl_85.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_86.jpg" /></p>
    </div>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_87.jpg" /></p>
        <p class="p2"><a href="/g?gId=11232"><img src="/images/activities/002/qpl_88.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=17626"><img src="/images/activities/002/qpl_89.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=14127"><img src="/images/activities/002/qpl_90.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_91.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_92.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/liebiao.html?id=677&collectNum=0&gk="><img src="/images/activities/002/qpl_93.jpg" /></a></p>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_94.jpg" /></p>
        <p class="p2"><a href="/g?gId=29838"><img src="/images/activities/002/qpl_95.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=19969"><img src="/images/activities/002/qpl_96.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=25027"><img src="/images/activities/002/qpl_97.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_98.jpg" /></p>
    </div>
    <div class="qpl_4 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_99.jpg" /></p>
        <p class="p2"><a href="/g?gId=29999"><img src="/images/activities/002/qpl_100.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=29787"><img src="/images/activities/002/qpl_101.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=19397"><img src="/images/activities/002/qpl_102.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_103.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_104.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/liebiao.html?id=1262&collectNum=0&gk="><img src="/images/activities/002/qpl_105.jpg" /></a></p>
    <div class="qpl_1 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_106.jpg" /></p>
        <p class="p2"><a href="/g?gId=18875"><img src="/images/activities/002/qpl_107.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=18983"><img src="/images/activities/002/qpl_108.jpg" /></a></p>
        <p class="p4"><img src="/images/activities/002/qpl_109.jpg" /></p>
    </div>
    <div class="qpl_1 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_110.jpg" /></p>
        <p class="p2"><a href="/g?gId=18962"><img src="/images/activities/002/qpl_111.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=29995"><img src="/images/activities/002/qpl_112.jpg" /></a></p>
        <p class="p4"><img src="/images/activities/002/qpl_113.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_114.jpg" /></p>
    <p><a href="http://m.maimaicn.com/buyer/liebiao.html?id=1540&collectNum=0&gk="><img src="/images/activities/002/qpl_115.jpg" /></a></p>
    <div class="qpl_3 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_116.jpg" /></p>
        <p class="p2"><a href="/g?gId=21559"><img src="/images/activities/002/qpl_117.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=19745"><img src="/images/activities/002/qpl_118.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=19745"><img src="/images/activities/002/qpl_119.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_120.jpg" /></p>
    </div>
    <div class="qpl_4 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_121.jpg" /></p>
        <p class="p2"><a href="/g?gId=25874"><img src="/images/activities/002/qpl_122.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=18651"><img src="/images/activities/002/qpl_123.jpg" /></a></p>
        <p class="p4"><a href="/g?gId=18551"><img src="/images/activities/002/qpl_124.jpg" /></a></p>
        <p class="p5"><img src="/images/activities/002/qpl_125.jpg" /></p>
    </div>
    <p><a href="/g?gId="><img src="/images/activities/002/qpl_126.jpg" /></a></p>
    <div class="qpl_1 clearfix">
        <p class="p1"><img src="/images/activities/002/qpl_127.jpg" /></p>
        <p class="p2"><a href="/g?gId=18708"><img src="/images/activities/002/qpl_128.jpg" /></a></p>
        <p class="p3"><a href="/g?gId=27886"><img src="/images/activities/002/qpl_129.jpg" /></a></p>
        <p class="p4"><img src="/images/activities/002/qpl_130.jpg" /></p>
    </div>
    <p><img src="/images/activities/002/qpl_131.jpg" /></p>
    <p><a href="http://m.maimaicn.com/"><img src="/images/activities/002/qpl_132.jpg" /></a></p>
</div>
<script src="/js/lib/jquery.js"></script>
<script type="text/javascript">
    $(function(){
        $("a[class*='_goback']").off().on("click", function () {
            window.history.back(-1);
        });
    });
</script>