{{#extend "header"}}
<title id="title">五大品类专场</title>
<style type="text/css">
    .box{
        width:100%;
    }
    .box >div{
        width:100%;
        overflow: hidden;
    }
    .first{
        position: relative;
    }
    .first a{
        width:100%;
        float: left;
    }
    .first a img{
        width: 100%;
        float:left;
    }
    .first .list{
        width: 50%;
        float:left;
    }
    #return_top{
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background:url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>五大品类专场</nav>
</header>
<div class="box">
    <div class="first">
        <!--****************1***********************-->
        <a  href="/g?gId=40342"><img src="/images/activities/003/log-first.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/003/first-hed.jpg" alt=""></a>
        <a class="list"  href="/g?gId=38225"><img src="/images/activities/003/first-1.jpg" alt=""></a>
        <a class="list"  href="/g?gId=38237" ><img src="/images/activities/003/first-2.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40465" ><img src="/images/activities/003/first-3.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40474" ><img src="/images/activities/003/first-4.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40501" ><img src="/images/activities/003/first-5.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40481" ><img src="/images/activities/003/first-6.jpg" alt=""></a>
        <a  href="/buyer/cuxiaoxq.html?rLocationId=123"><img src="/images/activities/003/first-7.jpg" alt=""></a>
        <!--************************2*********************-->
        <a  href="javascript:void(0);"><img src="/images/activities/003/two-hed.jpg" alt=""></a>
        <a class="list"  href="/g?gId=32217" ><img src="/images/activities/003/two-1.jpg" alt=""></a>
        <a class="list"  href="/g?gId=32252" ><img src="/images/activities/003/two-2.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40509" ><img src="/images/activities/003/two-3.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40271" ><img src="/images/activities/003/two-4.jpg" alt=""></a>
        <a class="list"  href="/g?gId=32065" ><img src="/images/activities/003/two-5.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40510" ><img src="/images/activities/003/two-6.jpg" alt=""></a>
        <a  href="/buyer/cuxiaoxq.html?rLocationId=122"><img src="/images/activities/003/two-7.jpg" alt=""></a>
        <!--***************************3**********************-->
        <a  href="javascript:void(0);"><img src="/images/activities/003/three-hed.jpg" alt=""></a>
        <a class="list"  href="/g?gId=31047" ><img src="/images/activities/003/three-1.jpg" alt=""></a>
        <a class="list"  href="/g?gId=38191" ><img src="/images/activities/003/three-2.jpg" alt=""></a>
        <a class="list"  href="/g?gId=38307" ><img src="/images/activities/003/three-3.jpg" alt=""></a>
        <a class="list"  href="/g?gId=38308" ><img src="/images/activities/003/three-4.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40506" ><img src="/images/activities/003/three-5.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40515" ><img src="/images/activities/003/three-6.jpg" alt=""></a>
        <a  href="/buyer/cuxiaoxq.html?rLocationId=126"><img src="/images/activities/003/three-7.jpg" alt=""></a>
        <!--****************************4***********************-->
        <a  href="javascript:void(0);"><img src="/images/activities/003/four-hed.jpg" alt=""></a>
        <a class="list"  href="/g?gId=11359" ><img src="/images/activities/003/four-1.jpg" alt=""></a>
        <a class="list"  href="/g?gId=11370" ><img src="/images/activities/003/four-2.jpg" alt=""></a>
        <a class="list"  href="/g?gId=23761" ><img src="/images/activities/003/four-3.jpg" alt=""></a>
        <a class="list"  href="/g?gId=32061" ><img src="/images/activities/003/four-4.jpg" alt=""></a>
        <a class="list"  href="/g?gId=19540" ><img src="/images/activities/003/four-5.jpg" alt=""></a>
        <a class="list"  href="/g?gId=10330" ><img src="/images/activities/003/four-6.jpg" alt=""></a>
        <a  href="/buyer/cuxiaoxq.html?rLocationId=125"><img src="/images/activities/003/four-7.jpg" alt=""></a>
        <!--************************5****************************-->
        <a  href="javascript:void(0);"><img src="/images/activities/003/five-hed.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40283" ><img src="/images/activities/003/five-1.jpg" alt=""></a>
        <a class="list"  href="/g?gId=32877" ><img src="/images/activities/003/five-2.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40514" ><img src="/images/activities/003/five-3.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40285" ><img src="/images/activities/003/five-4.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40513" ><img src="/images/activities/003/five-5.jpg" alt=""></a>
        <a class="list"  href="/g?gId=40342" ><img src="/images/activities/003/five-6.jpg" alt=""></a>
        <a href="/buyer/cuxiaoxq.html?rLocationId=124"><img src="/images/activities/003/five-7.jpg" alt=""></a>
        <a href="/"><img src="/images/activities/003/five-8.jpg" alt=""></a>
    </div>
    <div id="return_top"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>