{{#extend "header"}}
<title id="title">12.12 买买就是让你赚</title>
<link rel="stylesheet" href="/css/swiper.min.css" />
<style type="text/css">
    .ui-ac{
      width: 100%;
      float: left;
    }
    .ui-ac > a{
      display: block;
      float: left;
    }
    .ui-ac >a.ui-img-one{
      width: 100%;
    }
    .ui-ac >a.ui-img-two{
      width: 50%;
    }
    .ui-ac >a.ui-img-three{
      width: 33.333333333333%;
    }
    .swiper-nav{
      max-width: 640px;
      margin: 0 auto;
      overflow: hidden;
      height: 40px;
      top: 0;
      z-index: 99999;
    }
    .swiper-nav span{
      line-height: 38px;
      font-size: 14px;
      text-align: center;
      display: block;
      border-bottom: 2px solid white;
      background-color: white;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>12.12 买买就是让你赚</nav>
</header>
<div class="ui-container">
  <div class="ui-ac ui-ac-0">
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_01.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_02.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_03.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_04.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_05.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_06.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_07.jpg"></a>
    <a href="/buyer/egghit.html?luckyId=12" class="ui-img-one"><img class="lazy"  data-original="/images/activities/004/004_0_08.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_09.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_12.jpg"></a>
    
    <a href="/g?gId=32557" class="ui-img-two"><img class="lazy" data-original="/images/activities/004/004_0_13.jpg"></a>
    <a href="/g?gId=38614" class="ui-img-two"><img class="lazy" data-original="/images/activities/004/004_0_14.jpg"></a>
    <a href="/g?gId=23416" class="ui-img-two"><img class="lazy" data-original="/images/activities/004/004_0_15.jpg"></a>
    <a href="/g?gId=10350" class="ui-img-two"><img class="lazy" data-original="/images/activities/004/004_0_16.jpg"></a>
    
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_17.jpg"></a>
    <a href="/buyer/channel/019.html?maId=50" class="ui-img-two"><img class="lazy" data-original="/images/activities/004/004_0_18.jpg"></a>
    <a href="/buyer/channel/019.html?maId=49" class="ui-img-two"><img class="lazy" data-original="/images/activities/004/004_0_19.jpg"></a>
    <a href="/buyer/channel/019.html?maId=51" class="ui-img-two"><img class="lazy" data-original="/images/activities/004/004_0_20.jpg"></a>
    <a href="/buyer/channel/019.html?maId=52" class="ui-img-two"><img class="lazy" data-original="/images/activities/004/004_0_21.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_22.jpg"></a>
    
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=THERMOS" class="ui-img-three"><img class="lazy" data-original="/images/activities/004/004_0_23.jpg"></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=%E8%B5%84%E7%94%9F%E5%A0%82" class="ui-img-three"><img class="lazy" data-original="/images/activities/004/004_0_24.jpg"></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=%E9%9F%A9%E5%90%8E" class="ui-img-three"><img class="lazy" data-original="/images/activities/004/004_0_25.jpg"></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=%E8%8A%B1%E7%8E%8B" class="ui-img-three"><img class="lazy" data-original="/images/activities/004/004_0_26.jpg"></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=Iphone" class="ui-img-three"><img class="lazy" data-original="/images/activities/004/004_0_27.jpg"></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=%E8%8B%8F%E6%B3%8A%E5%B0%94" class="ui-img-three"><img class="lazy" data-original="/images/activities/004/004_0_28.jpg"></a>
    <a href="#" class="ui-img-one"><img class="lazy" data-original="/images/activities/004/004_0_29.jpg"></a>
  </div>
  <div style="clear: both;"></div>
  <div class="swiper-nav">
    <ul class="swiper-wrapper">
      <li class="swiper-slide"><span data-color="#e62828" style="border-bottom-color: #e62828;color: #e62828;">12.12爆品</span></li>
      <li class="swiper-slide"><span data-color="#eb9a00">食品酒水</span></li>
      <li class="swiper-slide"><span data-color="#8c17a9">美妆护肤</span></li>
      <li class="swiper-slide"><span data-color="#ff66bc">服装鞋帽</span></li>
      <li class="swiper-slide"><span data-color="#d87139">生活家居</span></li>
      <li class="swiper-slide"><span data-color="#1a9eff">3C电脑</span></li>
      <li class="swiper-slide"><span data-color="#652765">母婴玩具</span></li>
      <li class="swiper-slide"><span data-color="#14afad">箱包钟表</span></li>
      <li class="swiper-slide"><span data-color="#e62828">红包商城</span></li>
    </div>
  </div>
  <div id="tabs-container" class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper" >
      <div class="swiper-slide">
        <div class="ui-ac content-slide">
          <a href="/g?gId=40331" class="ui-img-two"><img data-original="/images/activities/004/004_1_02.jpg" class="lazy"></a>
          <a href="/g?gId=40287" class="ui-img-two"><img data-original="/images/activities/004/004_1_03.jpg" class="lazy"></a>
          <a href="/g?gId=40339" class="ui-img-two"><img data-original="/images/activities/004/004_1_04.jpg" class="lazy"></a>
          <a href="/g?gId=11321" class="ui-img-two"><img data-original="/images/activities/004/004_1_05.jpg" class="lazy"></a>
          <a href="/g?gId=11343" class="ui-img-two"><img data-original="/images/activities/004/004_1_06.jpg" class="lazy"></a>
          <a href="/g?gId=23426" class="ui-img-two"><img data-original="/images/activities/004/004_1_07.jpg" class="lazy"></a>
          <a href="/g?gId=30912" class="ui-img-two"><img data-original="/images/activities/004/004_1_08.jpg" class="lazy"></a>
          <a href="/g?gId=15016" class="ui-img-two"><img data-original="/images/activities/004/004_1_09.jpg" class="lazy"></a>
          <a href="/g?gId=40326" class="ui-img-two"><img data-original="/images/activities/004/004_1_10.jpg" class="lazy"></a>
          <a href="/g?gId=38310" class="ui-img-two"><img data-original="/images/activities/004/004_1_11.jpg" class="lazy"></a>
          <a href="/g?gId=33195" class="ui-img-two"><img data-original="/images/activities/004/004_1_12.jpg" class="lazy"></a>
          <a href="/g?gId=40273" class="ui-img-two"><img data-original="/images/activities/004/004_1_13.jpg" class="lazy"></a>
          <a href="/g?gId=31494" class="ui-img-two"><img data-original="/images/activities/004/004_1_14.jpg" class="lazy"></a>
          <a href="/g?gId=40383" class="ui-img-two"><img data-original="/images/activities/004/004_1_15.jpg" class="lazy"></a>
          <a href="/g?gId=40384" class="ui-img-two"><img data-original="/images/activities/004/004_1_16.jpg" class="lazy"></a>
          <a href="/g?gId=38108" class="ui-img-two"><img data-original="/images/activities/004/004_1_17.jpg" class="lazy"></a>
          <a href="/g?gId=31671" class="ui-img-two"><img data-original="/images/activities/004/004_1_18.jpg" class="lazy"></a>
          <a href="/g?gId=39403" class="ui-img-two"><img data-original="/images/activities/004/004_1_19.jpg" class="lazy"></a>
          <a href="/g?gId=33221" class="ui-img-two"><img data-original="/images/activities/004/004_1_20.jpg" class="lazy"></a>
          <a href="/g?gId=38223" class="ui-img-two"><img data-original="/images/activities/004/004_1_21.jpg" class="lazy"></a>
        </div> 
      </div>
      
      <div class="swiper-slide">
        <div class="ui-ac content-slide">
          <a href="/g?gId=13354" class="ui-img-two"><img data-original="/images/activities/004/004_2_02.jpg" class="lazy"></a>
          <a href="/g?gId=10510" class="ui-img-two"><img data-original="/images/activities/004/004_2_03.jpg" class="lazy"></a>
          <a href="/g?gId=10593" class="ui-img-two"><img data-original="/images/activities/004/004_2_04.jpg" class="lazy"></a>
          <a href="/g?gId=13105" class="ui-img-two"><img data-original="/images/activities/004/004_2_05.jpg" class="lazy"></a>
          <a href="/g?gId=10608" class="ui-img-two"><img data-original="/images/activities/004/004_2_06.jpg" class="lazy"></a>
          <a href="/g?gId=40369" class="ui-img-two"><img data-original="/images/activities/004/004_2_07.jpg" class="lazy"></a>
          <a href="/g?gId=10384" class="ui-img-two"><img data-original="/images/activities/004/004_2_08.jpg" class="lazy"></a>
          <a href="/g?gId=10330" class="ui-img-two"><img data-original="/images/activities/004/004_2_09.jpg" class="lazy"></a>
          <a href="/g?gId=10023" class="ui-img-two"><img data-original="/images/activities/004/004_2_10.jpg" class="lazy"></a>
          <a href="/g?gId=10343" class="ui-img-two"><img data-original="/images/activities/004/004_2_11.jpg" class="lazy"></a>
          <a href="/g?gId=32061" class="ui-img-two"><img data-original="/images/activities/004/004_2_12.jpg" class="lazy"></a>
          <a href="/g?gId=11359" class="ui-img-two"><img data-original="/images/activities/004/004_2_13.jpg" class="lazy"></a>
          <a href="/g?gId=10008" class="ui-img-two"><img data-original="/images/activities/004/004_2_14.jpg" class="lazy"></a>
          <a href="/g?gId=10471" class="ui-img-two"><img data-original="/images/activities/004/004_2_15.jpg" class="lazy"></a>
          <a href="/g?gId=40367" class="ui-img-two"><img data-original="/images/activities/004/004_2_16.jpg" class="lazy"></a>
          <a href="/g?gId=13194" class="ui-img-two"><img data-original="/images/activities/004/004_2_17.jpg" class="lazy"></a>
          <a href="/g?gId=13208" class="ui-img-two"><img data-original="/images/activities/004/004_2_18.jpg" class="lazy"></a>
          <a href="/g?gId=11127" class="ui-img-two"><img data-original="/images/activities/004/004_2_19.jpg" class="lazy"></a>
          <a href="/g?gId=16868" class="ui-img-two"><img data-original="/images/activities/004/004_2_20.jpg" class="lazy"></a>
          <a href="/g?gId=10596" class="ui-img-two"><img data-original="/images/activities/004/004_2_21.jpg" class="lazy"></a>
        </div> 
      </div>
      
      <div class="swiper-slide">
        <div class="ui-ac content-slide">
          <a href="/g?gId=12823" class="ui-img-two"><img data-original="/images/activities/004/004_3_02.jpg" class="lazy"></a>
          <a href="/g?gId=40357" class="ui-img-two"><img data-original="/images/activities/004/004_3_03.jpg" class="lazy"></a>
          <a href="/g?gId=40341" class="ui-img-two"><img data-original="/images/activities/004/004_3_04.jpg" class="lazy"></a>
          <a href="/g?gId=40359" class="ui-img-two"><img data-original="/images/activities/004/004_3_05.jpg" class="lazy"></a>
          <a href="/g?gId=40288" class="ui-img-two"><img data-original="/images/activities/004/004_3_06.jpg" class="lazy"></a>
          <a href="/g?gId=40289" class="ui-img-two"><img data-original="/images/activities/004/004_3_07.jpg" class="lazy"></a>
          <a href="/g?gId=40360" class="ui-img-two"><img data-original="/images/activities/004/004_3_08.jpg" class="lazy"></a>
          <a href="/g?gId=40290" class="ui-img-two"><img data-original="/images/activities/004/004_3_09.jpg" class="lazy"></a>
          <a href="/g?gId=33514" class="ui-img-two"><img data-original="/images/activities/004/004_3_10.jpg" class="lazy"></a>
          <a href="/g?gId=10705" class="ui-img-two"><img data-original="/images/activities/004/004_3_11.jpg" class="lazy"></a>
          <a href="/g?gId=25806" class="ui-img-two"><img data-original="/images/activities/004/004_3_12.jpg" class="lazy"></a>
          <a href="/g?gId=32877" class="ui-img-two"><img data-original="/images/activities/004/004_3_13.jpg" class="lazy"></a>
          <a href="/g?gId=32759" class="ui-img-two"><img data-original="/images/activities/004/004_3_14.jpg" class="lazy"></a>
          <a href="/g?gId=22747" class="ui-img-two"><img data-original="/images/activities/004/004_3_15.jpg" class="lazy"></a>
          <a href="/g?gId=29707" class="ui-img-two"><img data-original="/images/activities/004/004_3_16.jpg" class="lazy"></a>
          <a href="/g?gId=29646" class="ui-img-two"><img data-original="/images/activities/004/004_3_17.jpg" class="lazy"></a>
          <a href="/g?gId=24415" class="ui-img-two"><img data-original="/images/activities/004/004_3_18.jpg" class="lazy"></a>
          <a href="/g?gId=20542" class="ui-img-two"><img data-original="/images/activities/004/004_3_19.jpg" class="lazy"></a>
          <a href="/g?gId=19467" class="ui-img-two"><img data-original="/images/activities/004/004_3_20.jpg" class="lazy"></a>
          <a href="/g?gId=40291" class="ui-img-two"><img data-original="/images/activities/004/004_3_21.jpg" class="lazy"></a>
        </div> 
      </div>
      
      <div class="swiper-slide">
        <div class="ui-ac content-slide">
          <a href="/g?gId=33085" class="ui-img-two"><img data-original="/images/activities/004/004_4_02.jpg" class="lazy"></a>
          <a href="/g?gId=33433" class="ui-img-two"><img data-original="/images/activities/004/004_4_03.jpg" class="lazy"></a>
          <a href="/g?gId=32936" class="ui-img-two"><img data-original="/images/activities/004/004_4_04.jpg" class="lazy"></a>
          <a href="/g?gId=34046" class="ui-img-two"><img data-original="/images/activities/004/004_4_05.jpg" class="lazy"></a>
          <a href="/g?gId=33498" class="ui-img-two"><img data-original="/images/activities/004/004_4_06.jpg" class="lazy"></a>
          <a href="/g?gId=33380" class="ui-img-two"><img data-original="/images/activities/004/004_4_07.jpg" class="lazy"></a>
          <a href="/g?gId=32371" class="ui-img-two"><img data-original="/images/activities/004/004_4_08.jpg" class="lazy"></a>
          <a href="/g?gId=32533" class="ui-img-two"><img data-original="/images/activities/004/004_4_09.jpg" class="lazy"></a>
          <a href="/g?gId=37451" class="ui-img-two"><img data-original="/images/activities/004/004_4_10.jpg" class="lazy"></a>
          <a href="/g?gId=33375" class="ui-img-two"><img data-original="/images/activities/004/004_4_11.jpg" class="lazy"></a>
          <a href="/g?gId=38880" class="ui-img-two"><img data-original="/images/activities/004/004_4_12.jpg" class="lazy"></a>
          <a href="/g?gId=34039" class="ui-img-two"><img data-original="/images/activities/004/004_4_13.jpg" class="lazy"></a>
          <a href="/g?gId=33475" class="ui-img-two"><img data-original="/images/activities/004/004_4_14.jpg" class="lazy"></a>
          <a href="/g?gId=33366" class="ui-img-two"><img data-original="/images/activities/004/004_4_15.jpg" class="lazy"></a>
          <a href="/g?gId=33400" class="ui-img-two"><img data-original="/images/activities/004/004_4_16.jpg" class="lazy"></a>
          <a href="/g?gId=33288" class="ui-img-two"><img data-original="/images/activities/004/004_4_17.jpg" class="lazy"></a>
          <a href="/g?gId=32514" class="ui-img-two"><img data-original="/images/activities/004/004_4_18.jpg" class="lazy"></a>
          <a href="/g?gId=33002" class="ui-img-two"><img data-original="/images/activities/004/004_4_19.jpg" class="lazy"></a>
          <a href="/g?gId=33328" class="ui-img-two"><img data-original="/images/activities/004/004_4_20.jpg" class="lazy"></a>
          <a href="/g?gId=40333" class="ui-img-two"><img data-original="/images/activities/004/004_4_21.jpg" class="lazy"></a>
        </div> 
      </div>
      
      <div class="swiper-slide">
        <div class="ui-ac content-slide">
          <a href="/g?gId=40280" class="ui-img-two"><img data-original="/images/activities/004/004_5_02.jpg" class="lazy"></a>
          <a href="/g?gId=40271" class="ui-img-two"><img data-original="/images/activities/004/004_5_03.jpg" class="lazy"></a>
          <a href="/g?gId=15882" class="ui-img-two"><img data-original="/images/activities/004/004_5_04.jpg" class="lazy"></a>
          <a href="/g?gId=32059" class="ui-img-two"><img data-original="/images/activities/004/004_5_05.jpg" class="lazy"></a>
          <a href="/g?gId=10513" class="ui-img-two"><img data-original="/images/activities/004/004_5_06.jpg" class="lazy"></a>
          <a href="/g?gId=18624" class="ui-img-two"><img data-original="/images/activities/004/004_5_07.jpg" class="lazy"></a>
          <a href="/g?gId=12321" class="ui-img-two"><img data-original="/images/activities/004/004_5_08.jpg" class="lazy"></a>
          <a href="/g?gId=23440" class="ui-img-two"><img data-original="/images/activities/004/004_5_09.jpg" class="lazy"></a>
          <a href="/g?gId=32261" class="ui-img-two"><img data-original="/images/activities/004/004_5_10.jpg" class="lazy"></a>
          <a href="/g?gId=17168" class="ui-img-two"><img data-original="/images/activities/004/004_5_11.jpg" class="lazy"></a>
          <a href="/g?gId=32839" class="ui-img-two"><img data-original="/images/activities/004/004_5_12.jpg" class="lazy"></a>
          <a href="/g?gId=31746" class="ui-img-two"><img data-original="/images/activities/004/004_5_13.jpg" class="lazy"></a>
          <a href="/g?gId=31778" class="ui-img-two"><img data-original="/images/activities/004/004_5_14.jpg" class="lazy"></a>
          <a href="/g?gId=33623" class="ui-img-two"><img data-original="/images/activities/004/004_5_15.jpg" class="lazy"></a>
          <a href="/g?gId=32095" class="ui-img-two"><img data-original="/images/activities/004/004_5_16.jpg" class="lazy"></a>
          <a href="/g?gId=32242" class="ui-img-two"><img data-original="/images/activities/004/004_5_17.jpg" class="lazy"></a>
          <a href="/g?gId=32250" class="ui-img-two"><img data-original="/images/activities/004/004_5_18.jpg" class="lazy"></a>
          <a href="/g?gId=17034" class="ui-img-two"><img data-original="/images/activities/004/004_5_19.jpg" class="lazy"></a>
          <a href="/g?gId=16998" class="ui-img-two"><img data-original="/images/activities/004/004_5_20.jpg" class="lazy"></a>
          <a href="/g?gId=19183" class="ui-img-two"><img data-original="/images/activities/004/004_5_21.jpg" class="lazy"></a>
        </div> 
      </div>
      
      
      <div class="swiper-slide">
        <div class="ui-ac content-slide">
          <a href="/g?gId=38305" class="ui-img-two"><img data-original="/images/activities/004/004_6_02.jpg" class="lazy"></a>
          <a href="/g?gId=38174" class="ui-img-two"><img data-original="/images/activities/004/004_6_03.jpg" class="lazy"></a>
          <a href="/g?gId=38179" class="ui-img-two"><img data-original="/images/activities/004/004_6_04.jpg" class="lazy"></a>
          <a href="/g?gId=38306" class="ui-img-two"><img data-original="/images/activities/004/004_6_05.jpg" class="lazy"></a>
          <a href="/g?gId=39402" class="ui-img-two"><img data-original="/images/activities/004/004_6_06.jpg" class="lazy"></a>
          <a href="/g?gId=40268" class="ui-img-two"><img data-original="/images/activities/004/004_6_07.jpg" class="lazy"></a>
          <a href="/g?gId=40308" class="ui-img-two"><img data-original="/images/activities/004/004_6_08.jpg" class="lazy"></a>
          <a href="/g?gId=39446" class="ui-img-two"><img data-original="/images/activities/004/004_6_09.jpg" class="lazy"></a>
          <a href="/g?gId=29207" class="ui-img-two"><img data-original="/images/activities/004/004_6_10.jpg" class="lazy"></a>
          <a href="/g?gId=40312" class="ui-img-two"><img data-original="/images/activities/004/004_6_11.jpg" class="lazy"></a>
          <a href="/g?gId=39390" class="ui-img-two"><img data-original="/images/activities/004/004_6_12.jpg" class="lazy"></a>
          <a href="/g?gId=40307" class="ui-img-two"><img data-original="/images/activities/004/004_6_13.jpg" class="lazy"></a>
          <a href="/g?gId=40270" class="ui-img-two"><img data-original="/images/activities/004/004_6_14.jpg" class="lazy"></a>
          <a href="/g?gId=38311" class="ui-img-two"><img data-original="/images/activities/004/004_6_15.jpg" class="lazy"></a>
          <a href="/g?gId=31047" class="ui-img-two"><img data-original="/images/activities/004/004_6_16.jpg" class="lazy"></a>
          <a href="/g?gId=38199" class="ui-img-two"><img data-original="/images/activities/004/004_6_17.jpg" class="lazy"></a>
          <a href="/g?gId=38160" class="ui-img-two"><img data-original="/images/activities/004/004_6_18.jpg" class="lazy"></a>
          <a href="/g?gId=38171" class="ui-img-two"><img data-original="/images/activities/004/004_6_19.jpg" class="lazy"></a>
          <a href="/g?gId=40277" class="ui-img-two"><img data-original="/images/activities/004/004_6_20.jpg" class="lazy"></a>
          <a href="/g?gId=38304" class="ui-img-two"><img data-original="/images/activities/004/004_6_21.jpg" class="lazy"></a>
        </div> 
      </div>
      
      <div class="swiper-slide">
        <div class="ui-ac content-slide">
          <a href="/g?gId=40355" class="ui-img-two"><img data-original="/images/activities/004/004_7_02.jpg" class="lazy"></a>
          <a href="/g?gId=19194" class="ui-img-two"><img data-original="/images/activities/004/004_7_03.jpg" class="lazy"></a>
          <a href="/g?gId=22977" class="ui-img-two"><img data-original="/images/activities/004/004_7_04.jpg" class="lazy"></a>
          <a href="/g?gId=40362" class="ui-img-two"><img data-original="/images/activities/004/004_7_05.jpg" class="lazy"></a>
          <a href="/g?gId=40363" class="ui-img-two"><img data-original="/images/activities/004/004_7_06.jpg" class="lazy"></a>
          <a href="/g?gId=40364" class="ui-img-two"><img data-original="/images/activities/004/004_7_07.jpg" class="lazy"></a>
          <a href="/g?gId=40314" class="ui-img-two"><img data-original="/images/activities/004/004_7_08.jpg" class="lazy"></a>
          <a href="/g?gId=40319" class="ui-img-two"><img data-original="/images/activities/004/004_7_09.jpg" class="lazy"></a>
          <a href="/g?gId=22857" class="ui-img-two"><img data-original="/images/activities/004/004_7_10.jpg" class="lazy"></a>
          <a href="/g?gId=40338" class="ui-img-two"><img data-original="/images/activities/004/004_7_11.jpg" class="lazy"></a>
          <a href="/g?gId=27766" class="ui-img-two"><img data-original="/images/activities/004/004_7_12.jpg" class="lazy"></a>
          <a href="/g?gId=22906" class="ui-img-two"><img data-original="/images/activities/004/004_7_13.jpg" class="lazy"></a>
          <a href="/g?gId=40316" class="ui-img-two"><img data-original="/images/activities/004/004_7_14.jpg" class="lazy"></a>
          <a href="/g?gId=40320" class="ui-img-two"><img data-original="/images/activities/004/004_7_15.jpg" class="lazy"></a>
          <a href="/g?gId=40324" class="ui-img-two"><img data-original="/images/activities/004/004_7_16.jpg" class="lazy"></a>
          <a href="/g?gId=39336" class="ui-img-two"><img data-original="/images/activities/004/004_7_17.jpg" class="lazy"></a>
          <a href="/g?gId=40344" class="ui-img-two"><img data-original="/images/activities/004/004_7_18.jpg" class="lazy"></a>
          <a href="/g?gId=40347" class="ui-img-two"><img data-original="/images/activities/004/004_7_19.jpg" class="lazy"></a>
          <a href="/g?gId=40358" class="ui-img-two"><img data-original="/images/activities/004/004_7_20.jpg" class="lazy"></a>
          <a href="/g?gId=40351" class="ui-img-two"><img data-original="/images/activities/004/004_7_21.jpg" class="lazy"></a>
        </div> 
      </div>
      
      <div class="swiper-slide">
        <div class="ui-ac content-slide">
          <a href="/g?gId=11323" class="ui-img-two"><img data-original="/images/activities/004/004_8_02.jpg" class="lazy"></a>
          <a href="/g?gId=38698" class="ui-img-two"><img data-original="/images/activities/004/004_8_03.jpg" class="lazy"></a>
          <a href="/g?gId=11794" class="ui-img-two"><img data-original="/images/activities/004/004_8_04.jpg" class="lazy"></a>
          <a href="/g?gId=38664" class="ui-img-two"><img data-original="/images/activities/004/004_8_05.jpg" class="lazy"></a>
          <a href="/g?gId=12061" class="ui-img-two"><img data-original="/images/activities/004/004_8_06.jpg" class="lazy"></a>
          <a href="/g?gId=27912" class="ui-img-two"><img data-original="/images/activities/004/004_8_07.jpg" class="lazy"></a>
          <a href="/g?gId=23267" class="ui-img-two"><img data-original="/images/activities/004/004_8_08.jpg" class="lazy"></a>
          <a href="/g?gId=27927" class="ui-img-two"><img data-original="/images/activities/004/004_8_09.jpg" class="lazy"></a>
          <a href="/g?gId=21325" class="ui-img-two"><img data-original="/images/activities/004/004_8_10.jpg" class="lazy"></a>
          <a href="/g?gId=12369" class="ui-img-two"><img data-original="/images/activities/004/004_8_11.jpg" class="lazy"></a>
          <a href="/g?gId=11792" class="ui-img-two"><img data-original="/images/activities/004/004_8_12.jpg" class="lazy"></a>
          <a href="/g?gId=11818" class="ui-img-two"><img data-original="/images/activities/004/004_8_13.jpg" class="lazy"></a>
          <a href="/g?gId=11563" class="ui-img-two"><img data-original="/images/activities/004/004_8_14.jpg" class="lazy"></a>
          <a href="/g?gId=19088" class="ui-img-two"><img data-original="/images/activities/004/004_8_15.jpg" class="lazy"></a>
          <a href="/g?gId=11538" class="ui-img-two"><img data-original="/images/activities/004/004_8_16.jpg" class="lazy"></a>
          <a href="/g?gId=11770" class="ui-img-two"><img data-original="/images/activities/004/004_8_17.jpg" class="lazy"></a>
          <a href="/g?gId=11806" class="ui-img-two"><img data-original="/images/activities/004/004_8_18.jpg" class="lazy"></a>
          <a href="/g?gId=33156" class="ui-img-two"><img data-original="/images/activities/004/004_8_19.jpg" class="lazy"></a>
          <a href="/g?gId=19086" class="ui-img-two"><img data-original="/images/activities/004/004_8_20.jpg" class="lazy"></a>
          <a href="/g?gId=38718" class="ui-img-two"><img data-original="/images/activities/004/004_8_21.jpg" class="lazy"></a>
        </div> 
      </div>
    </div> 
  </div> 
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/004"></script>