{{#extend "header"}}
<title id="title">拒绝邋遢 “惠”买洗护用品</title>
<style type="text/css">
    .box{
        width:100%;
    }
    .box a{
        display: block;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>拒绝邋遢 “惠”买洗护用品</nav>
</header>
<div class="box">
    <a href="javascript:void(0);"><img src="/images/activities/007/act07_01.jpg" alt=""></a>
    <a href="javascript:void(0);"><img src="/images/activities/007/act07_02.jpg" alt=""></a>
    <a href="/g?gId=44526"><img src="/images/activities/007/act07_03.jpg" alt=""></a>
    <a href="/g?gId=44554"><img src="/images/activities/007/act07_04.jpg" alt=""></a>
    <a href="/g?gId=40286"><img src="/images/activities/007/act07_05.jpg" alt=""></a>
    <a href="#" class="return_top"><img src="/images/activities/007/act07_06.jpg" alt=""></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>