{{#extend "header"}}
<title id="title">食品酒水 惊爆4折起</title>
<style type="text/css">
    .box{
        width:100%;
    }
    .box a{
        display: block;
    }
    .box1 {
        width: 100%;
    }
    .box1 a {
        display: block;
        float: left;
        width: 50%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>食品酒水 惊爆4折起</nav>
</header>
<div class="box">
    <a id="top"><img src="/images/activities/008/food_01.jpg" alt=""></a>
    <a><img src="/images/activities/008/food_02.jpg" alt=""></a>
    <a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/008/food_03.jpg" alt=""></a>
    <a><img src="/images/activities/008/food_04.jpg" alt=""></a>
    <a href="/g?gId=11321"><img src="/images/activities/008/food_05.jpg" alt=""></a>
    <div class="box1">
        <a href="/g?gId=13182"><img src="/images/activities/008/food_06.jpg" alt=""></a>
        <a href="/g?gId=13177"><img src="/images/activities/008/food_07.jpg" alt=""></a>
    </div>
    <a href="/g?gId=13153"><img src="/images/activities/008/food_08.jpg" alt=""></a>
    <div class="box1">
        <a href="/g?gId=10453"><img src="/images/activities/008/food_09.jpg" alt=""></a>
        <a href="/g?gId=10451"><img src="/images/activities/008/food_10.jpg" alt=""></a>
    </div>
    <a href="/g?gId=11359"><img src="/images/activities/008/food_11.jpg" alt=""></a>
    <div class="box1">
        <a href="/g?gId=11405"><img src="/images/activities/008/food_12.jpg" alt=""></a>
        <a href="/g?gId=11604"><img src="/images/activities/008/food_13.jpg" alt=""></a>
    </div>
    <a href="/g?gId=11361"><img src="/images/activities/008/food_14.jpg" alt=""></a>
    <a><img src="/images/activities/008/food_15.jpg" alt=""></a>
    <div class="box1">
        <a href="014.html"><img src="/images/activities/008/food_16.jpg" alt=""></a>
        <a href="013.html"><img src="/images/activities/008/food_17.jpg" alt=""></a>
        <a href="009.html"><img src="/images/activities/008/food_18.jpg" alt=""></a>
        <a href="010.html"><img src="/images/activities/008/food_19.jpg" alt=""></a>
        <a href="011.html"><img src="/images/activities/008/food_20.jpg" alt=""></a>
        <a href="012.html"><img src="/images/activities/008/food_21.jpg" alt=""></a>
    </div>
    <a href="#top"><img src="/images/activities/008/food_22.jpg" alt=""></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/014"></script>