{{#extend "header"}}
<title id="title">生活家居 惊爆3折起</title>
<style type="text/css">
  .ui-body{
    width: 100%;
  }
  .ui-body a{
    float: left;
    display: block;
    width: 100%;
  } 
  .ui-body a img{
      width: 100%;
  }
  .ui-body a.ui-img-two{
      width: 50%;
  }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>生活家居 惊爆3折起</nav>
</header>
<div class="ui-body">
    <a href="javascript:;"><img src="/images/activities/009/009_01.jpg"></a>
    <a href="javascript:;"><img src="/images/activities/009/009_02.jpg"></a>
    <a href="javascript:;"><img src="/images/activities/009/009_03.jpg"></a>
    <a href="/buyer/egghit.html?luckyId=12"><img src="/images/activities/009/009_04.jpg"></a>
    <a href="/buyer/egghit.html?luckyId=12"><img src="/images/activities/009/009_05.jpg"></a>
    <a href="javascript:;"><img src="/images/activities/009/009_06.jpg"></a>
    <a href="/g?gId=24947"><img src="/images/activities/009/009_07.jpg"></a>
    <a href="/g?gId=40424" class="ui-img-two"><img src="/images/activities/009/009_08.jpg"></a>
    <a href="/g?gId=36767" class="ui-img-two"><img src="/images/activities/009/009_09.jpg"></a>
    <a href="/g?gId=40318"><img src="/images/activities/009/009_10.jpg"></a>
    <a href="/g?gId=40212" class="ui-img-two"><img src="/images/activities/009/009_11.jpg"></a>
    <a href="/g?gId=23415" class="ui-img-two"><img src="/images/activities/009/009_12.jpg"></a>
    <a href="/g?gId=38649"><img src="/images/activities/009/009_13.jpg"></a>
    <a href="/g?gId=23096" class="ui-img-two"><img src="/images/activities/009/009_14.jpg"></a>
    <a href="/g?gId=40416" class="ui-img-two"><img src="/images/activities/009/009_15.jpg"></a>
    <a href="/g?gId=40321"><img src="/images/activities/009/009_16.jpg"></a>
    <a href="/g?gId=39411" class="ui-img-two"><img src="/images/activities/009/009_17.jpg"></a>
    <a href="/g?gId=32047" class="ui-img-two"><img src="/images/activities/009/009_18.jpg"></a>
    <a href="/g?gId=39890" class="ui-img-two"><img src="/images/activities/009/009_19.jpg"></a>
    <a href="/g?gId=47562" class="ui-img-two"><img src="/images/activities/009/009_20.jpg"></a>
    <a href="/buyer/activities/014.html" class="ui-img-two"><img src="/images/activities/009/009_21.jpg"></a>
    <a href="/buyer/activities/008.html" class="ui-img-two"><img src="/images/activities/009/009_22.jpg"></a>
    <a href="/buyer/activities/010.html" class="ui-img-two"><img src="/images/activities/009/009_23.jpg"></a>
    <a href="/buyer/activities/013.html" class="ui-img-two"><img src="/images/activities/009/009_24.jpg"></a>
    <a href="/buyer/activities/012.html" class="ui-img-two"><img src="/images/activities/009/009_25.jpg"></a>
    <a href="/buyer/activities/011.html" class="ui-img-two"><img src="/images/activities/009/009_26.jpg"></a>
    <a href="#"><img src="/images/activities/009/009_27.jpg"></a>
    <a href="javascript:;"><img src="/images/activities/009/009_28.jpg"></a>
</div>
<script src="/js/lib/require.js"></script>
<script>
  require.config({baseUrl: '/js/lib',urlArgs: "v0.0.1", paths:{swiper: "swiper.min"}});
  require(['zepto', 'lib','visitor-logs'], function($, lib, vl){
      $(function(){
        vl.setLog(window.location.href, 2);//会员访问日志
    });
  });
</script>