{{#extend "header"}}
<title id="title">双旦 限时秒杀</title>
<style type="text/css">
    .box{
        width:100%;
        position: relative;
    }
    .box a{
        display: block;
        position: absolute;
        width: 100%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>双旦 限时秒杀</nav>
</header>
<div class="box">
    <img src="" class="Img" /> 
    <a href="javascript:;" class="aaa"></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/014"></script>