{{#extend "header"}}
<title id="title">过年大集</title>
<style type="text/css">
    .box {
        width: 100%;
    }
    .box_1 {
        width: 100%;
    }
    .box_1 a {
        width: 50%;
        float: left;
    }
    .box_1 img {
        width: 100%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>过年大集</nav>
</header>
<div class="box">
    <a><img src="/images/activities/015/gn_01.jpg"></a>
    <a><img src="/images/activities/015/gn_02.jpg"></a>
    <a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/015/gn_03.jpg"></a>
    <a><img src="/images/activities/015/gn_04.jpg"></a>
    <a href="http://m.maimaicn.com/buyer/lingyuangouzq.html?activeId=11"><img src="/images/activities/015/gn_05.jpg"></a>
    <a><img src="/images/activities/015/gn_06.jpg"></a>
    <a href="/g?gId=27729"><img src="/images/activities/015/gn_07.jpg"></a>
    <a href="/g?gId=40432"><img src="/images/activities/015/gn_08.jpg"></a>
    <a href="/g?gId=21041"><img src="/images/activities/015/gn_09.jpg"></a>
    <a href="/g?gId=39411"><img src="/images/activities/015/gn_10.jpg"></a>
    <a href="/g?gId=31693"><img src="/images/activities/015/gn_11.jpg"></a>
    <a><img src="/images/activities/015/gn_12.jpg"></a>
    <a href="/g?gId=32242"><img src="/images/activities/015/gn_13.jpg"></a>
    <div class="box_1">
        <a href="/g?gId=49069"><img src="/images/activities/015/gn_14.jpg"></a>
        <a href="/g?gId=13146"><img src="/images/activities/015/gn_15.jpg"></a>
        <a href="/g?gId=49067"><img src="/images/activities/015/gn_16.jpg"></a>
        <a href="/g?gId=46202"><img src="/images/activities/015/gn_17.jpg"></a>
    </div>
    <a><img src="/images/activities/015/gn_18.jpg"></a>
    <a href="/g?gId=48657"><img src="/images/activities/015/gn_19.jpg"></a>
    <div class="box_1">
        <a href="/g?gId=48729"><img src="/images/activities/015/gn_20.jpg"></a>
        <a href="/g?gId=42139"><img src="/images/activities/015/gn_21.jpg"></a>
        <a href="/g?gId=49068"><img src="/images/activities/015/gn_22.jpg"></a>
        <a href="/g?gId=49070"><img src="/images/activities/015/gn_23.jpg"></a>
    </div>
    <a><img src="/images/activities/015/gn_24.jpg"></a>
    <a href="/g?gId=12631"><img src="/images/activities/015/gn_25.jpg"></a>
    <div class="box_1">
        <a href="/g?gId=38161"><img src="/images/activities/015/gn_26.jpg"></a>
        <a href="/g?gId=19102"><img src="/images/activities/015/gn_27.jpg"></a>
        <a href="/g?gId=43750"><img src="/images/activities/015/gn_28.jpg"></a>
        <a href="/g?gId=23419"><img src="/images/activities/015/gn_29.jpg"></a>
    </div>
    <a href="http://m.maimaicn.com/"><img src="/images/activities/015/gn_30.jpg"></a>
    <a href="#"><img src="/images/activities/015/gn_31.jpg"></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>