{{#extend "header"}}
<title id="title">囤年货 酒先回家</title>
<style type="text/css">
    .nh-cont{
        width:100%;
    }
    .nh-head a{
        display: block;
        width: 100%;
    }
    .home_1 {
        width: 100%;
    }
    .home_1 a {
        width: 50%;
        float: left;
    }
    #return_top {
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background: url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }

</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>囤年货 酒先回家</nav>
</header>
<div class="nh-cont">
    <a><img src="/images/activities/017/home_01.jpg" /></a>
    <a><img src="/images/activities/017/home_02.jpg" /></a>
    <a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12" target="_blank"><img src="/images/activities/017/home_03.jpg" /></a>
    <a><img src="/images/activities/017/home_04.jpg" /></a>
    <div class="home_1">
        <a href="/g?gId=28859" target="_blank"><img src="/images/activities/017/home_05.jpg" /></a>
        <a href="/g?gId=11418" target="_blank"><img src="/images/activities/017/home_06.jpg" /></a>
        <a href="/g?gId=40365" target="_blank"><img src="/images/activities/017/home_07.jpg" /></a>
        <a href="/g?gId=13182" target="_blank"><img src="/images/activities/017/home_08.jpg" /></a>
    </div>
    <a><img src="/images/activities/017/home_09.jpg" /></a>
    <a href="/g?gId=11321" target="_blank"><img src="/images/activities/017/home_10.jpg" /></a>
    <div class="home_1">
        <a href="/g?gId=10084" target="_blank"><img src="/images/activities/017/home_11.jpg" /></a>
        <a href="/g?gId=11604" target="_blank"><img src="/images/activities/017/home_12.jpg" /></a>
        <a href="/g?gId=10082" target="_blank"><img src="/images/activities/017/home_13.jpg" /></a>
        <a href="/g?gId=47553" target="_blank"><img src="/images/activities/017/home_14.jpg" /></a>
        <a href="/g?gId=10075" target="_blank"><img src="/images/activities/017/home_15.jpg" /></a>
        <a href="/g?gId=11359" target="_blank"><img src="/images/activities/017/home_16.jpg" /></a>
    </div>
    <a><img src="/images/activities/017/home_17.jpg" /></a>
    <a href="/g?gId=11405" target="_blank"><img src="/images/activities/017/home_18.jpg" /></a>
    <div class="home_1">
        <a href="/g?gId=47498" target="_blank"><img src="/images/activities/017/home_19.jpg" /></a>
        <a href="/g?gId=11615" target="_blank"><img src="/images/activities/017/home_20.jpg" /></a>
        <a href="/g?gId=47450" target="_blank"><img src="/images/activities/017/home_21.jpg" /></a>
        <a href="/g?gId=47547" target="_blank"><img src="/images/activities/017/home_22.jpg" /></a>
        <a href="/g?gId=40731" target="_blank"><img src="/images/activities/017/home_23.jpg" /></a>
        <a href="/g?gId=10216" target="_blank"><img src="/images/activities/017/home_24.jpg" /></a>
    </div>
    <a><img src="/images/activities/017/home_25.jpg" /></a>
    <a href="/g?gId=40732" target="_blank"><img src="/images/activities/017/home_26.jpg" /></a>
    <div class="home_1">
        <a href="/g?gId=27874" target="_blank"><img src="/images/activities/017/home_27.jpg" /></a>
        <a href="/g?gId=32061" target="_blank"><img src="/images/activities/017/home_28.jpg" /></a>
        <a href="/g?gId=27880" target="_blank"><img src="/images/activities/017/home_29.jpg" /></a>
        <a href="/g?gId=27869" target="_blank"><img src="/images/activities/017/home_30.jpg" /></a>
        <a href="/g?gId=27899" target="_blank"><img src="/images/activities/017/home_31.jpg" /></a>
        <a href="/g?gId=10421" target="_blank"><img src="/images/activities/017/home_32.jpg" /></a>
    </div>
    <a><img src="/images/activities/017/home_33.jpg" /></a>
    <a href="/g?gId=13193" target="_blank"><img src="/images/activities/017/home_34.jpg" /></a>
    <div class="home_1">
        <a href="/g?gId=13142" target="_blank"><img src="/images/activities/017/home_35.jpg" /></a>
        <a href="/g?gId=13161" target="_blank"><img src="/images/activities/017/home_36.jpg" /></a>
        <a href="/g?gId=13166" target="_blank"><img src="/images/activities/017/home_37.jpg" /></a>
        <a href="/g?gId=13181" target="_blank"><img src="/images/activities/017/home_38.jpg" /></a>
        <a href="/g?gId=13198" target="_blank"><img src="/images/activities/017/home_39.jpg" /></a>
        <a href="/g?gId=13128" target="_blank"><img src="/images/activities/017/home_40.jpg" /></a>
    </div>
    <a><img src="/images/activities/017/home_41.jpg" /></a>
    <div class="home_1">        
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=70&collectNum=0&gk=" target="_blank"><img src="/images/activities/017/home_42.jpg" /></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=73&collectNum=0&gk=" target="_blank"><img src="/images/activities/017/home_43.jpg" /></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=72&collectNum=0&gk=" target="_blank"><img src="/images/activities/017/home_44.jpg" /></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=71&collectNum=0&gk=" target="_blank"><img src="/images/activities/017/home_45.jpg" /></a>
    </div>
    <a><img src="/images/activities/017/home_46.jpg" /></a>
    <a href="#"><img src="/images/activities/017/home_47.jpg" /></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>