{{#extend "header"}}
<title id="title">金鸡贺岁 名酒年货狂欢  低至23.9 全场包邮</title>
<style type="text/css">
    .year_1 {
        width:100%;
    }
    .year_1 a{
        display: block;
        width: 100%;
    }
    .year_2 {
        width: 100%;
    }
    .year_2 a {
        width: 50%;
        float: left;
    }
    #return_top {
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background: url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }

</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>金鸡贺岁 名酒年货狂欢  低至23.9 全场包邮</nav>
</header>
<div class="year_1">
    <a><img src="/images/activities/018/year_01.jpg" /></a>
    <a><img src="/images/activities/018/year_02.jpg" /></a>
    <div class="year_2">
        <a href="/g?gId=13155" target="_blank"><img src="/images/activities/018/year_03.jpg" /></a>
        <a href="/g?gId=10343" target="_blank"><img src="/images/activities/018/year_04.jpg" /></a>
        <a href="/g?gId=47553" target="_blank"><img src="/images/activities/018/year_05.jpg" /></a>
        <a href="/g?gId=10353" target="_blank"><img src="/images/activities/018/year_06.jpg" /></a>
        <a href="/g?gId=10337" target="_blank"><img src="/images/activities/018/year_07.jpg" /></a>
        <a href="/g?gId=23761" target="_blank"><img src="/images/activities/018/year_08.jpg" /></a>
        <a href="/g?gId=23728" target="_blank"><img src="/images/activities/018/year_09.jpg" /></a>
        <a href="/g?gId=23723" target="_blank"><img src="/images/activities/018/year_10.jpg" /></a>
    </div>
    <a><img src="/images/activities/018/year_11.jpg" /></a>
    <div class="year_2">
        <a href="/g?gId=11405" target="_blank"><img src="/images/activities/018/year_12.jpg" /></a>
        <a href="/g?gId=11359" target="_blank"><img src="/images/activities/018/year_13.jpg" /></a>
        <a href="/g?gId=11376" target="_blank"><img src="/images/activities/018/year_14.jpg" /></a>
        <a href="/g?gId=11370" target="_blank"><img src="/images/activities/018/year_15.jpg" /></a>
        <a href="/g?gId=47427" target="_blank"><img src="/images/activities/018/year_16.jpg" /></a>
        <a href="/g?gId=11281" target="_blank"><img src="/images/activities/018/year_17.jpg" /></a>
        <a href="/g?gId=11609" target="_blank"><img src="/images/activities/018/year_18.jpg" /></a>
        <a href="/g?gId=11320" target="_blank"><img src="/images/activities/018/year_19.jpg" /></a>  
        <a href="/g?gId=11498" target="_blank"><img src="/images/activities/018/year_20.jpg" /></a>
        <a href="/g?gId=47450" target="_blank"><img src="/images/activities/018/year_21.jpg" /></a>
        <a href="/g?gId=11361" target="_blank"><img src="/images/activities/018/year_22.jpg" /></a>
        <a href="/g?gId=11604" target="_blank"><img src="/images/activities/018/year_23.jpg" /></a>
        <a href="/g?gId=11432" target="_blank"><img src="/images/activities/018/year_24.jpg" /></a>
        <a href="/g?gId=47498" target="_blank"><img src="/images/activities/018/year_25.jpg" /></a>
        <a href="/g?gId=11321" target="_blank"><img src="/images/activities/018/year_26.jpg" /></a>
        <a href="/g?gId=47473" target="_blank"><img src="/images/activities/018/year_27.jpg" /></a>
        <a href="/g?gId=47419" target="_blank"><img src="/images/activities/018/year_28.jpg" /></a>
        <a href="/g?gId=11603" target="_blank"><img src="/images/activities/018/year_29.jpg" /></a>  
        <a href="/g?gId=11580" target="_blank"><img src="/images/activities/018/year_30.jpg" /></a>
        <a href="/g?gId=11418" target="_blank"><img src="/images/activities/018/year_31.jpg" /></a>
        <a href="/g?gId=11454" target="_blank"><img src="/images/activities/018/year_32.jpg" /></a>
        <a href="/g?gId=11615" target="_blank"><img src="/images/activities/018/year_33.jpg" /></a>
    </div>
    <a><img src="/images/activities/018/year_34.jpg" /></a>
    <div class="year_2">
        <a href="/g?gId=52782" target="_blank"><img src="/images/activities/018/year_35.jpg" /></a>
        <a href="/g?gId=52783" target="_blank"><img src="/images/activities/018/year_36.jpg" /></a>
        <a href="/g?gId=52785" target="_blank"><img src="/images/activities/018/year_37.jpg" /></a>
        <a href="/g?gId=28853" target="_blank"><img src="/images/activities/018/year_38.jpg" /></a>
        <a href="/g?gId=28859" target="_blank"><img src="/images/activities/018/year_39.jpg" /></a>  
        <a href="/g?gId=10216" target="_blank"><img src="/images/activities/018/year_40.jpg" /></a>
        <a href="/g?gId=10350" target="_blank"><img src="/images/activities/018/year_41.jpg" /></a>
        <a href="/g?gId=10351" target="_blank"><img src="/images/activities/018/year_42.jpg" /></a>
        <a href="/g?gId=10340" target="_blank"><img src="/images/activities/018/year_43.jpg" /></a>
        <a href="/g?gId=10336" target="_blank"><img src="/images/activities/018/year_44.jpg" /></a>
        <a href="/g?gId=13215" target="_blank"><img src="/images/activities/018/year_45.jpg" /></a>
        <a href="/g?gId=13209" target="_blank"><img src="/images/activities/018/year_46.jpg" /></a>
        <a href="/g?gId=40736" target="_blank"><img src="/images/activities/018/year_47.jpg" /></a>
        <a href="/g?gId=40731" target="_blank"><img src="/images/activities/018/year_48.jpg" /></a>
        <a href="/g?gId=13194" target="_blank"><img src="/images/activities/018/year_49.jpg" /></a>  
        <a href="/g?gId=13192" target="_blank"><img src="/images/activities/018/year_50.jpg" /></a>
        <a href="/g?gId=13182" target="_blank"><img src="/images/activities/018/year_51.jpg" /></a>
        <a href="/g?gId=13177" target="_blank"><img src="/images/activities/018/year_52.jpg" /></a>
    </div>
    <a><img src="/images/activities/018/year_53.jpg" /></a>
    <div class="year_2">
        <a href="/g?gId=10454" target="_blank"><img src="/images/activities/018/year_54.jpg" /></a>
        <a href="/g?gId=10440" target="_blank"><img src="/images/activities/018/year_55.jpg" /></a>
        <a href="/g?gId=10437" target="_blank"><img src="/images/activities/018/year_56.jpg" /></a>
        <a href="/g?gId=10429" target="_blank"><img src="/images/activities/018/year_57.jpg" /></a>
        <a href="/g?gId=10392" target="_blank"><img src="/images/activities/018/year_58.jpg" /></a>
        <a href="/g?gId=10385" target="_blank"><img src="/images/activities/018/year_59.jpg" /></a>  
        <a href="/g?gId=23732" target="_blank"><img src="/images/activities/018/year_60.jpg" /></a>
        <a href="/g?gId=10400" target="_blank"><img src="/images/activities/018/year_61.jpg" /></a>
        <a href="/g?gId=10488" target="_blank"><img src="/images/activities/018/year_62.jpg" /></a>
        <a href="/g?gId=10411" target="_blank"><img src="/images/activities/018/year_63.jpg" /></a>
    </div>
    <a><img src="/images/activities/018/year_64.jpg" /></a>
    <div class="year_2">
        <a href="/g?gId=10476" target="_blank"><img src="/images/activities/018/year_65.jpg" /></a>
        <a href="/g?gId=10463" target="_blank"><img src="/images/activities/018/year_66.jpg" /></a>
        <a href="/g?gId=52786" target="_blank"><img src="/images/activities/018/year_67.jpg" /></a>
        <a href="/g?gId=10466" target="_blank"><img src="/images/activities/018/year_68.jpg" /></a>
    </div>
    <a><img src="/images/activities/018/year_69.jpg" /></a>
    <div class="year_2">
        <a href="/g?gId=40732" target="_blank"><img src="/images/activities/018/year_70.jpg" /></a>
        <a href="/g?gId=40734" target="_blank"><img src="/images/activities/018/year_71.jpg" /></a>
        <a href="/g?gId=52409" target="_blank"><img src="/images/activities/018/year_72.jpg" /></a>
        <a href="/g?gId=10439" target="_blank"><img src="/images/activities/018/year_73.jpg" /></a>
        <a href="/g?gId=10450" target="_blank"><img src="/images/activities/018/year_74.jpg" /></a>
        <a href="/g?gId=10451" target="_blank"><img src="/images/activities/018/year_75.jpg" /></a>
        <a href="/g?gId=10424" target="_blank"><img src="/images/activities/018/year_76.jpg" /></a>
        <a href="/g?gId=10421" target="_blank"><img src="/images/activities/018/year_77.jpg" /></a>
    </div>
    <a href="#"><img src="/images/activities/018/year_78.jpg" /></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>