{{#extend "header"}}
<title id="title">过年囤好货 不止是3折</title>
<style type="text/css">
    .box{
        width:100%;
    }
    .box >div{
        width:100%;
        overflow: hidden;
    }
    .first{
        position: relative;
        background: #b71022;
    }
    .first a{
        width:100%;
        float: left;
    }
    .first a img{
        width: 100%;
        float:left;
    }
    .first .list{
        width:50%;
    }
    .first .list1{
        width: 34.26%;
    }
    .first .list2{
        width:31.74%;
    }
    .first .list3{
        width:34%;
    }
    #return_top{
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background:url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a  href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>过年囤好货 不止是3折</nav>
</header>
<div class="box">
    <div class="first">
        <!--****************1***********************-->       
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_01.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_02.jpg" alt=""></a>
        <a  href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/0019/images/img_03.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_04.jpg" alt=""></a>
        <a  href="/g?gId=43790"><img src="/images/activities/0019/images/img_05.jpg" alt=""></a>
        <a class="list"  href="/g?gId=52423"><img src="/images/activities/0019/images/img_06.jpg" alt=""></a>
        <a class="list"  href="/g?gId=52446"><img src="/images/activities/0019/images/img_07.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_08.jpg" alt=""></a>
        <a class="list"  href="http://m.maimaicn.com/buyer/liebiao.html?id=65&collectNum=0&gk="><img src="/images/activities/0019/images/img_09.jpg" alt=""></a>
        <a class="list"  href="/g?gId=48908"><img src="/images/activities/0019/images/img_10.jpg" alt=""></a>
        <a class="list"  href="/g?gId=52444"><img src="/images/activities/0019/images/img_11.jpg" alt=""></a>
        <a class="list"  href="/g?gId=48907"><img src="/images/activities/0019/images/img_12.jpg" alt=""></a>
        <a class="list"  href="/g?gId=43792"><img src="/images/activities/0019/images/img_13.jpg" alt=""></a>
        <a class="list"  href="/g?gId=48900"><img src="/images/activities/0019/images/img_14.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_15.jpg" alt=""></a>
        <a class="list"  href="http://m.maimaicn.com/buyer/liebiao.html?id=78&collectNum=0&gk="><img src="/images/activities/0019/images/img_16.jpg" alt=""></a>
        <a class="list"  href="/g?gId=52427"><img src="/images/activities/0019/images/img_17.jpg" alt=""></a>
        <a class="list"  href="/g?gId=52419"><img src="/images/activities/0019/images/img_18.jpg" alt=""></a>
        <a class="list"  href="/g?gId=52435"><img src="/images/activities/0019/images/img_19.jpg" alt=""></a>
        <a class="list"  href="/g?gId=52421"><img src="/images/activities/0019/images/img_20.jpg" alt=""></a>
        <a class="list"  href="/g?gId=52429"><img src="/images/activities/0019/images/img_21.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_22.jpg" alt=""></a>
        <a class="list" href="http://m.maimaicn.com/buyer/liebiao.html?id=110&collectNum=0&gk="><img src="/images/activities/0019/images/img_23.jpg" alt=""></a>
        <a class="list" href="/g?gId=42993"><img src="/images/activities/0019/images/img_24.jpg" alt=""></a>
        <a class="list" href="/g?gId=42981"><img src="/images/activities/0019/images/img_25.jpg" alt=""></a>
        <a class="list" href="/g?gId=32971"><img src="/images/activities/0019/images/img_26.jpg" alt=""></a>
        <a class="list" href="/g?gId=46060"><img src="/images/activities/0019/images/img_27.jpg" alt=""></a>
        <a class="list" href="/g?gId=52425"><img src="/images/activities/0019/images/img_28.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_29.jpg" alt=""></a>
        <a class="list" href="http://m.maimaicn.com/buyer/liebiao.html?id=464&collectNum=0&gk="><img src="/images/activities/0019/images/img_30.jpg" alt=""></a>
        <a class="list" href="/g?gId=36419"><img src="/images/activities/0019/images/img_31.jpg" alt=""></a>
        <a class="list" href="/g?gId=40422"><img src="/images/activities/0019/images/img_32.jpg" alt=""></a>
        <a class="list" href="/g?gId=38615"><img src="/images/activities/0019/images/img_33.jpg" alt=""></a>
        <a class="list" href="/g?gId=24985"><img src="/images/activities/0019/images/img_34.jpg" alt=""></a>
        <a class="list" href="/g?gId=40423"><img src="/images/activities/0019/images/img_35.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_36.jpg" alt=""></a>
        <a class="list" href="http://m.maimaicn.com/buyer/liebiao.html?id=131&collectNum=0&gk="><img src="/images/activities/0019/images/img_37.jpg" alt=""></a>
        <a class="list" href="/g?gId=42204"><img src="/images/activities/0019/images/img_38.jpg" alt=""></a>
        <a class="list" href="/g?gId=52420"><img src="/images/activities/0019/images/img_39.jpg" alt=""></a>

        <a class="list" href="/g?gId=48819"><img src="/images/activities/0019/images/img_40.jpg" alt=""></a>
        <a class="list" href="/g?gId=52424"><img src="/images/activities/0019/images/img_41.jpg" alt=""></a>
        <a class="list" href="/g?gId=52413"><img src="/images/activities/0019/images/img_42.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_43.jpg" alt=""></a>
        <a class="list" href="/g?gId=52428"><img src="/images/activities/0019/images/img_44.jpg" alt=""></a>
        <a class="list" href="/g?gId=48822"><img src="/images/activities/0019/images/img_45.jpg" alt=""></a>
        <a class="list" href="/g?gId=48829"><img src="/images/activities/0019/images/img_46.jpg" alt=""></a>
        <a class="list" href="/g?gId=52422"><img src="/images/activities/0019/images/img_47.jpg" alt=""></a>
        <a class="list" href="/g?gId=52411"><img src="/images/activities/0019/images/img_48.jpg" alt=""></a>
        <a class="list" href="/g?gId=42162"><img src="/images/activities/0019/images/img_49.jpg" alt=""></a>
        <a class="list" href="/g?gId=23399"><img src="/images/activities/0019/images/img_50.jpg" alt=""></a>
        <a class="list" href="/g?gId=39901"><img src="/images/activities/0019/images/img_51.jpg" alt=""></a>
        <a class="list" href="/g?gId=23005"><img src="/images/activities/0019/images/img_52.jpg" alt=""></a>
        <a class="list" href="/g?gId=52432"><img src="/images/activities/0019/images/img_53.jpg" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/0019/images/img_54.jpg" alt=""></a>
        <a class="list1" href="http://m.maimaicn.com/buyer/liebiao.html?id=66&collectNum=0&gk="><img src="/images/activities/0019/images/img_55.jpg" alt=""></a>
        <a class="list2" href="http://m.maimaicn.com/buyer/liebiao.html?id=119&collectNum=0&gk="><img src="/images/activities/0019/images/img_56.jpg" alt=""></a>

         <a class="list3" href="http://m.maimaicn.com/buyer/liebiao.html?id=80&collectNum=0&gk="><img src="/images/activities/0019/images/img_57.jpg" alt=""></a>
        <a class="list1" href="http://m.maimaicn.com/buyer/liebiao.html?id=467&collectNum=0&gk="><img src="/images/activities/0019/images/img_58.jpg" alt=""></a>
        <a class="list2" href="http://m.maimaicn.com/buyer/liebiao.html?id=1264&collectNum=0&gk="><img src="/images/activities/0019/images/img_59.jpg" alt=""></a>
        <a class="list3" href="http://m.maimaicn.com/buyer/liebiao.html?id=663&collectNum=0&gk="><img src="/images/activities/0019/images/img_60.jpg" alt=""></a>
        <a class='return_top'  href="javascript:void(0)"><img src="/images/activities/0019/images/img_61.jpg" alt=""></a>
    </div>
    <div id="return_top"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>