{{#extend "header"}}
<title id="title">年货末班车 这时候购便宜</title>
<style type="text/css">

    .main a{
        float: left;
        display: block;
    }
    .w50{
        width:50%;
    }

    #return_top{
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background:url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a  href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>过年囤好货 不止是3折</nav>
</header>
<div class="main">
    <a><img src="/images/activities/020/act20_01.jpg" alt=""></a>
    <a><img src="/images/activities/020/act20_02.jpg" alt=""></a>
    <a href="/buyer/egghit.html?luckyId=12"><img src="/images/activities/020/act20_03.jpg" alt=""></a>
    <a href="/buyer/lingyuangouzq.html?activeId=11"><img src="/images/activities/020/act20_04.jpg" alt=""></a>

    <a><img src="/images/activities/020/act20_05.jpg" alt=""></a>
    <a href="/g?gId=27729"><img src="/images/activities/020/act20_06.jpg" alt=""></a>
    <a href="/g?gId=40432"><img src="/images/activities/020/act20_07.jpg" alt=""></a>
    <a href="/g?gId=21041"><img src="/images/activities/020/act20_08.jpg" alt=""></a>
    <a href="/g?gId=39411"><img src="/images/activities/020/act20_09.jpg" alt=""></a>
    <a href="/g?gId=31693"><img src="/images/activities/020/act20_10.jpg" alt=""></a>

    <a><img src="/images/activities/020/act20_11.jpg" alt=""></a>
    <a href="/g?gId=32242"><img src="/images/activities/020/act20_12.jpg" alt=""></a>
    <a href="/g?gId=49069" class="w50"><img src="/images/activities/020/act20_13.jpg" alt=""></a>
    <a href="/g?gId=13146" class="w50"><img src="/images/activities/020/act20_14.jpg" alt=""></a>
    <a href="/g?gId=49067" class="w50"><img src="/images/activities/020/act20_15.jpg" alt=""></a>
    <a href="/g?gId=46202" class="w50"><img src="/images/activities/020/act20_16.jpg" alt=""></a>

    <a><img src="/images/activities/020/act20_17.jpg" alt=""></a>
    <a href="/g?gId=48657"><img src="/images/activities/020/act20_18.jpg" alt=""></a>
    <a href="/g?gId=48729" class="w50"><img src="/images/activities/020/act20_19.jpg" alt=""></a>
    <a href="/g?gId=42139" class="w50"><img src="/images/activities/020/act20_20.jpg" alt=""></a>
    <a href="/g?gId=49068" class="w50"><img src="/images/activities/020/act20_21.jpg" alt=""></a>
    <a href="/g?gId=49070" class="w50"><img src="/images/activities/020/act20_22.jpg" alt=""></a>

    <a><img src="/images/activities/020/act20_23.jpg" alt=""></a>
    <a href="/g?gId=12631"><img src="/images/activities/020/act20_24.jpg" alt=""></a>
    <a href="/g?gId=38161" class="w50"><img src="/images/activities/020/act20_25.jpg" alt=""></a>
    <a href="/g?gId=19102" class="w50"><img src="/images/activities/020/act20_26.jpg" alt=""></a>
    <a href="/g?gId=43750" class="w50"><img src="/images/activities/020/act20_27.jpg" alt=""></a>
    <a href="/g?gId=23419" class="w50"><img src="/images/activities/020/act20_28.jpg" alt=""></a>

    <a href="/"><img src="/images/activities/020/act20_29.jpg" alt=""></a>
    <a class="return_top"><img src="/images/activities/020/act20_30.jpg" alt=""></a>

    <div id="return_top"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>