{{#extend "header"}}
<title id="title">2017健康年 把爱带回家</title>
<style type="text/css">
    .box {
        width: 100%;
    }
    .box_1 {
        width: 100%;
        float: left;
    }
    .box_2{
        width: 50%;
        float: left;
    }
    .box img {
        width: 100%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>2017健康年 把爱带回家</nav>
</header>
<div class="box">
    <a href="javascript:;" class="box_1"><img src="/images/activities/022/baojian_01.jpg"></a>
    <a href="javascript:;" class="box_1"><img src="/images/activities/022/baojian_02.jpg"></a>
    <a href="javascript:;" class="box_1"><img src="/images/activities/022/baojian_03.jpg"></a>
    <a href="javascript:;" class="box_1"><img src="/images/activities/022/baojian_04.jpg"></a>
    <a href="/buyer/egghit.html?luckyId=12" class="box_1"><img src="/images/activities/022/baojian_05.jpg"></a>
    <a href="javascript:;" class="box_1"><img src="/images/activities/022/baojian_06.jpg"></a>
    <a href="/g?gId=29934" class="box_1"><img src="/images/activities/022/baojian_07.jpg"></a>
    <a href="/g?gId=45505" class="box_2"><img src="/images/activities/022/baojian_08.jpg"></a>
    <a href="/g?gId=45511" class="box_2"><img src="/images/activities/022/baojian_09.jpg"></a>
    <a href="/g?gId=30003" class="box_2"><img src="/images/activities/022/baojian_10.jpg"></a>
    <a href="/g?gId=48767" class="box_2"><img src="/images/activities/022/baojian_11.jpg"></a>
    <a href="javascript:;" class="box_1"><img src="/images/activities/022/baojian_12.jpg"></a>
    <a href="/g?gId=22391" class="box_1"><img src="/images/activities/022/baojian_13.jpg"></a>
    <a href="/g?gId=44906" class="box_2"><img src="/images/activities/022/baojian_14.jpg"></a>
    <a href="/g?gId=43237" class="box_2"><img src="/images/activities/022/baojian_15.jpg"></a>
    <a href="/g?gId=44907" class="box_2"><img src="/images/activities/022/baojian_16.jpg"></a>
    <a href="/g?gId=22395" class="box_2"><img src="/images/activities/022/baojian_17.jpg"></a>
    <a href="javascript:;" class="box_1"><img src="/images/activities/022/baojian_18.jpg"></a>
    <a href="/g?gId=48769" class="box_1"><img src="/images/activities/022/baojian_19.jpg"></a>
    <a href="/g?gId=48819" class="box_2"><img src="/images/activities/022/baojian_20.jpg"></a>
    <a href="/g?gId=29882" class="box_2"><img src="/images/activities/022/baojian_21.jpg"></a>
    <a href="/g?gId=45501" class="box_2"><img src="/images/activities/022/baojian_22.jpg"></a>
    <a href="/g?gId=48820" class="box_2"><img src="/images/activities/022/baojian_23.jpg"></a>
    <a href="javascript:;" class="box_1"><img src="/images/activities/022/baojian_24.jpg"></a>
    <a href="/g?gId=48789" class="box_2"><img src="/images/activities/022/baojian_25.jpg"></a>
    <a href="/g?gId=29648" class="box_2"><img src="/images/activities/022/baojian_26.jpg"></a>
    <a href="/g?gId=27582" class="box_2"><img src="/images/activities/022/baojian_27.jpg"></a>
    <a href="/g?gId=27736" class="box_2"><img src="/images/activities/022/baojian_28.jpg"></a>
    <a href="/g?gId=45498" class="box_2"><img src="/images/activities/022/baojian_29.jpg"></a>
    <a href="/g?gId=29903" class="box_2"><img src="/images/activities/022/baojian_30.jpg"></a>
    <a href="javascript:;" class="box_1"><img src="/images/activities/022/baojian_31.jpg"></a>
    <a href="/buyer/activities/015.html" class="box_2"><img src="/images/activities/022/baojian_32.jpg"></a>
    <a href="/buyer/activities/017.html" class="box_2"><img src="/images/activities/022/baojian_33.jpg"></a>
    <a href="#" class="box_1"><img src="/images/activities/022/baojian_34.jpg"></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>