{{#extend "header"}}
<title id="title">精美妆容，由此开启</title>
<style type="text/css">
    .box{
        width:100%;
    }
    .box >div{
        width:100%;
        overflow: hidden;
    }
    .first{
        position: relative;
        background: #b71022;
    }
    .first a{
        width:100%;
        float: left;
    }
    .first a img{
        width: 100%;
        float:left;
    }
    .first .list{
        width:50%;
    }
    .first .list1{
        width: 34.26%;
    }
    .first .list2{
        width:31.74%;
    }
    .first .list3{
        width:34%;
    }
    #return_top{
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background:url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a  href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>精美妆容，由此开启</nav>
</header>
<div class="box">
    <div class="first">
        <!--****************1***********************-->       
        <a  href="javascript:void(0);"><img src="/images/activities/023/images/img_01.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/023/images/img_02.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/023/images/img_03.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/023/images/img_04.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/023/images/img_05.png" alt=""></a>
        <a   href="javascript:void(0);"><img src="/images/activities/023/images/img_06.png" alt=""></a>
        <a   href="/g?gId=32875"><img src="/images/activities/023/images/img_07.png" alt=""></a>
        <a class="list" href="/g?gId=29711"><img src="/images/activities/023/images/img_08.png" alt=""></a>
        <a class="list"  href="/g?gId=41765"><img src="/images/activities/023/images/img_09.png" alt=""></a>
        <a class="list"  href="/g?gId=27656"><img src="/images/activities/023/images/img_10.png" alt=""></a>
        <a class="list"  href="/g?gId=44551"><img src="/images/activities/023/images/img_11.png" alt=""></a>
        <a href="javascript:void(0)"><img src="/images/activities/023/images/img_12.png" alt=""></a>
        <a class="list"  href="/g?gId=29703"><img src="/images/activities/023/images/img_13.png" alt=""></a>
        <a class="list"  href="/g?gId=45596"><img src="/images/activities/023/images/img_14.png" alt=""></a>
        <a class="list" href="/g?gId=25719"><img src="/images/activities/023/images/img_15.png" alt=""></a>
        <a class="list"  href="/g?gId=52519"><img src="/images/activities/023/images/img_16.png" alt=""></a>
        <a class="list"  href="/g?gId=27658"><img src="/images/activities/023/images/img_17.png" alt=""></a>
        <a class="list"  href="/g?gId=29730"><img src="/images/activities/023/images/img_18.png" alt=""></a>
        <a href="javascript:void(0);"><img src="/images/activities/023/images/img_19.png" alt=""></a>
        <a class="list"  href="/g?gId=29566"><img src="/images/activities/023/images/img_20.png" alt=""></a>
        <a class="list"  href="/g?gId=30023"><img src="/images/activities/023/images/img_21.png" alt=""></a>
        <a class="list" href="/g?gId=52421"><img src="/images/activities/023/images/img_22.png" alt=""></a>
        <a class="list" href="/g?gId=32872"><img src="/images/activities/023/images/img_23.png" alt=""></a>
        <a class="list" href="/g?gId=32909"><img src="/images/activities/023/images/img_24.png" alt=""></a>
        <a class="list" href="/g?gId=14613"><img src="/images/activities/023/images/img_25.png" alt=""></a>
        <a class="list" href="/g?gId=32841"><img src="/images/activities/023/images/img_26.png" alt=""></a>
        <a class="list" href="/g?gId=27727"><img src="/images/activities/023/images/img_27.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/023/images/img_28.png" alt=""></a>
        <a  href="/g?gId=52521"><img src="/images/activities/023/images/img_29.png" alt=""></a>
        <a class="list" href="/g?gId=52551"><img src="/images/activities/023/images/img_30.png" alt=""></a>
        <a class="list" href="/g?gId=32840"><img src="/images/activities/023/images/img_31.png" alt=""></a>
        <a class="list" href="/g?gId=29722"><img src="/images/activities/023/images/img_32.png" alt=""></a>
        <a class="list" href="/g?gId=21024"><img src="/images/activities/023/images/img_33.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/023/images/img_34.png" alt=""></a>
        <a class="list" href="/g?gId=44521"><img src="/images/activities/023/images/img_35.png" alt=""></a>
        <a class="list" href="/g?gId=40514"><img src="/images/activities/023/images/img_36.png" alt=""></a>
        <a class="list" href="/g?gId=49070"><img src="/images/activities/023/images/img_37.png" alt=""></a>
        <a class="list" href="/g?gId=44509"><img src="/images/activities/023/images/img_38.png" alt=""></a>
        <a class="list" href="/g?gId=40342"><img src="/images/activities/023/images/img_39.png" alt=""></a>
        <a class="list" href="/g?gId=30089"><img src="/images/activities/023/images/img_40.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/023/images/img_41.png" alt=""></a>
        <a class="list" href="/g?gId=29761"><img src="/images/activities/023/images/img_42.png" alt=""></a>
        <a class="list" href="/g?gId=24940"><img src="/images/activities/023/images/img_43.png" alt=""></a>
        <a class="list" href="/g?gId=27620"><img src="/images/activities/023/images/img_44.png" alt=""></a>
        <a class="list" href="/g?gId=15136"><img src="/images/activities/023/images/img_45.png" alt=""></a>
        <a class="list" href="/g?gId=52415"><img src="/images/activities/023/images/img_46.png" alt=""></a>
        <a class="list" href="/g?gId=33651"><img src="/images/activities/023/images/img_47.png" alt=""></a>
        <a class="list" href="/g?gId=32734"><img src="/images/activities/023/images/img_48.png" alt=""></a>
        <a class="list" href="/g?gId=38618"><img src="/images/activities/023/images/img_49.png" alt=""></a>
        <a class='return_top' href="javascript:void(0);"><img src="/images/activities/023/images/img_50.png" alt=""></a>
    </div>
    <div id="return_top"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>