{{#extend "header"}}
<title id="title">新年焕新衣 红运当头</title>
<style type="text/css">
    .main a{
        float: left;
        display: block;
    }
    .w50{
        width:50%;
    }
    #return_top{
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background:url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>新年焕新衣 红运当头</nav>
</header>
<div class="main">
    <a><img src="/images/activities/024/act024_01.jpg" alt=""></a>
    <a><img src="/images/activities/024/act024_02.jpg" alt=""></a>
    <a href="/g?gId=52032" class="w50"><img src="/images/activities/024/act024_03.jpg" alt=""></a>
    <a href="/g?gId=32929" class="w50"><img src="/images/activities/024/act024_04.jpg" alt=""></a>
    <a href="/g?gId=55649" class="w50"><img src="/images/activities/024/act024_05.jpg" alt=""></a>
    <a href="/g?gId=53364" class="w50"><img src="/images/activities/024/act024_06.jpg" alt=""></a>
    <a href="/g?gId=55669"><img src="/images/activities/024/act024_07.jpg" alt=""></a>

    <a><img src="/images/activities/024/act024_08.jpg" alt=""></a>
    <a href="/g?gId=24217" class="w50"><img src="/images/activities/024/act024_09.jpg" alt=""></a>
    <a href="/g?gId=45691" class="w50"><img src="/images/activities/024/act024_10.jpg" alt=""></a>
    <a href="/g?gId=38004" class="w50"><img src="/images/activities/024/act024_11.jpg" alt=""></a>
    <a href="/g?gId=47138" class="w50"><img src="/images/activities/024/act024_12.jpg" alt=""></a>

    <a><img src="/images/activities/024/act024_13.jpg" alt=""></a>
    <a href="/g?gId=46060" class="w50"><img src="/images/activities/024/act024_14.jpg" alt=""></a>
    <a href="/g?gId=52038" class="w50"><img src="/images/activities/024/act024_15.jpg" alt=""></a>
    <a href="/g?gId=52131" class="w50"><img src="/images/activities/024/act024_16.jpg" alt=""></a>
    <a href="/g?gId=53759" class="w50"><img src="/images/activities/024/act024_17.jpg" alt=""></a>

    <a><img src="/images/activities/024/act024_18.jpg" alt=""></a>
    <a href="/g?gId=31356" class="w50"><img src="/images/activities/024/act024_19.jpg" alt=""></a>
    <a href="/g?gId=31516" class="w50"><img src="/images/activities/024/act024_20.jpg" alt=""></a>
    <a href="/g?gId=31408" class="w50"><img src="/images/activities/024/act024_21.jpg" alt=""></a>
    <a href="/g?gId=55664" class="w50"><img src="/images/activities/024/act024_22.jpg" alt=""></a>

    <a><img src="/images/activities/024/act024_23.jpg" alt=""></a>
    <a href="/g?gId=52526" class="w50"><img src="/images/activities/024/act024_24.jpg" alt=""></a>
    <a href="/g?gId=52425" class="w50"><img src="/images/activities/024/act024_25.jpg" alt=""></a>
    <a href="/g?gId=51527" class="w50"><img src="/images/activities/024/act024_26.jpg" alt=""></a>
    <a href="/g?gId=50632" class="w50"><img src="/images/activities/024/act024_27.jpg" alt=""></a>

    <a><img src="/images/activities/024/act024_28.jpg" alt=""></a>
    <a href="/g?gId=39572" class="w50"><img src="/images/activities/024/act024_29.jpg" alt=""></a>
    <a href="/g?gId=39578" class="w50"><img src="/images/activities/024/act024_30.jpg" alt=""></a>
    <a href="/g?gId=36144" class="w50"><img src="/images/activities/024/act024_31.jpg" alt=""></a>
    <a href="/g?gId=35955" class="w50"><img src="/images/activities/024/act024_32.jpg" alt=""></a>

    <a><img src="/images/activities/024/act024_33.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=小素林" class="w50"><img src="/images/activities/024/act024_34.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=韩人莉莎" class="w50"><img src="/images/activities/024/act024_35.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=缔五季" class="w50"><img src="/images/activities/024/act024_36.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=多多的世界" class="w50"><img src="/images/activities/024/act024_37.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=奢屯" class="w50"><img src="/images/activities/024/act024_38.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=偶龙" class="w50"><img src="/images/activities/024/act024_39.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=玺徕登" class="w50"><img src="/images/activities/024/act024_40.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=步惊云" class="w50"><img src="/images/activities/024/act024_41.jpg" alt=""></a>

    <a class="return_top"><img src="/images/activities/024/act024_42.jpg" alt=""></a>
    <div id="return_top"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>