{{#extend "header"}}
<title id="title">开年钜惠 发现品牌</title>
<style type="text/css">
    .box{
        width:100%;
    }
    .box >div{
        width:100%;
        overflow: hidden;
    }
    .first{
        position: relative;
         background: #3f0201;
    }
    .first a{
        width:100%;
        float: left;
    }
    .first a img{
        width: 100%;
        float:left;
    }
    .first .list{
        width:50%;
    }
    .first .list1{
        width: 36.5%;
    }
    .first .list2{
        width:31.7%;
    }
    .first .list3{
        width:35.4%;
    }
    .first .list4{
        width:32.2%;
    }
    #return_top{
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background:url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a  href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>开年钜惠 发现品牌</nav>
</header>
<div class="box">
    <div class="first">
        <!--****************1***********************-->       
        <a  href="javascript:void(0);"><img src="/images/activities/025/images/img_01.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/025/images/img_02.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/025/images/img_03.png" alt=""></a>
        <a  href="/buyer/egghit.html?luckyId=12"><img src="/images/activities/025/images/img_04.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/025/images/img_200.png" alt=""></a>
        <a class="list" href="/buyer/liebiao.html?id=&collectNum=0&gk=%E8%8D%A3%E4%BA%8B%E8%BE%BE"><img src="/images/activities/025/images/img_05.png" alt=""></a>
        <a class="list" href="/buyer/liebiao.html?id=&collectNum=0&gk=%E5%85%B0%E8%8A%9D"><img src="/images/activities/025/images/img_06.png" alt=""></a>
        <a class="list" href="/buyer/liebiao.html?id=&collectNum=0&gk=%E6%B2%90%E6%98%A0%E7%BA%A4%E8%8B%8F"><img src="/images/activities/025/images/img_07.png" alt=""></a>
        <a class="list" href="/buyer/liebiao.html?id=&collectNum=0&gk=%E4%B8%AD%E7%B2%AE%E5%B1%B1%E8%90%83"><img src="/images/activities/025/images/img_08.png" alt=""></a>
        <a  href="javascript:void(0)"><img src="/images/activities/025/images/img_09.png" alt=""></a>
        <a class="list1"  href="/buyer/liebiao.html?id=&collectNum=0&gk=%E4%B8%AD%E7%B2%AE%E5%B1%B1%E8%90%83"><img src="/images/activities/025/images/img_10.png" alt=""></a>
        <a class="list2" href="/g?gId=48908"><img src="/images/activities/025/images/img_11.png" alt=""></a>
        <a class="list2" href="/g?gId=48900"><img src="/images/activities/025/images/img_12.png" alt=""></a>
        <a class="list2"  href="/g?gId=52423"><img src="/images/activities/025/images/img_13.png" alt=""></a>
        <a class="list2"  href="/g?gId=48907"><img src="/images/activities/025/images/img_14.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/025/images/img_15.png" alt=""></a>
        <a class="list1"  href="/buyer/liebiao.html?id=&collectNum=0&gk=%E9%A5%AD%E5%BF%83"><img src="/images/activities/025/images/img_16.png" alt=""></a>
        <a class="list2"  href="/g?gId=43790"><img src="/images/activities/025/images/img_17.png" alt=""></a>
        <a class="list2"  href="/g?gId=43793"><img src="/images/activities/025/images/img_18.png" alt=""></a>
        <a class="list2" href="/g?gId=43792"><img src="/images/activities/025/images/img_19.png" alt=""></a>
        <a class="list2"  href="/g?gId=52432"><img src="/images/activities/025/images/img_20.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/025/images/img_21.png" alt=""></a>
        <a class="list3" href="/buyer/liebiao.html?id=&collectNum=0&gk=%E7%BC%94%E4%BA%94%E5%AD%A3"><img src="/images/activities/025/images/img_22.png" alt=""></a>
        <a class="list4" href="/g?gId=43192"><img src="/images/activities/025/images/img_23.png" alt=""></a>
        <a class="list4" href="/g?gId=43126"><img src="/images/activities/025/images/img_24.png" alt=""></a>
        <a class="list4" href="/g?gId=51329"><img src="/images/activities/025/images/img_25.png" alt=""></a>
        <a class="list4" href="/g?gId=51013"><img src="/images/activities/025/images/img_26.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/025/images/img_27.png" alt=""></a>
        <a  class="list3" href="/buyer/liebiao.html?id=&collectNum=0&gk=%E7%BB%B4%E8%BE%BE"><img src="/images/activities/025/images/img_28.png" alt=""></a>
        <a  class="list4" href="/g?gId=56163"><img src="/images/activities/025/images/img_29.png" alt=""></a>
        <a class="list4" href="/g?gId=56164"><img src="/images/activities/025/images/img_30.png" alt=""></a>
        <a class="list4" href="/g?gId=56165"><img src="/images/activities/025/images/img_31.png" alt=""></a>
        <a class="list4" href="/g?gId=56166"><img src="/images/activities/025/images/img_32.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/025/images/img_33.png" alt=""></a>
        <a  class="list3" href="/buyer/liebiao.html?id=&collectNum=0&gk=%E6%B5%AA%E8%8E%8E"><img src="/images/activities/025/images/img_34.png" alt=""></a>
        <a class="list4" href="/g?gId=56167"><img src="/images/activities/025/images/img_35.png" alt=""></a>
        <a class="list4" href="/g?gId=56199"><img src="/images/activities/025/images/img_36.png" alt=""></a>
        <a class="list4" href="/g?gId=40477"><img src="/images/activities/025/images/img_37.png" alt=""></a>
        <a class="list4" href="/g?gId=43752"><img src="/images/activities/025/images/img_38.png" alt=""></a>
        <a  href="javascript:void(0);"><img src="/images/activities/025/images/img_39.png" alt=""></a>
        <a  href="/buyer/activities/027.html"><img src="/images/activities/025/images/img_40.png" alt=""></a>
        <a class="return_top" href="javascript:void(0);"><img src="/images/activities/025/images/img_41.png" alt=""></a>
    </div>
    <div id="return_top"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>