{{#extend "header"}}
<title id="title">爆品开门红 第二波</title>
<style type="text/css">
    .kmh-cont{
        width:100%;
    }
    .kmh-head a{
        display: block;
        width: 100%;
    }

    #return_top {
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background: url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }

</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>爆品开门红 第二波</nav>
</header>
<div class="kmh-cont">
    <div class="kmh-head">
        <img src="/images/activities/027/kmh02_01.jpg">
        <img src="/images/activities/027/kmh02_02.jpg">
        <a href="http://m.maimaicn.com/buyer/lingyuangouzq.html?activeId=11"><img src="/images/activities/027/kmh02_03.jpg"></a>
    </div>
    <div class="floor01">
        <a href="javascript:;"><img src="/images/activities/027/kmh02_04.jpg"></a>
        <a href="/g?gId=24944"><img src="/images/activities/027/kmh02_05.jpg"></a>
        <a href="/g?gId=44524"><img src="/images/activities/027/kmh02_06.jpg"></a>
        <a href="/g?gId=44840"><img src="/images/activities/027/kmh02_07.jpg"></a>
        <a href="/g?gId=56161"><img src="/images/activities/027/kmh02_08.jpg"></a>
        <a href="/g?gId=52789"><img src="/images/activities/027/kmh02_09.jpg"></a>
    </div>
    <div class="floor02">
        <img src="/images/activities/027/kmh02_10.jpg">
        <a href="./025.html"><img src="/images/activities/027/kmh02_11.jpg"></a>
        <img src="/images/activities/027/kmh02_12.jpg">
    </div>
    <div class="return_top"><img src="/images/activities/027/kmh02_13.jpg"></div>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>