{{#extend "header"}}
<title id="title">新品发布 全场低至3折</title>
<style type="text/css">
    .kmh-cont{
        width:100%;
    }
    .kmh-head a{
        display: block;
        width: 100%;
    }
    .floors>a{
        width: 100%;
        display: block;
        float: left;
    }
    .items-half>a{
        float: left;
        width: 50%;
    }
    #return_top {
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background: url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }

</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>新品发布 全场低至3折</nav>
</header>
<div class="kmh-cont">
    <div class="kmh-head">
        <img src="/images/activities/029/xp_01.jpg">
        <img src="/images/activities/029/xp_02.jpg">
        <a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/029/xp_03.jpg"></a>
    </div>
    <div class="floor01">
        <a href="javascript:;"><img src="/images/activities/029/xp_04.jpg"></a>
        <a href="/g?gId=56223"><img src="/images/activities/029/xp_05.jpg"></a>
        <a href="/g?gId=56224"><img src="/images/activities/029/xp_06.jpg"></a>
        <a href="/g?gId=52158"><img src="/images/activities/029/xp_07.jpg"></a>
    </div>
    <div class="floor02 floors">
        <a href="javascript:;"><img src="/images/activities/029/xp_08.jpg"></a>
        <a href="/g?gId=24827"><img src="/images/activities/029/xp_09.jpg"></a>
        <div class="items-half">
            <a href="/g?gId=56225"><img src="/images/activities/029/xp_10.jpg"></a>
            <a href="/g?gId=52528"><img src="/images/activities/029/xp_11.jpg"></a>
            <a href="/g?gId=52530"><img src="/images/activities/029/xp_12.jpg"></a>
            <a href="/g?gId=27644"><img src="/images/activities/029/xp_13.jpg"></a>
        </div>
    </div>
    <div class="floor03 floors">
        <a href="javascript:;"><img src="/images/activities/029/xp_14.jpg"></a>
        <a href="/g?gId=56226"><img src="/images/activities/029/xp_15.jpg"></a>
        <div class="items-half">
            <a href="/g?gId=56227"><img src="/images/activities/029/xp_16.jpg"></a>
            <a href="/g?gId=48969"><img src="/images/activities/029/xp_17.jpg"></a>
            <a href="/g?gId=29703"><img src="/images/activities/029/xp_18.jpg"></a>
            <a href="/g?gId=29722"><img src="/images/activities/029/xp_19.jpg"></a>
        </div>
    </div>
    <div class="floor04 floors">
        <a href="javascript:;"><img src="/images/activities/029/xp_20.jpg"></a>
        <a href="/g?gId=56228"><img src="/images/activities/029/xp_21.jpg"></a>
        <div class="items-half">
            <a href="/g?gId=56233"><img src="/images/activities/029/xp_22.jpg"></a>
            <a href="/g?gId=56238"><img src="/images/activities/029/xp_23.jpg"></a>
            <a href="/g?gId=56248"><img src="/images/activities/029/xp_24.jpg"></a>
            <a href="/g?gId=56253"><img src="/images/activities/029/xp_25.jpg"></a>
        </div>
    </div>
    <div class="floor05 floors">
        <a href="javascript:;"><img src="/images/activities/029/xp_26.jpg"></a>
        <a href="/g?gId=52510"><img src="/images/activities/029/xp_27.jpg"></a>
        <div class="items-half">
            <a href="/g?gId=46202"><img src="/images/activities/029/xp_28.jpg"></a>
            <a href="/g?gId=52254"><img src="/images/activities/029/xp_29.jpg"></a>
            <a href="/g?gId=24919"><img src="/images/activities/029/xp_30.jpg"></a>
            <a href="/g?gId=48660"><img src="/images/activities/029/xp_31.jpg"></a>
        </div>
    </div>
    <div class="return_top"><img src="/images/activities/029/xp_32.jpg"></div>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>