{{#extend "header"}}
<title id="title">疯狂秒杀</title>
<style type="text/css">
    .body{
        width: 100%;
    }
    .body a img{
        width: 100%;
        display: block;
    }
</style>
{{/extend}}
<header class="main_head">
            <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>疯狂秒杀</nav>
            </header>
            <div class="body">
                <div class="floor1">
                    <a href="javascript:;"><img src="/images/activities/031/mswap__01.jpg" alt=""/></a>
                    <a href="/g?gId=55432"><img src="/images/activities/031/mswap__02.jpg" alt=""/></a>
                    <a href="/g?gId=52807"><img src="/images/activities/031/mswap__03.jpg" alt=""/></a>
                    <a href="/g?gId=27465"><img src="/images/activities/031/mswap__04.jpg" alt=""/></a>
                    <a href="/g?gId=56258"><img src="/images/activities/031/mswap__05.jpg" alt=""/></a>
                </div>
                <div class="floor2">
                    <a href="/g?gId=27582"><img src="/images/activities/031/mswap__06.jpg" alt=""/></a>
        <a href="/g?gId=29882"><img src="/images/activities/031/mswap__07.jpg" alt=""/></a>
        <a href="/g?gId=40700"><img src="/images/activities/031/mswap__08.jpg" alt=""/></a>
    </div>
    <div class="floor3">
        <a href="/g?gId=56263"><img src="/images/activities/031/mswap__09.jpg" alt=""/></a>
        <a href="/g?gId=44526"><img src="/images/activities/031/mswap__10.jpg" alt=""/></a>
        <a href="/g?gId=32242"><img src="/images/activities/031/mswap__11.jpg" alt=""/></a>
    </div>
    <div class="floor4">
        <a href="/g?gId=56264"><img src="/images/activities/031/mswap__12.jpg" alt=""/></a>
        <a href="/g?gId=56265"><img src="/images/activities/031/mswap__13.jpg" alt=""/></a>
        <a href="/g?gId=40509"><img src="/images/activities/031/mswap__14.jpg" alt=""/></a>
    </div>
    <div class="floor5">
        <a href="/g?gId=52410"><img src="/images/activities/031/mswap__15.jpg" alt=""/></a>
        <a href="/g?gId=40316"><img src="/images/activities/031/mswap__16.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/channel/shangou.html"><img src="/images/activities/031/mswap__17.jpg" alt=""/></a>
    </div>
    <div class="footer">
        <a href="#"><img src="/images/activities/031/mswap__18.jpg" alt=""/></a>
</div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>