{{#extend "header"}}
<title id="title">最靓女王节</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

    .ui-body a img{
        width: 100%;
        display: block;
    }

    .fl{
        width: 50%;
        float: left;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12" class="back"></a>最靓女王节</nav>
</header>
<div class="ui-body">
    <a href="javascript:;"><img src="/images/activities/032/pk_01.jpg" alt=""/></a>
    <a href="http://www.maimaicn.com/activity/egghit.html?luckyId=13"><img src="/images/activities/032/pk_02.jpg" alt=""/></a>
    <a href="javascript:;"><img src="/images/activities/032/pk_03.jpg" alt=""/></a>
    <!-- 美容护肤-->
    <a id="mr"><img src="/images/activities/032/pk_04.jpg" alt=""/></a>
    <a href="/g?gId=48724" class="fl"><img src="/images/activities/032/pk_05.jpg" alt=""/></a>
    <a href="/g?gId=44509" class="fl"><img src="/images/activities/032/pk_06.jpg" alt=""/></a>
    <a href="/g?gId=52427" class="fl"><img src="/images/activities/032/pk_07.jpg" alt=""/></a>
    <a href="/g?gId=55563" class="fl"><img src="/images/activities/032/pk_08.jpg" alt=""/></a>
    <a href="/g?gId=17463" class="fl"><img src="/images/activities/032/pk_09.jpg" alt=""/></a>
    <a href="/g?gId=40341" class="fl"><img src="/images/activities/032/pk_10.jpg" alt=""/></a>
    <!-- 鞋帽-->
    <a id="xm"><img src="/images/activities/032/pk_11.jpg" alt=""/></a>
    <a href="/g?gId=37400" class="fl"><img src="/images/activities/032/pk_12.jpg" alt=""/></a>
    <a href="/g?gId=42938" class="fl"><img src="/images/activities/032/pk_13.jpg" alt=""/></a>
    <a href="/g?gId=56119" class="fl"><img src="/images/activities/032/pk_14.jpg" alt=""/></a>
    <a href="/g?gId=31091" class="fl"><img src="/images/activities/032/pk_15.jpg" alt=""/></a>
    <a href="/g?gId=14115" class="fl"><img src="/images/activities/032/pk_16.jpg" alt=""/></a>
    <a href="/g?gId=58080" class="fl"><img src="/images/activities/032/pk_17.jpg" alt=""/></a>
    <!-- 零食-->
    <a id="ls"><img src="/images/activities/032/pk_18.jpg" alt=""/></a>
    <a href="/g?gId=43790" ><img src="/images/activities/032/pk_19.jpg" alt=""/></a>
    <a href="/g?gId=48908" class="fl"><img src="/images/activities/032/pk_20.jpg" alt=""/></a>
    <a href="/g?gId=43800" class="fl"><img src="/images/activities/032/pk_21.jpg" alt=""/></a>
    <!--家居 -->
    <a id="jj"><img src="/images/activities/032/pk_22.jpg" alt=""/></a>
    <a href="/g?gId=55864"><img src="/images/activities/032/pk_23.jpg" alt=""/></a>
    <a href="/g?gId=56011" class="fl"><img src="/images/activities/032/pk_24.jpg" alt=""/></a>
    <a href="/g?gId=52773" class="fl"><img src="/images/activities/032/pk_25.jpg" alt=""/></a>
    <!--女士酒 -->
    <a  id="nsj"><img src="/images/activities/032/pk_26.jpg" alt=""/></a>
    <a href="/g?gId=11321"><img src="/images/activities/032/pk_27.jpg" alt=""/></a>
    <a href="/g?gId=47553" class="fl"><img src="/images/activities/032/pk_28.jpg" alt=""/></a>
    <a href="/g?gId=40367" class="fl"><img src="/images/activities/032/pk_29.jpg" alt=""/></a>
    <!-- 母婴-->
    <a id="my"><img src="/images/activities/032/pk_30.jpg" alt=""/></a>
    <a href="/g?gId=43328"><img src="/images/activities/032/pk_31.jpg" alt=""/></a>
    <a href="/g?gId=43298" class="fl"><img src="/images/activities/032/pk_32.jpg" alt=""/></a>
    <a href="/g?gId=39373" class="fl"><img src="/images/activities/032/pk_33.jpg" alt=""/></a>

    <a href="javascript:;"><img src="/images/activities/032/pk_34.jpg" alt=""/></a>
    <!-- gotop-->
    <a href="#"><img src="/images/activities/032/pk_35.jpg" alt=""/></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/032"></script>