{{#extend "header"}}
<title id="title">美妆大牌洋货节</title>
<style type="text/css">
    .main a{
        float: left;
        display: block;
    }
    .w50{
        width:50%;
    }
    #return_top{
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background:url("/images/buy/return_top.png") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>美妆大牌洋货节</nav>
</header>
<div class="main">
    <a><img src="/images/activities/034/act034_01.jpg" alt=""></a>
    <a><img src="/images/activities/034/act034_02.jpg" alt=""></a>

    <a><img src="/images/activities/034/act034_03.jpg" alt=""></a>
    <a href="/g?gId=58047"><img src="/images/activities/034/act034_04.jpg" alt=""></a>
    <a href="/g?gId=47759"><img src="/images/activities/034/act034_05.jpg" alt=""></a>
    <a href="/g?gId=40287"><img src="/images/activities/034/act034_06.jpg" alt=""></a>

    <a><img src="/images/activities/034/act034_07.jpg" alt=""></a>
    <a href="/g?gId=48718" class="w50"><img src="/images/activities/034/act034_08.jpg" alt=""></a>
    <a href="/g?gId=10668" class="w50"><img src="/images/activities/034/act034_09.jpg" alt=""></a>
    <a href="/g?gId=48728" class="w50"><img src="/images/activities/034/act034_10.jpg" alt=""></a>
    <a href="/g?gId=40300" class="w50"><img src="/images/activities/034/act034_11.jpg" alt=""></a>
    <a href="/g?gId=47967" class="w50"><img src="/images/activities/034/act034_12.jpg" alt=""></a>
    <a href="/g?gId=48680" class="w50"><img src="/images/activities/034/act034_13.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=森田药妆" class="w50"><img src="/images/activities/034/act034_14.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=SNP" class="w50"><img src="/images/activities/034/act034_15.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=JAYJUN" class="w50"><img src="/images/activities/034/act034_16.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=佰草百丽" class="w50"><img src="/images/activities/034/act034_17.jpg" alt=""></a>

    <a><img src="/images/activities/034/act034_18.jpg" alt=""></a>
    <a href="/g?gId=25835" class="w50"><img src="/images/activities/034/act034_19.jpg" alt=""></a>
    <a href="/g?gId=40699" class="w50"><img src="/images/activities/034/act034_20.jpg" alt=""></a>
    <a href="/g?gId=40701" class="w50"><img src="/images/activities/034/act034_21.jpg" alt=""></a>
    <a href="/g?gId=10740" class="w50"><img src="/images/activities/034/act034_22.jpg" alt=""></a>
    <a href="/g?gId=40294" class="w50"><img src="/images/activities/034/act034_23.jpg" alt=""></a>
    <a href="/g?gId=56903" class="w50"><img src="/images/activities/034/act034_24.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=伊思" class="w50"><img src="/images/activities/034/act034_25.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=雪花秀" class="w50"><img src="/images/activities/034/act034_26.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=谜尚" class="w50"><img src="/images/activities/034/act034_27.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=兰芝" class="w50"><img src="/images/activities/034/act034_28.jpg" alt=""></a>

    <a><img src="/images/activities/034/act034_29.jpg" alt=""></a>
    <a href="/g?gId=52535" class="w50"><img src="/images/activities/034/act034_30.jpg" alt=""></a>
    <a href="/g?gId=43788" class="w50"><img src="/images/activities/034/act034_31.jpg" alt=""></a>
    <a href="/g?gId=48732" class="w50"><img src="/images/activities/034/act034_32.jpg" alt=""></a>
    <a href="/g?gId=55878" class="w50"><img src="/images/activities/034/act034_33.jpg" alt=""></a>
    <a href="/g?gId=27728" class="w50"><img src="/images/activities/034/act034_34.jpg" alt=""></a>
    <a href="/g?gId=56882" class="w50"><img src="/images/activities/034/act034_35.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=ROSETTE" class="w50"><img src="/images/activities/034/act034_36.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=WHOO" class="w50"><img src="/images/activities/034/act034_37.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=贝德玛" class="w50"><img src="/images/activities/034/act034_38.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=丝塔芙" class="w50"><img src="/images/activities/034/act034_39.jpg" alt=""></a>

    <a><img src="/images/activities/034/act034_40.jpg" alt=""></a>
    <a href="/g?gId=52429" class="w50"><img src="/images/activities/034/act034_41.jpg" alt=""></a>
    <a href="/g?gId=43785" class="w50"><img src="/images/activities/034/act034_42.jpg" alt=""></a>
    <a href="/g?gId=58048" class="w50"><img src="/images/activities/034/act034_43.jpg" alt=""></a>
    <a href="/g?gId=40700" class="w50"><img src="/images/activities/034/act034_44.jpg" alt=""></a>
    <a href="/g?gId=30007" class="w50"><img src="/images/activities/034/act034_45.jpg" alt=""></a>
    <a href="/g?gId=32888" class="w50"><img src="/images/activities/034/act034_46.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=花娜小姐" class="w50"><img src="/images/activities/034/act034_47.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=圣罗兰" class="w50"><img src="/images/activities/034/act034_48.jpg" alt=""></a>

    <a><img src="/images/activities/034/act034_49.jpg" alt=""></a>
    <a href="/g?gId=44441" class="w50"><img src="/images/activities/034/act034_50.jpg" alt=""></a>
    <a href="/g?gId=44477" class="w50"><img src="/images/activities/034/act034_51.jpg" alt=""></a>
    <a href="/g?gId=40549" class="w50"><img src="/images/activities/034/act034_52.jpg" alt=""></a>
    <a href="/g?gId=58049" class="w50"><img src="/images/activities/034/act034_53.jpg" alt=""></a>
    <a href="/g?gId=48490" class="w50"><img src="/images/activities/034/act034_54.jpg" alt=""></a>
    <a href="/g?gId=44546" class="w50"><img src="/images/activities/034/act034_55.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=LG" class="w50"><img src="/images/activities/034/act034_56.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=Reveur" class="w50"><img src="/images/activities/034/act034_57.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=SOMANG" class="w50"><img src="/images/activities/034/act034_58.jpg" alt=""></a>
    <a href="/buyer/liebiao.html?id=&collectNum=0&gk=资生堂" class="w50"><img src="/images/activities/034/act034_59.jpg" alt=""></a>

    <a><img src="/images/activities/034/act034_60.jpg" alt=""></a>
    <a href="/g?gId=58050" class="w50"><img src="/images/activities/034/act034_61.jpg" alt=""></a>
    <a href="/g?gId=25026" class="w50"><img src="/images/activities/034/act034_62.jpg" alt=""></a>
    <a href="/g?gId=48693" class="w50"><img src="/images/activities/034/act034_63.jpg" alt=""></a>
    <a href="/g?gId=29803" class="w50"><img src="/images/activities/034/act034_64.jpg" alt=""></a>
    <a href="/g?gId=29977" class="w50"><img src="/images/activities/034/act034_65.jpg" alt=""></a>
    <a href="/g?gId=57232" class="w50"><img src="/images/activities/034/act034_66.jpg" alt=""></a>

    <a class="return_top"><img src="/images/activities/034/act034_67.jpg" alt=""></a>
    <div id="return_top"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>