{{#extend "header"}}
<title id="title">新华社 百万红包豪礼送</title>
<style type="text/css">
    .box{
        width:100%;
    }
    .box >div{
        width:100%;
        overflow: hidden;
    }
    .first{
        position: relative;
        background: #3f0201;
    }
    .first a{
        width:100%;
        float: left;
    }
    .first a img{
        width: 100%;
        float:left;
    }
    .first .list{
        width:50%;
    }
    #return_top{
        bottom: 60px;
        right: 6px;
        width: 46px;
        height: 46px;
        background:url("/images/buy/return_top.jpg") no-repeat;
        background-size: cover;
        opacity: 0;
        position: fixed;
        z-index: 9999999;
        border-radius: 23px;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a  href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>新华社 百万红包豪礼送</nav>
</header>
<div class="box">
    <div class="first">



        <a  href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/035/images/img_01_2.jpg" alt=""></a>
        <a  href="/g?gId=57843"><img src="/images/activities/035/images/img_02.jpg" alt=""></a>

        <a class="list" href="/g?gId=57910"><img src="/images/activities/035/images/img_03.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57911"><img src="/images/activities/035/images/img_03_1.jpg" alt=""></a>

        <a class="list" href="/g?gId=57905"><img src="/images/activities/035/images/img_04.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57909"><img src="/images/activities/035/images/img_04_1.jpg" alt=""></a>

        <a href="/g?gId=57913"><img src="/images/activities/035/images/img_05.jpg" alt=""></a>

        <a class="list" href="/g?gId=57918"><img src="/images/activities/035/images/img_06.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57936"><img src="/images/activities/035/images/img_06_1.jpg" alt=""></a>

        <a class="list" href="/g?gId=57906"><img src="/images/activities/035/images/img_07.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57858"><img src="/images/activities/035/images/img_07_1.jpg" alt=""></a>

        <a href="/g?gId=57912"><img src="/images/activities/035/images/img_08.jpg" alt=""></a>

        <a class="list" href="/g?gId=57915"><img src="/images/activities/035/images/img_09.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57865"><img src="/images/activities/035/images/img_09_1.jpg" alt=""></a>

        <a class="list" href="/g?gId=57937"><img src="/images/activities/035/images/img_10.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57845"><img src="/images/activities/035/images/img_10_1.jpg" alt=""></a>

        <a href="/g?gId=57941"><img src="/images/activities/035/images/img_11.jpg" alt=""></a>

        <a class="list" href="/g?gId=57856"><img src="/images/activities/035/images/img_12.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57922"><img src="/images/activities/035/images/img_12_1.jpg" alt=""></a>

        <a class="list" href="/g?gId=57864"><img src="/images/activities/035/images/img_13.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57929"><img src="/images/activities/035/images/img_13_1.jpg" alt=""></a>


        <a href="/g?gId=57949"><img src="/images/activities/035/images/img_14.jpg" alt=""></a>

        <a class="list" href="/g?gId=57868"><img src="/images/activities/035/images/img_15.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57875"><img src="/images/activities/035/images/img_15_1.jpg" alt=""></a>


        <a class="list" href="/g?gId=57947"><img src="/images/activities/035/images/img_16.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57955"><img src="/images/activities/035/images/img_16_1.jpg" alt=""></a>

        <a href="/g?gId=57956"><img src="/images/activities/035/images/img_17.jpg" alt=""></a>

        <a class="list" href="/g?gId=57869"><img src="/images/activities/035/images/img_18.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57889"><img src="/images/activities/035/images/img_18_1.jpg" alt=""></a>

        <a class="list" href="/g?gId=57878"><img src="/images/activities/035/images/img_19.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57881"><img src="/images/activities/035/images/img_19_1.jpg" alt=""></a>

        <a href="/g?gId=57924"><img src="/images/activities/035/images/img_20.jpg" alt=""></a>

        <a class="list" href="/g?gId=57943"><img src="/images/activities/035/images/img_21.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57885"><img src="/images/activities/035/images/img_21_1.jpg" alt=""></a>

        <a class="list" href="/g?gId=57892"><img src="/images/activities/035/images/img_22.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57902"><img src="/images/activities/035/images/img_22_1.jpg" alt=""></a>

        <a href="/g?gId=57795"><img src="/images/activities/035/images/img_23.jpg" alt=""></a>


        <a class="list" href="/g?gId=57900"><img src="/images/activities/035/images/img_24.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57807"><img src="/images/activities/035/images/img_24_1.jpg" alt=""></a>

        <a class="list" href="/g?gId=57796"><img src="/images/activities/035/images/img_25.jpg" alt=""></a>
        <a class="list"  href="/g?gId=57797"><img src="/images/activities/035/images/img_25_1.jpg" alt=""></a>
        
        <a class="return_top" href="javascript:void(0);"><img src="/images/activities/035/images/img_26.jpg" alt=""></a>

    </div>
    <div id="return_top"></div>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>