{{#extend "header"}}
<title id="title">换新家 装起来 红包无限送</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

    .ui-body a img{
        /*width: 100%;*/
        display: block;
    }
    .fl{
        float: left;
    }
    .l{
        width: 49.2%;
    }
    .r{
        width: 50.8%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>换新家 装起来 红包无限送</nav>
</header>
<div class="ui-body">
    <a href="javascript:;"><img src="/images/activities/037/jz_01.png" alt=""/></a>
    <!-- 红包-->
    <a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/037/jz_02.png" alt=""/></a>
    <!-- floor1-->
    <div>
        <a href="/g?gId=28463" class="fl l"><img src="/images/activities/037/jz_03.png" alt=""/></a>
        <a href="/g?gId=16033" class="fl r"><img src="/images/activities/037/jz_04.png" alt=""  /></a>
    </div>

    <a href="/g?gId=56632" class="fl l"><img src="/images/activities/037/jz_05.png" alt=""/></a>
    <a href="/g?gId=26686" class="fl r"><img src="/images/activities/037/jz_06.png" alt=""/></a>
    <a href="/g?gId=56692" class="fl l"><img src="/images/activities/037/jz_07.png" alt=""/></a>
    <a href="/g?gId=56435" class="fl r"><img src="/images/activities/037/jz_08.png" alt=""/></a>
    <!-- floor2-->
    <a href="/g?gId=56662"><img src="/images/activities/037/jz_09.png" alt=""/></a>
    <a href="/g?gId=56164"><img src="/images/activities/037/jz_10.png" alt=""/></a>
    <!-- floor3-->
    <a href="/g?gId=25387" class="fl l"><img src="/images/activities/037/jz_11.png" alt=""/></a>
    <a href="/g?gId=25265" class="fl r"><img src="/images/activities/037/jz_12.png" alt=""/></a>
    <a href="/g?gId=55876" class="fl l"><img src="/images/activities/037/jz_13.png" alt=""/></a>
    <a href="/g?gId=32860" class="fl r"><img src="/images/activities/037/jz_14.png" alt=""/></a>
    <a href="/g?gId=31872" class="fl l"><img src="/images/activities/037/jz_15.png" alt=""/></a>
    <a href="/g?gId=40400" class="fl r"><img src="/images/activities/037/jz_16.png" alt=""/></a>
    <!-- floor4-->
    <a href="/g?gId=55279"><img src="/images/activities/037/jz_17.png" alt=""/></a>
    <!-- floor5-->
    <a href="/g?gId=55291" class="fl l"><img src="/images/activities/037/jz_18.png" alt=""/></a>
    <a href="/g?gId=32073" class="fl r"><img src="/images/activities/037/jz_19.png" alt=""/></a>
    <a href="/g?gId=57577" class="fl l"><img src="/images/activities/037/jz_20.png" alt=""/></a>
    <a href="/g?gId=27689" class="fl r"><img src="/images/activities/037/jz_21.png" alt=""/></a>
    <a href="/g?gId=23426" class="fl l"><img src="/images/activities/037/jz_22.png" alt=""/></a>
    <a href="/g?gId=23042" class="fl r"><img src="/images/activities/037/jz_23.png" alt=""/></a>
    <!-- gotop-->
    <a href="#"><img src="/images/activities/037/jz_24.png" alt=""/></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>