{{#extend "header"}}
<title id="title">我是大明星 第一季</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

    .ui-body a img{
        width: 100%;
        display: block;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back"></a>我是大明星 第一季</nav>
</header>
<div class="ui-body">
    <a href="javascript:;"><img src="/images/activities/038/star_01.jpg" alt=""/></a>
    <a href="/g?gId=10453"><img src="/images/activities/038/star_02.jpg" alt=""/></a>
    <a href="/g?gId=48766"><img src="/images/activities/038/star_03.jpg" alt=""/></a>
    <a href="/g?gId=56119"><img src="/images/activities/038/star_04.jpg" alt=""/></a>
    <a href="/g?gId=58053"><img src="/images/activities/038/star_05.jpg" alt=""/></a>
    <a href="/g?gId=40362"><img src="/images/activities/038/star_06.jpg" alt=""/></a>
    <a href="/g?gId=55831"><img src="/images/activities/038/star_07.jpg" alt=""/></a>
    <a href="#"><img src="/images/activities/038/star_08.jpg" alt=""/></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/032"></script>