{{#extend "header"}}
<title id="title">大牌洋货节</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

    .ui-body a img{
        width: 100%;
        display: block;
    }
    .dp_1 a {
        float: left;
        width: 50%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back"></a>大牌洋货节</nav>
</header>
<div class="ui-body">
    <a><img src="/images/activities/039/dp_01.jpg" alt=""/></a>
    <a><img src="/images/activities/039/dp_02.jpg" alt=""/></a>
    <a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/039/dp_03.jpg" alt=""/></a>
    <a><img src="/images/activities/039/dp_04.jpg" alt=""/></a>
    <a href="/g?gId=58047"><img src="/images/activities/039/dp_05.jpg" alt=""/></a>
    <a href="/g?gId=47759"><img src="/images/activities/039/dp_06.jpg" alt=""/></a>
    <a href="/g?gId=40287"><img src="/images/activities/039/dp_07.jpg" alt=""/></a>
    <a><img src="/images/activities/039/dp_08.jpg" alt=""/></a>
    <div class="dp_1">
        <a href="/g?gId=48718"><img src="/images/activities/039/dp_09.jpg" alt=""/></a>
        <a href="/g?gId=10668"><img src="/images/activities/039/dp_10.jpg" alt=""/></a>
        <a href="/g?gId=48728"><img src="/images/activities/039/dp_11.jpg" alt=""/></a>
        <a href="/g?gId=40300"><img src="/images/activities/039/dp_12.jpg" alt=""/></a>
        <a href="/g?gId=47967"><img src="/images/activities/039/dp_13.jpg" alt=""/></a>
        <a href="/g?gId=48680"><img src="/images/activities/039/dp_14.jpg" alt=""/></a>        
    </div>
    <a><img src="/images/activities/039/dp_15.jpg" alt=""/></a>
    <a><img src="/images/activities/039/dp_16.jpg" alt=""/></a>
    <div class="dp_1">
        <a href="/g?gId=25835"><img src="/images/activities/039/dp_17.jpg" alt=""/></a>
        <a href="/g?gId=40699"><img src="/images/activities/039/dp_18.jpg" alt=""/></a>
        <a href="/g?gId=40701"><img src="/images/activities/039/dp_19.jpg" alt=""/></a>
        <a href="/g?gId=10740"><img src="/images/activities/039/dp_20.jpg" alt=""/></a>
        <a href="/g?gId=40294"><img src="/images/activities/039/dp_21.jpg" alt=""/></a>
        <a href="/g?gId=56903"><img src="/images/activities/039/dp_22.jpg" alt=""/></a>        
    </div>
    <a><img src="/images/activities/039/dp_23.jpg" alt=""/></a>
    <a><img src="/images/activities/039/dp_24.jpg" alt=""/></a>
    <div class="dp_1">
        <a href="/g?gId=52535"><img src="/images/activities/039/dp_25.jpg" alt=""/></a>
        <a href="/g?gId=43788"><img src="/images/activities/039/dp_26.jpg" alt=""/></a>
        <a href="/g?gId=48732"><img src="/images/activities/039/dp_27.jpg" alt=""/></a>
        <a href="/g?gId=55878"><img src="/images/activities/039/dp_28.jpg" alt=""/></a>
        <a href="/g?gId=27728"><img src="/images/activities/039/dp_29.jpg" alt=""/></a>
        <a href="/g?gId=56882"><img src="/images/activities/039/dp_30.jpg" alt=""/></a>              
    </div>
    <a><img src="/images/activities/039/dp_31.jpg" alt=""/></a>
    <a><img src="/images/activities/039/dp_32.jpg" alt=""/></a> 
    <div class="dp_1">
        <a href="/g?gId=52429"><img src="/images/activities/039/dp_33.jpg" alt=""/></a>
        <a href="/g?gId=43785"><img src="/images/activities/039/dp_34.jpg" alt=""/></a>
        <a href="/g?gId=58048"><img src="/images/activities/039/dp_35.jpg" alt=""/></a>
        <a href="/g?gId=40700"><img src="/images/activities/039/dp_36.jpg" alt=""/></a>
        <a href="/g?gId=30007"><img src="/images/activities/039/dp_37.jpg" alt=""/></a>
        <a href="/g?gId=32888"><img src="/images/activities/039/dp_38.jpg" alt=""/></a>                    
    </div>
    <a><img src="/images/activities/039/dp_39.jpg" alt=""/></a>
    <a><img src="/images/activities/039/dp_40.jpg" alt=""/></a>  
    <div class="dp_1">
        <a href="/g?gId=44441"><img src="/images/activities/039/dp_41.jpg" alt=""/></a>
        <a href="/g?gId=44477"><img src="/images/activities/039/dp_42.jpg" alt=""/></a>
        <a href="/g?gId=40549"><img src="/images/activities/039/dp_43.jpg" alt=""/></a>
        <a href="/g?gId=58049"><img src="/images/activities/039/dp_44.jpg" alt=""/></a>
        <a href="/g?gId=48490"><img src="/images/activities/039/dp_45.jpg" alt=""/></a>
        <a href="/g?gId=44546"><img src="/images/activities/039/dp_46.jpg" alt=""/></a>        
    </div>
    <a><img src="/images/activities/039/dp_47.jpg" alt=""/></a>
    <a><img src="/images/activities/039/dp_48.jpg" alt=""/></a>
    <div class="dp_1">
        <a href="/g?gId=58050"><img src="/images/activities/039/dp_49.jpg" alt=""/></a>
        <a href="/g?gId=25026"><img src="/images/activities/039/dp_50.jpg" alt=""/></a>
        <a href="/g?gId=48693"><img src="/images/activities/039/dp_51.jpg" alt=""/></a>
        <a href="/g?gId=29803"><img src="/images/activities/039/dp_52.jpg" alt=""/></a>
        <a href="/g?gId=29977"><img src="/images/activities/039/dp_53.jpg" alt=""/></a>
        <a href="/g?gId=57232"><img src="/images/activities/039/dp_54.jpg" alt=""/></a>        
    </div>
    <a href="#"><img src="/images/activities/039/dp_55.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>