{{#extend "header"}}
<title id="title">2017汇聚新品</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

    .ui-body a img{
        width: 100%;
        display: block;
    }
    .new_goods {
      width: 100%;
    }
    .new_goods a {
      float: left;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>2017汇聚新品</nav>
</header>
<div class="ui-body">
    <a><img src="/images/activities/040/xq_01.jpg" alt=""/></a>
    <a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/040/xq_02.jpg" alt=""/></a>
    <a href="/g?gId=44517"><img src="/images/activities/040/xq_03.jpg" alt=""/></a>
    <div class="new_goods">
      <a href="/g?gId=44554" style="width: 53.2%;"><img src="/images/activities/040/xq_04.jpg" alt=""/></a>
      <a href="/g?gId=49223" style="width: 46.8%;"><img src="/images/activities/040/xq_05.jpg" alt=""/></a>
    </div>
    <a href="/g?gId=58116"><img src="/images/activities/040/xq_08.jpg" alt=""/></a>
    <a href="/g?gId=13182"><img src="/images/activities/040/xq_09.jpg" alt=""/></a>
    <a href="/g?gId=40731"><img src="/images/activities/040/xq_10.jpg" alt=""/></a>
    <a href="/g?gId=39584"><img src="/images/activities/040/xq_11.jpg" alt=""/></a>
    <a href="/g?gId=58071"><img src="/images/activities/040/xq_12.jpg" alt=""/></a>
    <div class="new_goods">
      <a href="/g?gId=58119" style="width: 53.2%;"><img src="/images/activities/040/xq_13.jpg" alt=""/></a>
      <a href="/g?gId=58120" style="width: 46.8%;"><img src="/images/activities/040/xq_14.jpg" alt=""/></a>
    </div>
    <a href="/g?gId=58052"><img src="/images/activities/040/xq_17.jpg" alt=""/></a>
    <a href="/g?gId=58083"><img src="/images/activities/040/xq_18.jpg" alt=""/></a>
    <a href="/g?gId=58097"><img src="/images/activities/040/xq_19.jpg" alt=""/></a>
    <a href="/g?gId=14456"><img src="/images/activities/040/xq_20.jpg" alt=""/></a>
    <a href="/g?gId=13598"><img src="/images/activities/040/xq_21.jpg" alt=""/></a>
    <a href="#"><img src="/images/activities/040/xq_22.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>