{{#extend "header"}}
<title id="title">超级商品 直击底价</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

    .ui-body a img{
        width: 100%;
        display: block;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>超级商品 直击底价</nav>
</header>
<div class="ui-body">
    <a><img src="/images/activities/041/cj_01.jpg" alt=""/></a>
    <a href="/g?gId=57826"><img src="/images/activities/041/cj_02.jpg" alt=""/></a>
    <a href="/g?gId=57809"><img src="/images/activities/041/cj_03.jpg" alt=""/></a>
    <a href="/g?gId=57825"><img src="/images/activities/041/cj_04.jpg" alt=""/></a>
    <a href="/g?gId=57797"><img src="/images/activities/041/cj_05.jpg" alt=""/></a>
    <a href="/g?gId=57802"><img src="/images/activities/041/cj_06.jpg" alt=""/></a>
    <a href="/g?gId=57796"><img src="/images/activities/041/cj_07.jpg" alt=""/></a>
    <a href="/g?gId=57804"><img src="/images/activities/041/cj_08.jpg" alt=""/></a>
    <a href="/g?gId=57799"><img src="/images/activities/041/cj_09.jpg" alt=""/></a>
    <a href="/g?gId=57832"><img src="/images/activities/041/cj_10.jpg" alt=""/></a>
    <a href="/g?gId=57821"><img src="/images/activities/041/cj_11.jpg" alt=""/></a>
    <a href="#"><img src="/images/activities/041/cj_12.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>