{{#extend "header"}}
<title id="title">清明踏青 放肆购</title>
<style type="text/css">
    .container{
        width:100%;
    }
    .container >a{
        display: block;
        float: left;
        overflow: hidden;
    }
    .tonglan{
        width: 100%;
    }
    .l{
        width: 34.31%;
    }
    .c{
        width: 32.07%;
    }
    .r{
        width: 33.60%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a  href="http://m.maimaicn.com/buyer/shouye.html" class="back"></a>清明踏青 放肆购</nav>
</header>
    <div class="container">
        <a class="tonglan" href="javascript:;"><img src="/images/activities/043/qingming_01.jpg" alt=""></a>
<!--红包-->
        <a class="l ui-getRPB-50" href="javascript:;" ><img src="/images/activities/043/qingming_02.jpg" alt=""></a>
        <a class="c ui-getRPB-100" href="javascript:;" ><img src="/images/activities/043/qingming_03.jpg" alt=""></a>
        <a class="r ui-getRPB-200" href="javascript:;" ><img src="/images/activities/043/qingming_04.jpg" alt=""></a>
<!--人气推荐-->
        <a class="tonglan"  href="javascript:;"><img src="/images/activities/043/qingming_05.jpg" alt=""></a>
        <a class="l" href="/g?gId=55748"><img src="/images/activities/043/qingming_06.jpg" alt=""></a>
        <a class="c" href="/g?gId=59115"><img src="/images/activities/043/qingming_07.jpg" alt=""></a>
        <a class="r" href="/g?gId=41395"><img src="/images/activities/043/qingming_08.jpg" alt=""></a>
        <a class="l" href="/g?gId=59080"><img src="/images/activities/043/qingming_09.jpg" alt=""></a>
        <a class="c" href="/g?gId=59086"><img src="/images/activities/043/qingming_10.jpg" alt=""></a>
        <a class="r" href="/g?gId=16678"><img src="/images/activities/043/qingming_11.jpg" alt=""></a>
<!--防晒-->
        <a class="tonglan" href="javascript:;"><img src="/images/activities/043/qingming_12.jpg" alt=""></a>

        <a class="l" href="/g?gId=24952"><img src="/images/activities/043/qingming_13.jpg" alt=""></a>
        <a class="c" href="/g?gId=48102"><img src="/images/activities/043/qingming_14.jpg" alt=""></a>
        <a class="r" href="/g?gId=59066"><img src="/images/activities/043/qingming_15.jpg" alt=""></a>

        <a class="tonglan" href="/g?gId=55887"><img src="/images/activities/043/qingming_16.jpg" alt=""></a>

        <a class="l" href="/g?gId=40700"><img src="/images/activities/043/qingming_17.jpg" alt=""></a>
        <a class="c" href="/g?gId=48941"><img src="/images/activities/043/qingming_18.jpg" alt=""></a>
        <a class="r" href="/g?gId=25772"><img src="/images/activities/043/qingming_19.jpg" alt=""></a>
<!--春装-->
        <a class="l" href="/g?gId=59094"><img src="/images/activities/043/qingming_20.jpg" alt=""></a>
        <a class="c" href="/g?gId=59068"><img src="/images/activities/043/qingming_21.jpg" alt=""></a>
        <a class="r" href="/g?gId=59106"><img src="/images/activities/043/qingming_22.jpg" alt=""></a>
        <a class="l" href="/g?gId=59098"><img src="/images/activities/043/qingming_23.jpg" alt=""></a>
        <a class="c" href="/g?gId=59111"><img src="/images/activities/043/qingming_24.jpg" alt=""></a>
        <a class="r" href="/g?gId=59076"><img src="/images/activities/043/qingming_25.jpg" alt=""></a>
<!--more&top-->
        <a class="tonglan"  href="/"><img src="/images/activities/043/qingming_26.jpg" alt=""></a>
        <a class="tonglan goto-top"  href="javascript:;"><img src="/images/activities/043/qingming_27.jpg" alt=""></a>
    </div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/043"></script>