{{#extend "header"}}
<title id="title">我是大明星第二季 激情无限</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }
    .ui-body a img{
          width: 100%;
          display: block;
    }
    .new_goods {
          width: 100%;
    }
    .new_goods a {
          float: left;
    }
</style>
{{/extend}}
<header class="main_head">
<nav class="nav"><a href="javascript:;" class="back _goback"></a>我是大明星第二季 激情无限</nav>
</header>
<div class="ui-body">
    <a><img src="/images/activities/044/star_01.jpg" alt=""/></a>
    <a href="/g?gId=40280"><img src="/images/activities/044/star_02.jpg" alt=""/></a>
    <a><img src="/images/activities/044/star_03.jpg" alt=""/></a>
    <a href="/g?gId=40342"><img src="/images/activities/044/star_04.jpg" alt=""/></a>
    <a><img src="/images/activities/044/star_05.jpg" alt=""/></a>
    <a href="/g?gId=48326"><img src="/images/activities/044/star_06.jpg" alt=""/></a>
    <a><img src="/images/activities/044/star_07.jpg" alt=""/></a>
    <a href="/g?gId=25723"><img src="/images/activities/044/star_08.jpg" alt=""/></a>
    <a><img src="/images/activities/044/star_09.jpg" alt=""/></a>
    <a href="/g?gId=14115"><img src="/images/activities/044/star_10.jpg" alt=""/></a>
    <a><img src="/images/activities/044/star_11.jpg" alt=""/></a>
    <a href="/g?gId=48102"><img src="/images/activities/044/star_12.jpg" alt=""/></a>
    <a><img src="/images/activities/044/star_13.jpg" alt=""/></a>
    <a href="#"><img src="/images/activities/044/star_14.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>
