{{#extend "header"}}
<title id="title">减肥季 抢助力红包</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

    .ui-body a img{
        width: 100%;
        display: block;
    }
    .new_goods {
      width: 100%;
    }
    .new_goods a {
      float: left;
      width: 33.3333%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>减肥季 抢助力红包</nav>
</header>
<div class="ui-body">
    <a><img src="/images/activities/045/jf_01.jpg" alt=""/></a>
    <a href="http://m.maimaicn.com/buyer/egghit.html?luckyId=12"><img src="/images/activities/045/jf_02.jpg" alt=""/></a>
    <a><img src="/images/activities/045/jf_03.jpg" alt=""/></a>
    <a href="/g?gId=45519"><img src="/images/activities/045/jf_04.jpg" alt=""/></a>
    <a href="/g?gId=24830"><img src="/images/activities/045/jf_05.jpg" alt=""/></a>
    <div class="new_goods">
    	<a href="/g?gId=29990"><img src="/images/activities/045/jf_06.jpg" alt=""/></a>
	    <a href="/g?gId=45501"><img src="/images/activities/045/jf_07.jpg" alt=""/></a>
	    <a href="/g?gId=27645"><img src="/images/activities/045/jf_08.jpg" alt=""/></a>
	    <a href="/g?gId=45440"><img src="/images/activities/045/jf_09.jpg" alt=""/></a>
	    <a href="/g?gId=41025"><img src="/images/activities/045/jf_10.jpg" alt=""/></a>
	    <a href="/g?gId=56743"><img src="/images/activities/045/jf_11.jpg" alt=""/></a>
    </div>    
    <a><img src="/images/activities/045/jf_12.jpg" alt=""/></a>
    <a href="/g?gId=48789"><img src="/images/activities/045/jf_13.jpg" alt=""/></a>
    <a href="/g?gId=29841"><img src="/images/activities/045/jf_14.jpg" alt=""/></a>
    <div class="new_goods">
    	<a href="/g?gId=56819"><img src="/images/activities/045/jf_15.jpg" alt=""/></a>
    	<a href="/g?gId=45463"><img src="/images/activities/045/jf_16.jpg" alt=""/></a>
	    <a href="/g?gId=48788"><img src="/images/activities/045/jf_17.jpg" alt=""/></a>
	    <a href="/g?gId=45512"><img src="/images/activities/045/jf_18.jpg" alt=""/></a>
	    <a href="/g?gId=45475"><img src="/images/activities/045/jf_19.jpg" alt=""/></a>
	    <a href="/g?gId=45513"><img src="/images/activities/045/jf_20.jpg" alt=""/></a>
    </div>  
    <a><img src="/images/activities/045/jf_21.jpg" alt=""/></a>
    <a href="/g?gId=25937"><img src="/images/activities/045/jf_22.jpg" alt=""/></a>
    <a href="/g?gId=25848"><img src="/images/activities/045/jf_23.jpg" alt=""/></a>
    <div class="new_goods">
    	<a href="/g?gId=25939"><img src="/images/activities/045/jf_24.jpg" alt=""/></a>
    	<a href="/g?gId=25854"><img src="/images/activities/045/jf_25.jpg" alt=""/></a>
    	<a href="/g?gId=25857"><img src="/images/activities/045/jf_26.jpg" alt=""/></a>
	    <a href="/g?gId=25881"><img src="/images/activities/045/jf_27.jpg" alt=""/></a>
	    <a href="/g?gId=25930"><img src="/images/activities/045/jf_28.jpg" alt=""/></a>
	    <a href="/g?gId=25867"><img src="/images/activities/045/jf_29.jpg" alt=""/></a>	
    </div>  
    <a><img src="/images/activities/045/jf_30.jpg" alt=""/></a>
    <a href="#"><img src="/images/activities/045/jf_31.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>