{{#extend "header"}}
<title id="title">踏青 开春放开耍</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

    .ui-body a img{
        width: 100%;
        display: block;
    }
    .hongbao{
        width: 100%;
    }
    .hongbao>a{
        display: inline-block;
        float: left;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>踏青 开春放开耍</nav>
</header>
<div class="ui-body">
    <a><img src="/images/activities/046/tq_01.jpg" alt=""/></a>
    <div class="hongbao">
        <a href="javascript:;" class="ui-getRPB-100" style="width: 34%;"><img src="/images/activities/046/tq_honhbao_100.jpg"></a>
        <a href="javascript:;" class="ui-getRPB-300" style="width: 33%;"><img src="/images/activities/046/tq_honhbao_300.jpg"></a>
        <a href="javascript:;" class="ui-getRPB-500" style="width: 33%;"><img src="/images/activities/046/tq_honhbao_500.jpg"></a>
    </div>
    <a href="javascript:;"><img src="/images/activities/046/tq_03.jpg" alt=""/></a>
    <a href="javascript:;"><img src="/images/activities/046/tq_04.jpg" alt=""/></a>
    <a href="/g?gId=59127"><img src="/images/activities/046/tq_05.jpg" alt=""/></a>
    <a href="/g?gId=59138"><img src="/images/activities/046/tq_06.jpg" alt=""/></a>
    <a href="/g?gId=59161"><img src="/images/activities/046/tq_07.jpg" alt=""/></a>
    <a href="/g?gId=14068"><img src="/images/activities/046/tq_08.jpg" alt=""/></a>
    <a href="javascript:;"><img src="/images/activities/046/tq_09.jpg" alt=""/></a>
    <a href="/g?gId=46305"><img src="/images/activities/046/tq_10.jpg" alt=""/></a>
    <a href="/g?gId=46653"><img src="/images/activities/046/tq_11.jpg" alt=""/></a>
    <a href="/g?gId=59166"><img src="/images/activities/046/tq_12.jpg" alt=""/></a>
    <a href="/g?gId=18558"><img src="/images/activities/046/tq_13.jpg" alt=""/></a>
    <a href="javascript:;"><img src="/images/activities/046/tq_14.jpg" alt=""/></a>
    <a href="/g?gId=17523"><img src="/images/activities/046/tq_15.jpg" alt=""/></a>
    <a href="/g?gId=40405"><img src="/images/activities/046/tq_16.jpg" alt=""/></a>
    <a href="/g?gId=48102"><img src="/images/activities/046/tq_17.jpg" alt=""/></a>
    <a href="/g?gId=32687"><img src="/images/activities/046/tq_18.jpg" alt=""/></a>
    <a href="javascript:;"><img src="/images/activities/046/tq_19.jpg" alt=""/></a>
    <a href="#"><img src="/images/activities/046/tq_20.jpg" alt=""/></a>
    <a href="javascript:;"><img src="/images/activities/046/tq_21.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/046"></script>

