{{#extend "header"}}
<title id="title">逛大牌 发现好货</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

   .tonglan>a>img,.returntop>a>img{
        width: 100%;
        display: block;
    }
   .fudong>a>img{
       display: inline-block;
       width: 50%;
       float: left;
   }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>逛大牌 发现好货</nav>
</header>
<div class="ui-body">
    <div class="tonglan">
        <a href="javascript:;"><img src="/images/activities/047/bigbrand_01.jpg" alt=""></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E6%97%A5%E6%9C%AC%E8%8A%B1%E7%8E%8B&aId=sId=1"><img src="/images/activities/047/bigbrand_02.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E6%BE%B3%E4%BD%B3%E5%AE%9D&aId=sId=1"><img src="/images/activities/047/bigbrand_03.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=Swisse&aId=sId=1"><img src="/images/activities/047/bigbrand_04.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=LANEIGE&aId=sId=1"><img src="/images/activities/047/bigbrand_05.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E9%A5%AD%E5%BF%83&aId=sId=1"><img src="/images/activities/047/bigbrand_06.jpg" alt=""/></a>
    </div>
    <div class="fudong">
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E8%8B%8F%E6%B3%8A%E5%B0%94&aId=sId=1"><img src="/images/activities/047/bigbrand_07.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E8%8D%A3%E4%BA%8B%E8%BE%BE&aId=sId=1"><img src="/images/activities/047/bigbrand_08.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E6%96%BD%E5%8D%8E%E8%94%BB&aId=sId=1"><img src="/images/activities/047/bigbrand_09.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E8%B5%84%E7%94%9F%E5%A0%82&aId=sId=1"><img src="/images/activities/047/bigbrand_10.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E8%B6%85%E8%83%BD&aId=sId=1"><img src="/images/activities/047/bigbrand_11.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=Chante%20clair&aId=sId=1"><img src="/images/activities/047/bigbrand_12.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E5%B8%83%E5%B8%83%E5%AE%9D%E8%B4%9D&aId=sId=1"><img src="/images/activities/047/bigbrand_13.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E5%AD%95%E8%93%93&aId=sId=1"><img src="/images/activities/047/bigbrand_14.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E6%9B%BC%E7%A7%80%E9%9B%B7%E6%95%A6&aId=sId=1"><img src="/images/activities/047/bigbrand_15.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E7%8B%AE%E7%8E%8B&aId=sId=1"><img src="/images/activities/047/bigbrand_16.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E6%9E%9C%E6%9E%9C%E5%85%88%E6%A3%AE&aId=sId=1"><img src="/images/activities/047/bigbrand_17.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E4%B8%AD%E7%B2%AE%E5%B1%B1%E8%90%83&aId=sId=1"><img src="/images/activities/047/bigbrand_18.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E7%A6%A7%E5%A4%A9%E9%BE%99&aId=sId=1"><img src="/images/activities/047/bigbrand_19.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E7%A7%91%E7%BD%97%E6%81%A9&aId=sId=1"><img src="/images/activities/047/bigbrand_20.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E5%A4%9A%E5%96%9C%E7%88%B1&aId=sId=1"><img src="/images/activities/047/bigbrand_21.jpg" alt=""/></a>
        <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E8%89%BE%E6%A2%A6&aId=sId=1"><img src="/images/activities/047/bigbrand_22.jpg" alt=""/></a>
    </div>
    <div class="clearfix"></div>
    <a href="#" class="returntop"><img src="/images/activities/047/bigbrand_23.jpg"></a>
</div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>

