{{#extend "header"}}
<title id="title">购物清单排行榜</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }

    .ui-body a img{
        width: 100%;
        display: block;
    }
    .cart{
        width: 100%;
    }
    .cart_1 a {
    	display: inline-block;
        float: left;
        width: 50%;
    }
    .cart_2 a {
    	display: inline-block;
        float: left;
        width: 33.3333%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>购物清单排行榜</nav>
</header>
    <div class="container">
        <a><img src="/images/activities/048/cart_01.jpg" alt=""></a>
        <a><img src="/images/activities/048/cart_02.jpg" alt=""></a>
        <a class="ui-getRPB-100"><img src="/images/activities/048/cart_03.jpg" alt=""></a>
        <a><img src="/images/activities/048/cart_04.jpg" alt=""></a>
        <div class="cart_1">
        	<a href="/g?gId=56041"><img src="/images/activities/048/cart_05.jpg" alt=""></a>
        	<a href="/g?gId=56761"><img src="/images/activities/048/cart_06.jpg" alt=""></a>
        	<a href="/g?gId=20424"><img src="/images/activities/048/cart_07.jpg" alt=""></a>
        	<a href="/g?gId=49784"><img src="/images/activities/048/cart_08.jpg" alt=""></a>
        </div>
        <div class="cart_2">
        	<a href="/g?gId=58130"><img src="/images/activities/048/cart_09.jpg" alt=""></a>
        	<a href="/g?gId=23440"><img src="/images/activities/048/cart_10.jpg" alt=""></a>
        	<a href="/g?gId=52343"><img src="/images/activities/048/cart_11.jpg" alt=""></a>
        </div>
        <a><img src="/images/activities/048/cart_12.jpg" alt=""></a>
        <div class="cart_1">
        	<a href="/g?gId=52449"><img src="/images/activities/048/cart_13.jpg" alt=""></a>
        	<a href="/g?gId=48830"><img src="/images/activities/048/cart_14.jpg" alt=""></a>        	
        </div>
        <div class="cart_2">
        	<a href="/g?gId=55618"><img src="/images/activities/048/cart_15.jpg" alt=""></a>
        	<a href="/g?gId=49693"><img src="/images/activities/048/cart_16.jpg" alt=""></a>
        	<a href="/g?gId=25767"><img src="/images/activities/048/cart_17.jpg" alt=""></a>        	
        </div>
        <div class="cart_2">
        	<a href="/g?gId=39590"><img src="/images/activities/048/cart_18.jpg" alt=""></a>
        	<a href="/g?gId=39503"><img src="/images/activities/048/cart_19.jpg" alt=""></a>
        	<a href="/g?gId=31965"><img src="/images/activities/048/cart_20.jpg" alt=""></a>        	
        </div>
        <a><img src="/images/activities/048/cart_21.jpg" alt=""></a>
        <div class="cart_1">
        	<a href="/g?gId=56159"><img src="/images/activities/048/cart_22.jpg" alt=""></a>
        	<a href="/g?gId=23442"><img src="/images/activities/048/cart_23.jpg" alt=""></a>        	
        </div>
        <div class="cart_1">
        	<a href="/g?gId=32877"><img src="/images/activities/048/cart_24.jpg" alt=""></a>
        	<a href="/g?gId=55535"><img src="/images/activities/048/cart_25.jpg" alt=""></a>        	
        </div>
        <div class="cart_2">        	
        	<a href="/g?gId=58145"><img src="/images/activities/048/cart_26.jpg" alt=""></a>
        	<a href="/g?gId=26880"><img src="/images/activities/048/cart_27.jpg" alt=""></a>  
        	<a href="/g?gId=23409"><img src="/images/activities/048/cart_28.jpg" alt=""></a>
        </div>
        <a><img src="/images/activities/048/cart_29.jpg" alt=""></a>
        <div class="cart_1">
        	<a href="/g?gId=60092"><img src="/images/activities/048/cart_30.jpg" alt=""></a>
        	<a href="/g?gId=44947"><img src="/images/activities/048/cart_31.jpg" alt=""></a>        	
        </div>
        <div class="cart_2">
        	<a href="/g?gId=29568"><img src="/images/activities/048/cart_32.jpg" alt=""></a>
        	<a href="/g?gId=10763"><img src="/images/activities/048/cart_33.jpg" alt=""></a>
        	<a href="/g?gId=40354"><img src="/images/activities/048/cart_34.jpg" alt=""></a>        	
        </div>
        <div class="cart_2">
        	<a href="/g?gId=46116"><img src="/images/activities/048/cart_35.jpg" alt=""></a>
        	<a href="/g?gId=14061"><img src="/images/activities/048/cart_36.jpg" alt=""></a>
        	<a href="/g?gId=48563"><img src="/images/activities/048/cart_37.jpg" alt=""></a>        	
        </div>
        <a><img src="/images/activities/048/cart_38.jpg" alt=""></a> 
        <a href="#" class="goto-top"><img src="/images/activities/048/cart_39.jpg" alt=""></a> 
    </div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/048"></script>