{{#extend "header"}}
<title id="title">是吃货你就来</title>
<style type="text/css">
    .ui-rp img {
        width: 33%;
        float: left;
    }
    .ui-list-floor01 > a{
        width: 33%;
        float: left;
    }
    .ui-floors .ui-list > a{
        width: 50%;
        float: left;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>是吃货你就来</nav>
</header>
<div class="ui-body">
    <div>
        <img src="/images/activities/050/ch_01.jpg">
        <img src="/images/activities/050/ch_02.jpg">
    </div>
    <div class="ui-rp clearfix">
        <img data-rpid="141" src="/images/activities/050/ch_03.jpg">
        <img data-rpid="142" src="/images/activities/050/ch_04.jpg">
        <img data-rpid="143" src="/images/activities/050/ch_05.jpg">
    </div>
    <div class="ui-floor01">
        <div class="ui-floor-title"><img src="/images/activities/050/ch_06.jpg"></div>
        <div class="ui-list-floor01">
            <a href="/g?gId=16878"><img src="/images/activities/050/ch_07.jpg"></a>
            <a href="/g?gId=16161"><img src="/images/activities/050/ch_08.jpg"></a>
            <a href="/g?gId=59062"><img src="/images/activities/050/ch_09.jpg"></a>
        </div>
    </div>
    <div class="ui-floors">
        <div class="ui-floor-title"><img src="/images/activities/050/ch_10.jpg"></div>
        <div class="ui-list">
            <a href="/g?gId=16443"><img src="/images/activities/050/ch_11.jpg"></a>
            <a href="/g?gId=16373"><img src="/images/activities/050/ch_12.jpg"></a>
            <a href="/g?gId=17055"><img src="/images/activities/050/ch_13.jpg"></a>
            <a href="/g?gId=13315"><img src="/images/activities/050/ch_14.jpg"></a>
            <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E6%9E%9C%E6%9E%9C%E5%85%88%E6%A3%AE&aId=sId=1"><img src="/images/activities/050/ch_15.jpg"></a>
            <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E4%B8%AD%E7%B2%AE%E5%B1%B1%E8%90%83&aId=sId=1"><img src="/images/activities/050/ch_16.jpg"></a>
        </div>
    </div>
    <div class="ui-floors">
        <div class="ui-floor-title"><img src="/images/activities/050/ch_17.jpg"></div>
        <div class="ui-list">
            <a href="/g?gId=17789"><img src="/images/activities/050/ch_18.jpg"></a>
            <a href="/g?gId=23447"><img src="/images/activities/050/ch_19.jpg"></a>
            <a href="/g?gId=55000"><img src="/images/activities/050/ch_20.jpg"></a>
            <a href="/g?gId=52917"><img src="/images/activities/050/ch_21.jpg"></a>
            <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E6%BA%9C%E6%BA%9C%E6%A2%85&aId=sId=1"><img src="/images/activities/050/ch_22.jpg"></a>
            <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E7%86%99%E5%AF%B3%E5%A0%82&aId=sId=1"><img src="/images/activities/050/ch_23.jpg"></a>
        </div>
    </div>
    <div class="ui-floors">
        <div class="ui-floor-title"><img src="/images/activities/050/ch_24.jpg"></div>
        <div class="ui-list">
            <a href="/g?gId=13245"><img src="/images/activities/050/ch_25.jpg"></a>
            <a href="/g?gId=22780"><img src="/images/activities/050/ch_26.jpg"></a>
            <a href="/g?gId=43255"><img src="/images/activities/050/ch_27.jpg"></a>
            <a href="/g?gId=21442"><img src="/images/activities/050/ch_28.jpg"></a>
            <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E9%9B%8F%E7%89%A7%E9%A6%99&aId=sId=1"><img src="/images/activities/050/ch_29.jpg"></a>
            <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E5%91%B3%E4%B8%80&aId=sId=1"><img src="/images/activities/050/ch_30.jpg"></a>
        </div>
    </div>
    <div class="ui-floors">
        <div class="ui-floor-title"><img src="/images/activities/050/ch_31.jpg"></div>
        <div class="ui-list">
            <a href="/g?gId=56160"><img src="/images/activities/050/ch_32.jpg"></a>
            <a href="/g?gId=13302"><img src="/images/activities/050/ch_33.jpg"></a>
            <a href="/g?gId=24894"><img src="/images/activities/050/ch_34.jpg"></a>
            <a href="/g?gId=52439"><img src="/images/activities/050/ch_35.jpg"></a>
            <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=Leibniz&aId=sId=1"><img src="/images/activities/050/ch_36.jpg"></a>
            <a href="http://m.maimaicn.com/buyer/liebiao.html?id=&collectNum=0&gk=%E7%BA%B3%E8%B4%9D%E6%96%AF%E5%85%8B&aId=sId=1"><img src="/images/activities/050/ch_37.jpg"></a>
        </div>
    </div>
    <a class="return_top"><img src="/images/activities/050/ch_38.jpg"></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/050"></script>

