{{#extend "header"}}
<title id="title">15款特价商品 让你来闪</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }
    .ui-body a img{
        width: 100%;
        display: block;
    }
    .new_goods {
        width: 100%;
    }
    .new_goods a {
        float: left;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>15款特价商品 让你来闪</nav>
</header>
<div class="ui-body">
    <a href="javascript:;"><img src="/images/activities/051/shangou_01.jpg" alt=""/></a>
    <a href="/g?gId=40438"><img src="/images/activities/051/shangou_02.jpg" alt=""/></a>
    <a href="/g?gId=15112"><img src="/images/activities/051/shangou_03.jpg" alt=""/></a>
    <a href="/g?gId=55552"><img src="/images/activities/051/shangou_04.jpg" alt=""/></a>
    <a href="/g?gId=25451"><img src="/images/activities/051/shangou_05.jpg" alt=""/></a>
    <a href="/g?gId=57417"><img src="/images/activities/051/shangou_06.jpg" alt=""/></a>
    <a href="/g?gId=48782"><img src="/images/activities/051/shangou_07.jpg" alt=""/></a>
    <a href="/g?gId=55884"><img src="/images/activities/051/shangou_08.jpg" alt=""/></a>
    <a href="/g?gId=49784"><img src="/images/activities/051/shangou_09.jpg" alt=""/></a>
    <a href="/g?gId=41072"><img src="/images/activities/051/shangou_10.jpg" alt=""/></a>
    <a href="/g?gId=49708"><img src="/images/activities/051/shangou_11.jpg" alt=""/></a>
    <a href="/g?gId=48785"><img src="/images/activities/051/shangou_12.jpg" alt=""/></a>
    <a href="/g?gId=48830"><img src="/images/activities/051/shangou_13.jpg" alt=""/></a>
    <a href="/g?gId=27478"><img src="/images/activities/051/shangou_14.jpg" alt=""/></a>
    <a href="/g?gId=37394"><img src="/images/activities/051/shangou_15.jpg" alt=""/></a>
    <a href="/g?gId=56720"><img src="/images/activities/051/shangou_16.jpg" alt=""/></a>
    <a href="#"><img src="/images/activities/051/shangou_17.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>
