{{#extend "header"}}
<title id="title">平行进口车 正式启买</title>
<style type="text/css">
    .car-body{
        width: 100%;
    }
    .car-body a img{
        display: block;
        width: 100%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>平行进口车 正式启买</nav>
</header>
<div class="car-body">
    <a><img src="/images/activities/052/qiche_01.jpg" alt=""></a>
    <a href="tel:4008150988"><img src="/images/activities/052/qiche_02.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60646"><img src="/images/activities/052/qiche_03.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60648"><img src="/images/activities/052/qiche_04.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60649"><img src="/images/activities/052/qiche_05.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60650"><img src="/images/activities/052/qiche_06.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60652"><img src="/images/activities/052/qiche_07.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60651"><img src="/images/activities/052/qiche_08.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60654"><img src="/images/activities/052/qiche_09.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60655"><img src="/images/activities/052/qiche_10.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60656"><img src="/images/activities/052/qiche_11.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60653"><img src="/images/activities/052/qiche_12.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60657"><img src="/images/activities/052/qiche_13.jpg" alt=""></a>
    <a href="/g?sId=1&gId=60658"><img src="/images/activities/052/qiche_14.jpg" alt=""></a>
    <a ><img src="/images/activities/052/qiche_15.jpg" alt=""></a>
    <a class="return_top"><img src="/images/activities/052/qiche_16.jpg" alt=""></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/003"></script>
