{{#extend "header"}}
<title id="title">母亲节示爱之选</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }
    .ui-body a {
        display: block;
        float: left;
        overflow: hidden;
    }
    .fenlan3{
        width: 26.8%;
    }
    .fenlan2{
        width: 50%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>母亲节示爱之选</nav>
</header>
<div class="ui-body">
    <a href="javascript:;"><img src="/images/activities/054/mother_01.jpg" alt=""/></a>
    <!--红包-->
    <a href="javascript:;" class="ui-getRPB-100 fenlan3"><img src="/images/activities/054/mother_02.jpg" alt=""/></a>
    <a href="javascript:;" class="ui-getRPB-300 fenlan3"><img src="/images/activities/054/mother_03.jpg" alt=""/></a>
    <a href="javascript:;" class="ui-getRPB-500 fenlan3"><img src="/images/activities/054/mother_04.jpg" alt=""/></a>
    <a href="javascript:;" style="width: 19.6%;"><img src="/images/activities/054/mother_05.jpg" alt=""/></a>
    <a href="javascript:;"><img src="/images/activities/054/mother_06.jpg" alt=""/></a>
    <a href="/g?gId=13408"><img src="/images/activities/054/mother_07.jpg" alt=""/></a>
    <a href="/g?gId=57945"><img src="/images/activities/054/mother_08.jpg" alt=""/></a>
    <a href="/g?gId=13384" class="fenlan2"><img src="/images/activities/054/mother_09.jpg" alt=""/></a>
    <a href="/g?gId=61378" class="fenlan2"><img src="/images/activities/054/mother_10.jpg" alt=""/></a>

    <a href="javascript:;"><img src="/images/activities/054/mother_11.jpg" alt=""/></a>
    <a href="/g?gId=49286"><img src="/images/activities/054/mother_12.jpg" alt=""/></a>
    <a href="/g?gId=30051"><img src="/images/activities/054/mother_13.jpg" alt=""/></a>
    <a href="/g?gId=10664" class="fenlan2"><img src="/images/activities/054/mother_14.jpg" alt=""/></a>
    <a href="/g?gId=52853" class="fenlan2"><img src="/images/activities/054/mother_15.jpg" alt=""/></a>

    <a href="javascript:;"><img src="/images/activities/054/mother_16.jpg" alt=""/></a>
    <a href="/g?gId=52528"><img src="/images/activities/054/mother_17.jpg" alt=""/></a>
    <a href="/g?gId=25883"><img src="/images/activities/054/mother_18.jpg" alt=""/></a>
    <a href="/g?gId=57866"><img src="/images/activities/054/mother_19.jpg" alt=""/></a>
    <a href="/g?gId=40384"><img src="/images/activities/054/mother_20.jpg" alt=""/></a>

    <a href="javascript:;"><img src="/images/activities/054/mother_21.jpg" alt=""/></a>
    <a href="/g?gId=52570"><img src="/images/activities/054/mother_22.jpg" alt=""/></a>
    <a href="/g?gId=57564"><img src="/images/activities/054/mother_23.jpg" alt=""/></a>
    <a href="/g?gId=57576"><img src="/images/activities/054/mother_24.jpg" alt=""/></a>
    <a href="/g?gId=40444"><img src="/images/activities/054/mother_25.jpg" alt=""/></a>
    <a href="javascript:;" class="goto-top"><img src="/images/activities/054/mother_26.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/054"></script>
