{{#extend "header"}}
<title id="title">浓情端午 500万现金券免费送</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }
    .ui-body a {
        display: block;
        float: left;
        overflow: hidden;
    }
    .fenlan2{
        width: 50%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back_goback"></a>浓情端午 500万现金券免费送</nav>
</header>
<div class="ui-body">
    <a href="javascript:;" class="ui-getRPB-999"><img src="/images/activities/056/duanwu_01.jpg" alt=""/></a>
    <!--红包-->
    <a href="javascript:;"><img src="/images/activities/056/duanwu_02.jpg" alt=""/></a>
    <a href="/g?gId=58301"><img src="/images/activities/056/duanwu_03.jpg" alt=""/></a>
    <a href="/g?gId=41408"><img src="/images/activities/056/duanwu_04.jpg" alt=""/></a>


    <a href="javascript:;"><img src="/images/activities/056/duanwu_05.jpg" alt=""/></a>
    <a href="/g?gId=59489" class="fenlan2"><img src="/images/activities/056/duanwu_06.jpg" alt=""/></a>
    <a href="/g?gId=65683" class="fenlan2"><img src="/images/activities/056/duanwu_07.jpg" alt=""/></a>
    <a href="/g?gId=31690" class="fenlan2"><img src="/images/activities/056/duanwu_08.jpg" alt=""/></a>
    <a href="/g?gId=52442" class="fenlan2"><img src="/images/activities/056/duanwu_09.jpg" alt=""/></a>

    <a href="javascript:;"><img src="/images/activities/056/duanwu_10.jpg" alt=""/></a>
    <a href="/g?gId=44550"><img src="/images/activities/056/duanwu_11.jpg" alt=""/></a>
    <a href="/g?gId=48687" class="fenlan2"><img src="/images/activities/056/duanwu_12.jpg" alt=""/></a>
    <a href="/g?gId=48102" class="fenlan2"><img src="/images/activities/056/duanwu_13.jpg" alt=""/></a>
    <a href="/g?gId=59493" class="fenlan2"><img src="/images/activities/056/duanwu_14.jpg" alt=""/></a>
    <a href="/g?gId=49784" class="fenlan2"><img src="/images/activities/056/duanwu_15.jpg" alt=""/></a>


    <a href="javascript:;"><img src="/images/activities/056/duanwu_16.jpg" alt=""/></a>
    <a href="/g?gId=60242" class="fenlan2"><img src="/images/activities/056/duanwu_17.jpg" alt=""/></a>
    <a href="/g?gId=58929" class="fenlan2"><img src="/images/activities/056/duanwu_18.jpg" alt=""/></a>
    <a href="/g?gId=15459" class="fenlan2"><img src="/images/activities/056/duanwu_19.jpg" alt=""/></a>
    <a href="/g?gId=62458" class="fenlan2"><img src="/images/activities/056/duanwu_20.jpg" alt=""/></a>


    <a href="javascript:;"><img src="/images/activities/056/duanwu_21.jpg" alt=""/></a>
    <a href="/g?gId=40965"><img src="/images/activities/056/duanwu_22.jpg" alt=""/></a>
    <a href="/g?gId=40994" class="fenlan2"><img src="/images/activities/056/duanwu_23.jpg" alt=""/></a>
    <a href="/g?gId=41015" class="fenlan2"><img src="/images/activities/056/duanwu_24.jpg" alt=""/></a>
    <a href="/g?gId=30092" class="fenlan2"><img src="/images/activities/056/duanwu_25.jpg" alt=""/></a>
    <a href="/g?gId=40384" class="fenlan2"><img src="/images/activities/056/duanwu_26.jpg" alt=""/></a>
    <a href="javascript:;" class="goto-top"><img src="/images/activities/056/duanwu_27.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/056"></script>
