{{#extend "header"}}
<title id="title">端午聚会 把酒言欢</title>
<style type="text/css">
    .ui-body{
        width: 100%;
    }
    .ui-body a {
        display: block;
        float: left;
        overflow: hidden;
    }
    .fenlan2{
        width: 50%;
    }
</style>
{{/extend}}
<header class="main_head">
    <nav class="nav"><a href="javascript:;" class="back _goback"></a>端午聚会 把酒言欢</nav>
</header>
<div class="ui-body">
    <a href="javascript:;"><img src="/images/activities/057/jiushui_01.jpg" alt=""/></a>
    <!--红包-->
    <a href="javascript:;" class="ui-getRPB-998"><img src="/images/activities/057/jiushui_02.jpg" alt=""/></a>
    <a href="javascript:;"><img src="/images/activities/057/jiushui_03.jpg" alt=""/></a>
    <!--亲密无间-->
    <a href="/g?gId=60095" class="fenlan2"><img src="/images/activities/057/jiushui_04.jpg" alt=""/></a>
    <a href="/g?gId=40733" class="fenlan2"><img src="/images/activities/057/jiushui_05.jpg" alt=""/></a>
    <a href="/g?gId=13155" class="fenlan2"><img src="/images/activities/057/jiushui_06.jpg" alt=""/></a>
    <a href="/g?gId=23723" class="fenlan2"><img src="/images/activities/057/jiushui_07.jpg" alt=""/></a>
    <!--温馨浪漫-->
    <a href="javascript:;"><img src="/images/activities/057/jiushui_08.jpg" alt=""/></a>
    <a href="/g?gId=13189" class="fenlan2"><img src="/images/activities/057/jiushui_09.jpg" alt=""/></a>
    <a href="/g?gId=60096" class="fenlan2"><img src="/images/activities/057/jiushui_10.jpg" alt=""/></a>
    <a href="/g?gId=13173" class="fenlan2"><img src="/images/activities/057/jiushui_11.jpg" alt=""/></a>
    <a href="/g?gId=10355" class="fenlan2"><img src="/images/activities/057/jiushui_12.jpg" alt=""/></a>
    <!--轻松惬意-->
    <a href="javascript:;"><img src="/images/activities/057/jiushui_13.jpg" alt=""/></a>
    <a href="/g?gId=10337" class="fenlan2"><img src="/images/activities/057/jiushui_14.jpg" alt=""/></a>
    <a href="/g?gId=10340" class="fenlan2"><img src="/images/activities/057/jiushui_15.jpg" alt=""/></a>
    <a href="/g?gId=10433" class="fenlan2"><img src="/images/activities/057/jiushui_16.jpg" alt=""/></a>
    <a href="/g?gId=23728" class="fenlan2"><img src="/images/activities/057/jiushui_17.jpg" alt=""/></a>
    <!--组合购买-->
    <a href="javascript:;"><img src="/images/activities/057/jiushui_18.jpg" alt=""/></a>
    <a href="/g?gId=60097"><img src="/images/activities/057/jiushui_19.jpg" alt=""/></a>
    <a href="/g?gId=60091"><img src="/images/activities/057/jiushui_20.jpg" alt=""/></a>
    <a href="/g?gId=27864"><img src="/images/activities/057/jiushui_21.jpg" alt=""/></a>
    <a href="/g?gId=59064"><img src="/images/activities/057/jiushui_22.jpg" alt=""/></a>
    <a href="/g?gId=10465"><img src="/images/activities/057/jiushui_23.jpg" alt=""/></a>
    <a href="/g?gId=10421"><img src="/images/activities/057/jiushui_24.jpg" alt=""/></a>

    <a href="javascript:;" class="goto-top"><img src="/images/activities/057/jiushui_25.jpg" alt=""/></a>
</div>
<div id="return_top"></div>
<script src="/js/lib/require.js" data-main="/js/buy/activities/057"></script>
